$border-color: #c2c2c2;

.bCalendar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-self: flex-start;
  padding: 0 40px 40px 40px;
  background: #fff;
}

.eCalendar_navBar {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin-top: 10px;
}

.eCalendar_item {
  display: flex;
  color: #333;
  cursor: pointer;
  margin: 0 7px;
  &.mNameMonth {
    font-weight: bold;
    color: #333;
    cursor: default;
    line-height: 20px;
    font-size: 16px;
  }
}
.eCalendar_item .bIcon {
  color: #0079be;
  width: 14px;
  height: 14px;
}
.eCalendar_item:hover .bIcon {
  color: $COLOR;
}
.eCalendar_eMonth {
  display: flex;
  flex-flow: column wrap;
}

.eMonth_row {
  display: flex;
}

.eMonth_day {
  display: flex;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: solid 1px #dddddd;
  border-radius: 10%;
  margin: 3px;
  background: #fff;
  color: #8c8c8c;
  font-size: 22px;
  &.mFirst {
  }
  &.mWeekName {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    color: #8c8c8c;
    cursor: default;
    height: 40px;
    background: #fff
  }
  &.mToday {
    background: #fff url('/images/today_calendar_day.png') center;
    &.mSelect {
      color: #fff;
      background: $blueColor url('/images/today_calendar_day.png') center;
    }
    &.mActive {
      background: #fff url('/images/today_calendar_day.png') center;
      &:hover {

      }
    }
  }
  &.mPrev,
  &.mNext {
    cursor: default;
    background: #fff;
    color: rgba(0, 0, 0, .2);
    &.hover {
      border-color: $DarkGreen;
      color: $DarkGreen;
    }
  }
  &.mActive {
    background: #b2d7ec;;
    color: $blueColor;
    &:hover {
      border-color: #0079be;
      color: #0079be;
    }
  }
  &.mSelect {
    color: #fff;
    background: #0079be;
  }
  &:hover {
    border-color: #0079be;
  }
}

.eCalendar_eEventsPanel {
  width: 400px;
  padding: 0 20px;
  margin-left: 15px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}