$border-color: #eee;

.bCalendar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.eCalendar_navBar {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
}

.eCalendar_item {
  display: flex;
  color: #428bca;
  cursor: pointer;
  margin: 0 7px;
  &.mNameMonth {
    font-weight: bold;
    color: #000;
    cursor: default;
  }
}

.eCalendar_eMonth {
  display: flex;
  flex-flow: column wrap;
  width: 350px;
}

.eMonth_row {
  display: flex;
  border-bottom: 1px solid $border-color;
}

.eMonth_day {
  display: flex;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid $border-color;
  &.mFirst {
    border-left: 1px solid $border-color;
  }
  &.mWeekName {
    border: 0;
    font-weight: bold;
    cursor: default;
  }
  &.mToday {
    background-color: #428bca;
    color: #fff;
  }
  &.mHover {
    background-color: #5bc0de;
    color: #fff;
  }
  &.mPrev,
  &.mNext {
    cursor: default;
    color: rgba(0, 0, 0, .2);
    &.mHover {
      background-color: #fff;
    }
  }
  &.mActive {
    color: #fff;
    background: red;
    &.mHover {
      background-color: #5bc0de;
      color: #fff;
    }
  }
  &.mSelect {
    color: #fff;
    background-color: #000;
  }
}

.eCalendar_eEventsPanel {
  width: 400px;
  padding: 0 20px;
  margin-left: 15px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}