@import "../../!variables";
@import "../../bootstrap-custom";

.bEventPerformance {

}

.eEventPerformance_header {
  display: flex;
  justify-content: flex-end;

  padding-top: 15px;
  padding-right: 15px;
}

.eEventPerformance_body {

}

.eEventPerformance_teams {
 @include make-row();
  &.mIndivid{
    .mPerformance {
      @include make-md-column(6);
      @include make-sm-column(6);
    }
  }
}
.eEventPerformance_col {
  @include make-md-column(6);
  @include make-sm-column(6);
}
