.bEventResult {
  display: flex;
  flex-direction: column;
  background: #007dbe;
  color: #fff;
  width: 80px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.eEventResult_time {
  border-radius: 50%;
  border: 1px dotted #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.eEventResult_score {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.eEventResult_point {
  font-size: 30px;
}
