.bEventHeader {
  display: flex;
  align-content: center;
  width: 50%;
  border: $BORDER;
  background: #fff;
  box-sizing: border-box;
  min-width: 200px;
}

.eEventHeader_field {
  font-size: 14px;
  width: 200px;
  text-transform: capitalize;
  text-align: center;
  &:last-child {
  }
}

.eEventHeader_field.mName {
  font-size: 18px;
  color: $MAIN_COLOR;
  font-weight: bold;
  text-align: center;
  width: 80%;
  max-height: 70px;
  overflow: hidden;
}
.eEventHeader_field.mDate {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.eEventHeader_field.mEvent{
  margin-bottom: 10px;
  font-weight: normal;
}
.eEventHeader_field.mType{
  border-bottom: $BORDER;
  border-top: $BORDER;
  margin-bottom: 15px;
  padding: 2px 0;
  min-height: 15px;
}
.bEventHeader_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  min-height: 120px;
}
.eEventHeader_field_wrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.eEventHeader_field_wrap .eEventHeader_field{
  width: 100%;
}
.eEventHeader_field.mSport{
  display: flex;
}