.bEventInfo {
  width: 940px;
  margin: 0 auto;
  border: $BORDER;
  background: #fff;
}
.eEventInfo_type {
  margin: 10px auto;
  color: #333132;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.eEventInfo_InfoContainer {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.eEventInfo_SportInfo {
  display: block;
  text-align: center;
}

.eEventInfo_EventTypeInfo {
  display: block;
  text-align: center;
}