@import "../../!variables";

.eLink_CancelEvent {
  text-align: center;
  margin-top: 10px;

  a {
    color: $lightBlue;
    text-decoration: underline;
    padding-top:10px;
    &:hover{
      text-decoration: none;
    }
  }
}