@import "../../!variables";
@import "../../bootstrap-custom";

.bEventHeader {
  @extend .container;
  margin-bottom: 20px;
}

.eEventHeader_row {
  @include make-row();
}

.eEventHeader_leftSide {
  @include make-md-column-offset(1);
  @include make-md-column(6);
  @extend .col-sm-8
}

.eEventHeader_rightSide {
  display: flex;
  justify-content: flex-end;

  @include make-md-column(4);
  @extend .col-sm-4
}

.eEventHeader_editLinkWrapper {
  position: absolute;

  top: -16px;

  margin-left: 10px;
}

.eEventHeader_editLink {
  font-size: 16px;
  color: #008ed3;

  &:hover {
    text-decoration: underline;
  }
}

.eEventHeader_field {
  text-transform: none;
  text-align: center;
  font-size: 1.2rem;

  margin: 10px 0;

  &.mEvent{
    font-size: 1.5625rem;
    text-align: left;
    text-overflow: ellipsis;
  }
  &.mDate,
  &.mAges {
    color: $GrayText;
    text-align: left;
  }
}

.eEventHeader_fieldColumn {
  display: inline-block;
  vertical-align: top;

  &.mRelative {
    position: relative;
  }
}
@media (max-width: $screen-xs-max) {
  .eEventHeader_field {
    text-align: center;
    &.mDate {
      font-size: 1rem;
    }
  }
}