.bEventRivals {
  border: $BORDER;
  background: #fff;
  display: flex;
  width: 50%;
  box-sizing: border-box;
  min-width: 200px;
}

.eEventRivals_rival {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.eEventRivals_pic {
  max-height: 75px;
  margin-top: 10px;
  max-width: 75px;
}

.eEventRivals_name {
  text-align: center;
}

/* .bEventRival */

.bEventRival {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.eEventRival_name {
  border-top: $BORDER;
  border-bottom: $BORDER;
  margin-bottom: 15px;
  padding: 2px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  min-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

