@import "../../bootstrap-custom";

.bEventMiddleSideContainer {
  @extend .container;

  &_row {
    @include make-row();
    position: relative;
  }
  &_buttons {
    @include make-md-column-offset(1);
    @include make-md-column(10);
    @extend .col-sm-12;
    position: absolute;
    z-index: 10;
    text-align: right;

    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.bEventMiddleSideContainer_leftSide {
  display: inline-block;
  width: 840px;

  vertical-align: top;
}

.bEventMiddleSideContainer_rightSide {
  display: inline-block;
  width: 100px;
  padding-top: 15px;

  vertical-align: top;
}