.eEventSport {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 30px;
}
.eEventSport_icon {
  margin: 0 7px;
}
.eEventSport_name {
  display: inline-block;
  margin: 0 7px;
  text-align: center;
  &.mBig {
    font-size: 20px;
  }
}