@import "../../!variables";
@import "../../bootstrap-custom";

.bEventContainer {
  margin: 0 auto;

  &.mTopMargin {
    margin: 45px auto 0px;
  }
}

.bEvent {
  width: 100%;
}

.bEventBottomContainer {
  @extend .container;
}

.eEvent_commentText {
  padding: 6px 0;
  box-sizing: border-box;
  transition: height .3s ease-out;
  &.mHide {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
.eEvent_shadowCommentText {
  padding: 6px 0;
  background: #eee;
  transition: height .3s ease-out;
  box-sizing: border-box;
}
.eEvent_commentHeader {
  background: #ccc;
  padding: 6px;
  text-align: center;
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}

.bBlog_box {
  $LinkColor: #749500;

  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: auto;
  position: relative;
  display: flex;

  .eMessageBox {
    font-size: 14px;
    width: 535px;
    margin-left: 20px;
    .eUsername {
      font-weight: bold;
    }
    .eUsername {
      display: block;
    }
    .eMessage, .eUsernameReply {
      display: inline-block;
      padding: 10px 10px 10px 0;
      line-height: 16px;
      white-space: pre-line;
    }
    .eUsername, .eUsernameReply {
      color: $blueColor;
    }
  }
}
.bBlog_box.mNewComment {
  border: none;
}
.ePicBox {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.cancel {
  background-color: #cccccc;
  text-align: center;
}
.cancel:hover:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 0 0 darken(#cccccc, 10%);
  border-radius: 4px;
}
.cancel:active {
  background-color: #cccccc;
}
.cancel:active:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border-radius: 4px;

  bottom: auto;
  top: 2px;
  box-shadow: 0px -2px 0 0 darken(#cccccc, 10%);
}
.eEvent_blog {
  position: relative;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
  -ms-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
  height: auto;
}
.bBlog_timestamp {
  color: #919191;
  font-size: 11px;
}
.bBlog_textArea_container {
  -webkit-transition: display 13s;
  -moz-transition: display 3s;
  -ms-transition: display 3s;
  -o-transition: display 3s;
  transition: display 13s;
  margin-bottom: 20px;
}
.bBlogMain {
  position: relative;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;

  .bEventButtons {
    justify-content: flex-start;
    padding-left: 65px;
  }
}

.eComment_notification {
  background: #c8cdd0;
  padding: 2px;
  text-align: center;
  display: none;
}
.cCollapse {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
  background: #E9EDF1;
  color: #6A7989;
  cursor: pointer;
}
.bBlog_replyContainer {
  width: 100%;
  height: auto;
  float: left;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
  -ms-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
}
.eEvent_comment {
  width: 100%;
}
.eEvent_commentBox {
  color: #333132;
  max-width: 940px;
  margin: 20px auto;
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  .eEvent_comment {
    background: #fff;
    border: solid 1px #d7d7d7;
    width: 100%;
  }
}
.bIcon_mSport {
  width: 60px;
  height: 60px;
  margin: auto;
}
.calendar_mSport {
  width: 40px;
  height: 40px;
  margin: auto;
}
/*.bMainComment {
  display: flex;
  align-items: center;
}
.bMainComment_pic {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.bMainComment_pic img {
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
}*/
.eEvent_commentBox textarea {
  display: inline-block;
  padding: 10px;
  max-width: 515px;
  resize: none;
}
.eEvent_commentBlog {
  margin-left: 20px;
  width: 535px;
  position: relative;
}
.eEvent_commentBlog:before, .eEvent_commentBlog:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  left: 0;
  border-width: 7px 7px 7px 0;
  border-style: solid;
  border-color: transparent #ccc;
  z-index: 300;
  margin-left: -7px;
}

.eEvent_commentBlog:after {
  border-color: transparent #fff;
  margin-left: -5px;
}
.eCommentDate, .eReply {
  color: #959595;
  margin-right: 20px;
  cursor: pointer;
}
.eReply:hover {
  color: $blueColor;
}

.mIndividualScoreAvailable{
  &.eForm_field{
    margin: 10px 0 0;
    max-width: 200px;

    .eForm_fieldName{
      width: 200px;
    }
  }

}
.eEvent_loading {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.eRightButtonColumn{
  margin-left: 15px;
  width: 50%;
  display: inline-block;
}
.bEventMiddleSideContainer_buttons .bButton.mCircle{
  margin-right: 3px;
}

.bEventMap {
  @extend .container;
  padding-top: 15px;

  &_row {
    @include make-row()
  }

  &_col {
    @include make-md-column-offset(1);
    @include make-md-column(10)
  }

  .bMapView{
    height: 300px;
  }

}