.bEventContainer {
  padding: 10px 40px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.eEventContainer_buttons {
  display: flex;
  justify-content: center;
}

.bEvent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eEvent_points {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $MAIN_COLOR;
  font-size: 25px;
}

.eEvent_commentText {
  padding: 6px 0;
  box-sizing: border-box;
  background: #eee;
  transition: height .3s ease-out;
  &.mHide {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

.eEvent_commentHeader {
  background: #ccc;
  padding: 6px;
  text-align: center;
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}
