.bEventContainer {
  padding: 10px 40px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.eEventContainer_buttons {
  display: flex;
  justify-content: center;
}

.bEvent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eEvent_points {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $MAIN_COLOR;
  font-size: 25px;
}

.eEvent_commentText {
  padding: 6px 0;
  box-sizing: border-box;
  background: #eee;
  transition: height .3s ease-out;
  &.mHide {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
.eEvent_shadowCommentText{
  padding: 6px 0;
  background:#eee;
  transition: height .3s ease-out;
  box-sizing: border-box;
}
.eEvent_commentHeader {
  background: #ccc;
  padding: 6px;
  text-align: center;
  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}
.bBlog_box{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  height:auto;
  overflow: hidden;
}
.bBlog_parent_comment{
  position:relative;
  height: auto;
  display: flex;
}
.bBlog_box_reply{
  width: 80%;
  margin-left: 60px;
  margin-bottom: 10px;
  position:relative;
  height: auto;
  display: flex;
}
.bBlog_picBox{
  width:64px;
  float:left;
}
.bBlog_picBox_reply{
  width:64px;
  float:left;
}
.bBlog_picBox_reply img{
  width:inherit;
  height: 64px;
}
.bBlog_pic{
  width:64px;
  display: block;
}
.bBlog_pic img{
  width:inherit;
  height: 64px;
}
.bBlog_messageBox{
  font-size: 14px;
}
.bBlog_messageBox_reply{
  height: auto;
  font-size: 14px;
}
.bBlog_username,.bBlog_message,.bBlog_replyButton{
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
}
.bBlog_username_reply, .bBlog_message_reply,.bBlog_replyButton_reply{
  display: block;
  padding: 0 0 10px 10px;
}
.bBlog_username, .bBlog_username_reply{
  color: $COLOR;
}
.bBlog_replyButton, .bBlog_replyButton_reply{
  color: #919191;
}
.eEvent_commentBlog{
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  background: #eaeaea;;
}
.eBlog_replyTextArea{
  height:60px;
}
.bReplyButton{
  width: 40px !important;
  position: absolute !important;
  margin-left: 10px;
  margin-top: 30px;
}
.cancel{
  margin-left:90px !important;
  background-color:#cccccc;
}
.cancel:hover:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 0 0 darken(#cccccc, 10%);
  border-radius: 4px;
}
.cancel:active{
  background-color:#cccccc;
}
.cancel:active:before{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border-radius: 4px;

  bottom: auto;
  top: 2px;
  box-shadow: 0px -2px 0 0 darken(#cccccc, 10%);
}
.eEvent_blog{
  background: #FFFFFF;
  position: relative;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
  -ms-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
  height: auto;
}
.bBlog_timestamp{
  color: #919191;
  font-size: 11px;
}
.bBlog_textArea_container{
  -webkit-transition: display 13s;
  -moz-transition: display 3s;
  -ms-transition: display 3s;
  -o-transition: display 3s;
  transition: display 13s;
  margin-bottom: 20px;
}
.bBlogMain{
  position:relative;
  border: $BORDER;
  background: #fff;
  margin-top: 10px;
  padding: 10px;
}
.bBlogMain .bEventHeader{
  border: none;
  background: transparent;
  color: $COLOR;
  height: auto;
  margin: 0;
}
.bBlogMain .eEventHeader_field.mDate{
  font-size: 16px
}
.bBlogMain .eEventHeader_field{
  width: auto;
}
.bBlogMain .eEventHeader_field.mName,
.bBlogMain .eEventHeader_field.mSport
{
  display: none;
}
.eComment_notification{
  background: #c8cdd0;
  padding: 2px;
  text-align: center;
  display: none;
}
.cCollapse{
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
  background: #E9EDF1;
  text-transform: uppercase;
  color: #6A7989;
  cursor: pointer;
}
.bBlog_replyContainer{
  width: 100%;
  height: auto;
  float:left;
  -webkit-transition: height 3s;
  -moz-transition: height 3s;
  -ms-transition: height 3s;
  -o-transition: height 3s;
  transition: height 3s;
}
.eEvent_commentBox{
  color: $COLOR;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 10px;
}
.eEvent_commentBox .eEvent_comment{
  width: 100%;
}
.bIcon_mSport{
  width: 60px;
  height: 60px;
  margin: auto;
}
.calendar_mSport {
  width: 40px;
  height: 40px;
  margin: auto;
}