.bEventAlbums {
	display: flex;
	width: 100%;
	padding: 5px 0;
	flex-flow: wrap;
	justify-content: flex-start;
}

.bEventAlbums_header {
	width: auto;
	height: 25px;
	margin-top: 5px;
	background-color: $MAIN_COLOR;
	border-radius: 4px;
	label {
		line-height: 25px;
		margin-left: 10px;
		color: white;
		float: left;
	}

	label.eEventAlbums_title {
	}

	label.eEventAlbums_action {
		float: right;
		margin-right: 10px;
		font-size: 10pt;
	}


}

.eEventAlbums_album {
	display: flex;
	margin-right: 5px;
	height: 100px;
	width: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: flex-end;
	border: 1px solid #ccc;
	align-items: flex-end;
	cursor: pointer;
	flex-wrap: wrap;

	&.mCreate {
		&:before {
			content: '+';
			font-size: 55px;
			color: rgba(76, 175, 80, 0.5);
			text-align: center;
			vertical-align: middle;
			margin: 0 auto;
			margin-top: 7px;
		}
		&:hover {
			&:before {
				color: $MAIN_COLOR;
			}
		}
	}

	.eEventAlbums_albumEdit {
		display: none;
		width:15px;
		height:15px;
		margin: 5px;
		background-image:	url('/images/icons/pencil.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: white;
		text-align: center;
		justify-content: center;
		align-self: flex-start;
		cursor: pointer;
		border: 1px solid #ccc;
		&:hover {
			border-color: red;
		}
	}
	.eEventAlbums_albumDelete{
		@extend .eEventAlbums_albumEdit;

		background-image:	url('/images/icons/trash.svg');
	}

}

.eEventAlbums_albumTitle {
	display: flex;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	text-align: center;
	justify-content: center;
	margin-top: 5px;
	color: #fff;
	font-size: 12px;
}

.eEventAlbums_album {
	&:hover {
		border-color: $MAIN_COLOR;
		.eEventAlbums_albumTitle {
			background: rgba(76, 175, 80, 0.5);
		}
	}
	&:hover {
		& > .eEventAlbums_albumEdit {
			display: flex;
		}
	}
}

