.bEventMiddleSideContainer {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.bEventMiddleSideContainer_leftSide {
  display: inline-block;
  width: 840px;

  vertical-align: top;
}

.bEventMiddleSideContainer_rightSide {
  display: inline-block;
  width: 100px;
  padding-top: 15px;

  vertical-align: top;
}