.bEventResult {
  align-items: center;
  color: #333132;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
}

.eEventResult_time {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.eEventResult_score {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.eEventResult_PointsWrapper {
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  white-space: nowrap;
}

.eEventResult_PointSideWrapper {
  display: inline-block;
}

.eEventResult_Point {
  display: inline-block;
}

.eEventResult_Colon {
  display: inline-block;

  font-weight: normal;
  color: #878787;
}

.eEventResult_SignContainer {
  display: inline-block;

  width: 18px;
  height: 18px;


  cursor: pointer;
  text-align: center;
}

.eEventResult_Sign {
  display: block;

  width: 11px;
  height: 11px;

  margin: 4px 3px 0 3px;

  color: #333132;
  &:hover {
    color: $COLOR;
  }
}


