@import "../../!variables";

.bEventButtons {
  display: flex;
  justify-content: flex-end;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.bEventButtons_action {
  position: absolute;
  width: 100%;
}