.bEventMiddleSideContainer {

}

.bEventMiddleSideContainer_leftSide {
  display: inline-block;
  width: 430px;

  vertical-align: top;
}

.bEventMiddleSideContainer_rightSide {
  display: inline-block;
  width: 270px;
  padding-top: 15px;

  vertical-align: top;
}