@import "../../!variables";

.bEventAlbums {
	display: flex;
  	margin-left: -15px;
	width: 100%;
	flex-flow: wrap;
	justify-content: flex-start;
}

.bEvent_media{
  display: flex;
}
.bEventAlbums_header {
	width: auto;
	height: 25px;
	margin-top: 5px;
	border-radius: 4px;
	label {
		line-height: 25px;
		margin-left: 10px;
		float: left;
	  	color: $COLOR;
	  	font-weight: bold;
	}

	label.eEventAlbums_title {
	}

	label.eEventAlbums_action {
		float: right;
		margin-right: 10px;
		font-size: 10pt;
	}


}

.albums_wrap{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.eAlbum {
  display: flex;
  margin: 10px 15px;
  height: 150px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ccc;
  align-items: flex-end;
  cursor: pointer;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  &.mCreate {
	&:before {
	  content: '+';
	  font-size: 24px;
	  color: #fff;
	  text-align: center;
	  vertical-align: middle;
	  width: 21px;
	  height: 21px;
	  line-height: 26px;
	  border: $BORDER;
	  border-radius: 50%;
	  background: $blueColor;
	  margin: auto;
	}
  }
  .eAlbumEdit {
	width:15px;
	height:15px;
	margin: 5px;
	background-image:	url('/images/icons/pencil.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	justify-content: center;
	align-self: flex-start;
	cursor: pointer;
  }
  .eAlbumDelete{
	@extend .eAlbumEdit;
	background-image:	url('/images/icons/trash.svg');
  }
}
.bSchoolGallery .eAlbum {
	display: flex;
	margin: 10px;
	height: 150px;
	width: 160px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ccc;
	justify-content: flex-end;
	cursor: pointer;
	flex-wrap: wrap;
  	flex-direction: column;
  	position: relative;

	.eAlbumEdit {
		width:15px;
		height:15px;
		margin: 5px;
		background-image:	url('/images/icons/pencil.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		justify-content: center;
		align-self: flex-start;
		cursor: pointer;
	}
	.eAlbumDelete{
		@extend .eAlbumEdit;
		background-image:	url('/images/icons/trash.svg');
	}
}
.eAlbumTitle, .eAlbumDate{
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bSchoolGallery .eAlbumTitle {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	font-size: 15px;
  	font-weight: bold;
  	max-height: 50%;
  	color: #fff;
  	padding-top: 5px;
}
.bSchoolGallery .eAlbumDate {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  background: #333132;
  color: #7f7e7c;
}
.eAlbum {
	&:hover {
		border-color: $blueColor;
	}
	&:hover {
		& > .eAlbumActions {
		  	max-height: 25px;
		  	overflow: visible;
		}
	}
}
.eAlbumActions{
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
.eAlbumInfo{
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7f7e7c;
}
.eAlbumActions .bIcon {
  color: #c2c2c2;
}
.eAlbumActions .bIcon:hover {
  color: #fff;
}

.bSchoolGallery .eSchoolMaster_wrap {
  justify-content: space-between;
  border-bottom: solid 1px #d2d2d2;
  height: 70px;

  .eSchoolMaster_title {
    margin: 0;
    text-align: center;
    flex-basis: 50%;

    span {
      color: #88adc9;
      font-size: 23px;
      margin-left: 5px;
    }
  }

  .eSchoolMaster_button {
    margin-right: 20px;

    button {
      font-size: 16px;
      width: auto;
      background-color: #DCE9EF;
      color: #333132;
      border: none;
      border-radius: inherit;
      line-height: 37px;
      height: 37px;
      padding: 0 40px;
    }

    &:hover {
      button {
        background-color: #DCE9EA;
      }
    }
  }
}
