.bEventButtons {
  display: flex;
  justify-content: flex-end;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.bEventButton {
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  background: $MAIN_COLOR;
}
.bEventButton:hover {
 background: $MAIN_COLOR;
}
.bEventButton.mCancel{
  color: #aaaaaa;
  background: transparent;
  margin: 0 10px;
}
.bEventButton.mCancel:hover {
  background: transparent;
  color: $COLOR;
}
.bEventButtons_action {
  position: absolute;
  width: 100%;
}