@import "../../!variables";
@import "../../bootstrap-custom";

.bEventHeader {
  @extend .container;
  margin-bottom: 20px;
}

.eEventHeader_row {
  @include make-row();
}

.eEventHeader_leftSide {
  @include make-md-column-offset(1);
  @include make-md-column(6);
  @extend .col-sm-8
}

.eEventHeader_rightSide {
  display: flex;
  justify-content: flex-end;

  @include make-md-column(4);
  @extend .col-sm-4
}

.eEventHeader_editLinkWrapper {
  position: absolute;

  top: -16px;

  margin-left: 10px;
}

.eEventHeader_editLink {
  font-size: 16px;
  color: #008ed3;

  &:hover {
    text-decoration: underline;
  }
}

.eEventHeader_field {
  text-transform: none;
  text-align: center;
  font-size: 1.2rem;

  margin: 10px 0;

  &.mEvent {
    display: flex;
    justify-content: flex-start;

    font-size: 1.5625rem;
    text-align: left;
    text-overflow: ellipsis;

    display: flex;
    justify-content: space-between;
  }
  &.mDate,
  &.mAges {
    color: $GrayText;
    text-align: left;
  }
}

.eEventHeader_fieldColumn {

  &.mRelative {
    position: relative;
    width: 50px;
  }
}
@media (max-width: $screen-xs-max) {
  .eEventHeader_field {
    text-align: center;
    &.mDate {
      font-size: 1rem;
    }
  }
}

.bEventHeaderTwitter {
  .eTwitter{
	padding:5px 10px;
	line-height:1;
	height: auto;
	font-size: 14px;
	background-color: $blueColor;
	color: #ffffff;
	&:hover{
	  color: $blueColor;
	  background-color: #ffffff;
	}
  }
  .eTextArea{
	resize: none;
	width: 500px;
	height: 150px;
	padding: 5px 3px;
  }
  .eTweetLength{
	margin-bottom: 0px;
  }
  .eTweetTitle{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
  }
  .mInvalid{
	color: $INVALID_COLOR;
  }
  .eTweetAccountChooser {
	display: block;
	height: auto;
	width: 33%;
	margin-bottom: 10px;
	padding: 5px 3px;
  }
}

.bEventViewMode{
  display: inline-block;
  margin-top: 10px;
}
.eEventViewModeLink {
  color: $GrayText;
  padding: 0 5px;
  font-size: 1.2rem;
  &:hover{
	color: $blueColor;
  }
  .mActive{
	color: $blueColor;
  }
}