.bEventRivals {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  min-height: 120px;
}

.eEventRivals_rival {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.eEventRivals_pic {
  max-height: 75px;
  margin-top: 10px;
  max-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eEventRivals_name {
  text-align: center;
}

/* .bEventRival */

.bEventRival {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 248px;
  margin: 0 10px;
  align-items: center;
}

.eEventRival_name {
  border-top: $BORDER;
  border-bottom: $BORDER;
  color: #535353;
  font-size: 18px;
  font-weight: bold;
  max-width: 230px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  padding: 5px;
  width: 100%;
}

.eEventRivals_text {
  max-width: 200px;
  padding-top: 10px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
}
