.bEventRivals {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.eEventRivals_rival {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.eEventRivals_pic {
  max-height: 75px;
  margin-top: 10px;
  max-width: 75px;
}

.eEventRivals_name {
  text-align: center;
}

/* .bEventRival */

.bEventRival {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  margin: 0 10px;
  align-items: center;
}

.eEventRival_name {
  border-top: $BORDER;
  border-bottom: $BORDER;
  font-size: 18px;
  width: 100%;
  color: #535353;
  font-weight: bold;
  text-align: center;
  //min-height: 30px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

