@import "../../!variables";

.bEventDetails {
  background: #fff;
  border: $BORDER;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.bEventDetails .eForm_fieldName {
  margin-bottom: 20px;
}