@import "../../!variables";

.bMatchReport{
  background: $secondBackgroundColor;
  border-bottom: $mainBorder;
  min-height: 100px;

  .mNew {
    background: #fff;
    margin-top: 20px;
    padding: 20px 30px;
    min-height: inherit;
  }

  .mAdded {
    padding: 35px;
    min-height: inherit;

  }

  textarea {
    border: none;
    resize: none;
    width: 100%;
  }
}
.eMatchReport_text {
  display: inline-block;
  width: 90%;
  white-space: pre-line;
}
.eMatchReport_btn {
  display: inline-block;
  text-align: right;
  width: 10%;
}

.eMatchReport_buttons {
  display: flex;
  justify-content: flex-end;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}