@import "../../!variables";

.bMatchReport{
  border-bottom: $mainBorder;

  .mNew {
    margin-top: 20px;
    padding: 10px 30px;
  }

  .mAdded {
    background: $secondBackgroundColor;
    padding: 35px;
    word-break: break-all;
  }

  textarea {
    border: none;
    resize: none;
    width: 100%;
  }
}
.eMatchReport_text {
  display: inline-block;
  width: 90%;
  white-space: pre-line;
}
.eMatchReport_btn {
  display: inline-block;
  text-align: right;
  width: 10%;
}