.bEventTeams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto;
  border: $BORDER;
  background: #fff;
  max-width: 704px;
  box-sizing: border-box;
  width: 100%;

  &.mWide {
    max-width: 902px;
  }
}

.bEventTeams_TeamWrapper {

  &.mDisabled {
    display: none;
  }
}

.bEventTeams_team {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 5px 10px 10px;
  min-width: 350px;
  width: 50%
}

.bEventTeams_header {
  padding: 10px;
}

.bEventTeams_teamButton {
  display: inline-block;

  width:    110px;
  height:   30px;
  padding:  0px;
  margin:   0px;

  border:         solid 1px #959595;
  border-radius:  2px;

  font-size:    16px;
  font-weight:  bold;
  font-family:  Glober, sans-serif;
  color:        #616161;

  background-color: white;

  overflow:       hidden;
  text-overflow:  ellipsis;
  white-space:    nowrap;

  &.mRightMargin {
    margin-right: 10px;
  }

  &.mSelected {
    background-color: #d7d7d7;
  }

  &:hover {
    cursor: pointer;
    background-color: #d7d7d7;
  }
}

.bEvents_venue_preview{
  width:100% !important;
  height:100% !important;
}

.eEventTeams_managerWrapper {
  display: inline-block;
}

.eEventTeams_awaiting {
  padding-top: 10px;
  text-align: center;
}