.bEventTeams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 10px;
  border: $BORDER;
  background: #fff;
  padding: 0 25px;
}

.bEventTeams_team {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}
.bEvents_venue_preview{
  width:100% !important;
  height:100% !important;
}

.eEventTeams_managerWrapper {
  margin-top: 10px;
}

.eEventTeams_awaiting {
  padding-top: 10px;
  text-align: center;
}