.bPopupMessage {
  position: fixed;
  z-index: 999;

  left: 10px;
  bottom: 10px;

  width: 400px;

  padding: 20px;

  border: solid 2px #007dbe;
  border-radius: 9px;

  background: white;

  &.mDisable {
    display: none;
  }
}

.ePopupMessage_body {
  padding-bottom: 20px;
  line-height: 140%;
}

.ePopupMessage_footer {

}

.ePopupMessage_ref {
  text-decoration: underline;
  color: #007dbe;
}