.bNewsEdit {
  max-width: 650px;
  margin: 0 auto;
}
.bNewsEdit textarea {
  width: 430px;
  height: 200px;
}
.bNewsEdit .bForm{
  padding: 0;
}

.bNewsEdit .bForm .eDateTimeInput {
  width: 150px;
}

.bNewsEdit .eForm_blazonUpload{
  width: 120px;
  height: 120px;
  position: relative;
}
.bNewsEdit .eForm_blazonPreview{
  position: relative;

  width: 120px;
  height: 80px;
  overflow: hidden;
}

.bNewsEdit .eForm_blazonPreview {

  img {
    width: 120px;
    height: 80px;
  }
  .eLoader_gif img {
    margin: 0;
    height: auto;
  }
}

.bNewsEdit .bButton {
  max-width: 120px;
}