@import "../../!variables";

.bAlbumPhoto {
  transition: opacity 0.3s;
  height: 150px;
  width: 160px;
  box-sizing: content-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40%;
  background-image: url("/images/spin-loader-black.gif");
  position: relative;
  margin: 20px;
  .img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  .bImg_name{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: rgba(140, 140, 140, 0.7);
    line-height: 25px;
    opacity: 0;
    bottom: 0;
    color: #fff;
    transition: line-height, opacity 0.3s;
  }

  &:hover {
    .bImg_name{
      opacity: 1;
    }
  }
}

.bAlbumPhotoLoaded {
  background-image: url("/images/no-image.jpg");
}

.eAlbumPhoto_photoEdit{
  width:15px;
  height:15px;
  position: absolute;
  background-image:	url('/images/icons/pencil.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  z-index: 10;
  &:hover {
    border-color: red;
  }
}
.eAlbumPhoto_photoDelete{
  @extend .eAlbumPhoto_photoEdit;

  background-image:	url('/images/icons/trash.svg');
}
.eAlbumPhoto_photoPin{
  @extend .eAlbumPhoto_photoEdit;

  background-image:	url('/images/icons/check.svg');
}
.bAlbumPhoto {
  &:hover {
    border-color: $blueColor;
    .eAlbumPhoto_photoTitle {
    }

    & > .eAlbumPhoto_photoEdit {
      display: flex;
    }
  }
}
.bAlbumPhoto.mUploading{
  background-size: initial;
  align-items: center;
  justify-content: center;
}

.eAlbumPhoto_photoTitle {
  display: flex;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  min-height: 23px;
  max-height: 56px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}
.bAlbumPhoto:hover .ePhotoActions {
  max-height: 25px;
  overflow: visible;
}
.ePhotoActions {
  display: flex;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}
.ePhotoActions .bIcon {
  color: #c2c2c2;
}
.ePhotoActions .bIcon:hover {
  color: #fff;
}
.ePhotoDelete {
  width: 12px;
  height: 12px;
}



