.bAlbum {
  max-width: 1140px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  flex-flow: column nowrap;
  align-items: center;
}

.eAlbum_title{
  margin-bottom: 20px;
  font-size: 25px;
}

.bAlbums_list {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.eAlbum_listContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.eAlbum_currentPhoto {
  height: 740px;
  text-align: center;
  margin-bottom: 15px;
}

.eAlbum_currentImg{
  max-width: 100%;
}

.eAlbums_photo {
  vertical-align: top;
  height: 50px;
  width: 100px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  outline: 1px solid #fff;
  margin-right: 5px;
  &:hover,
  &.mActive {
    outline: 1px solid #4caf50;
  }
  &.mActive {
    cursor: default;
  }
  &.mUpload {
    text-align: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    background: #ccc;
    font-size: 3em;
  }
}
.eAlbums_input {
  position: absolute;
  opacity: 0;
  height: 50px;
  display: inline-block;
  width: 100px;
  left: 39px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.eBlazon_input{
  left: 0;
  top:0;
}
.eAlbum_ext{
   height: 60px;
  width:60px;
}
.mUpload_ext{
  position:relative;
}
.eBlazon_notify{
  color:orangered;
}
.eBlazon_prev{
  width: 64px;
  height: 64px;
}