.bAlbumPhoto {
  transition: opacity 0.3s;
  height: 150px;
  width: 160px;
  box-sizing: content-box;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/spin-loader-black.gif");
  overflow: hidden;
  position: relative;
  margin: 20px;
  img{
    background-size: cover;
    min-width: 160px;
    min-height: 150px;
  }
}

.bAlbumPhotoLoaded {
  background-image: url("/images/no-image.jpg");
}

.eAlbumPhoto_photoEdit{
  width:15px;
  height:15px;
  position: absolute;
  background-image:	url('/images/icons/pencil.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  z-index: 10;
  &:hover {
    border-color: red;
  }
}
.eAlbumPhoto_photoDelete{
  @extend .eAlbumPhoto_photoEdit;

  background-image:	url('/images/icons/trash.svg');
}
.eAlbumPhoto_photoPin{
  @extend .eAlbumPhoto_photoEdit;

  background-image:	url('/images/icons/check.svg');
}
.bAlbumPhoto {
  &:hover {
    border-color: $MAIN_COLOR;
    .eAlbumPhoto_photoTitle {
    }

    & > .eAlbumPhoto_photoEdit {
      display: flex;
    }
  }
}
.bAlbumPhoto.mUploading{
  background-size: initial;
  align-items: center;
  justify-content: center;
}

.eAlbumPhoto_photoTitle {
  display: flex;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  max-height: 56px;
  position: absolute;
  bottom: 0;
}
.bAlbumPhoto:hover .ePhotoActions {
  display: flex;
}
.ePhotoActions {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: flex-end;
}
.ePhotoActions .bIcon {
  color: #c2c2c2;
}
.ePhotoActions .bIcon:hover {
  color: #fff;
}
.ePhotoDelete {
  width: 12px;
  height: 12px;
}



