.bAlbumPhoto {
	transition: opacity 0.3s;

	vertical-align: top;
  height: 200px;
  width: 200px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/spin-loader-black.gif");
  background-position: 50%;
  outline: 1px solid #fff;
  margin-right: 5px;
}

.bAlbumPhotoLoaded {
  background-image: url("/images/no-image.jpg");
}
