.bInviteAccept {
  width: 1075px;
  margin: 0 auto;
}

.eInviteAccept_footer {
  margin-top: 10px;
}

.eInviteAccept_footerLeftSide {
  display: inline-block;
  width: 930px;
}

.eInviteAccept_footerRightSide {
  display: inline-block;
}