.bInviteAccept {
  margin: 0 auto;
  max-width: 700px;
}

.eInviteAccept_footer {
  margin-top: 10px;
}

.eInviteAccept_footerLeftSide {
  display: inline-block;
}

.eInviteAccept_footerRightSide {
  display: inline-block;
  float: right;
}