.bBigScreenTitle {
  height: 50px;
  text-align: center;
}

.eBigScreenTitle_title {
  display: inline-block;
  width: 200px;
}

.eBigScreenTitle_logo {
  display: inline-block;
  width: 50px;
}

.eBigScreenTitle_time {
  display: inline-block;
  width: 50px;
}