@import "../../!variables";

.bBigEventResultView_bodyLeftSide ,.bBigEventResultView_bodyRightSide{
  box-sizing: border-box;
  color: $textColor;
  display: inline-block;
  padding: 2% 2% 1.5%;
  width: 48%;
}
