.bEventHighlight {
  height: 100%;
  width: 100%;

  &.mDisable {
    display: none;
  }
}

.eEventHighlight_header {
  height: 47%;
}
.eEventHighlight_body {
  margin: 0 auto;
  width: 85%;
}

.eEventHighlight_footer {
  height: 50%;
}