.bEventResultFooter {
  background-image: linear-gradient(to right, transparent, #d2d2d2 50%, transparent);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 1px;
  color: #fff;
  font-size: 1.5rem;
  padding: 1% 0 0.5%;
  text-align: center;
}