.bFooter {
  background-image: linear-gradient(to right, #007dbd 0%, #004071 100%);
  bottom: 0;
  color: #fff;
  font-size: 1.8rem;
  height: 6%;
  line-height: 4.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}