.bUpcomingEventView {
  width: 800px;
}

.eUpcomingEventView_bodyLeftSide {
  display: inline-block;
  vertical-align: center;

  width: 400px;
}

.eUpcomingEventView_bodyRightSide {
  display: inline-block;
  vertical-align: top;

  width: 400px;

  &.mRight {
    text-align: center;
  }
}

.eUpcomingEventView_mainInfoBlock {
  display: inline-block;
  vertical-align: top;

  width: 350px;
  height: 50px;

  &.mRight {
    text-align: center;
  }
}