@import "../!variables";

.bButtonAdd .bIcon {
  height: 28px;
  width: 28px;
  color: $COLOR;
  cursor: pointer;
}
.bButtonAdd:hover .bIcon{
  color: $blueColor;
}

.bCSVDownloadButton {
  height: 30px;
  width: 48px;
  color: $COLOR;
  cursor: pointer;

  background: url(/images/csv_download.png) no-repeat;
  background-size: contain;

  &:hover {
    color: $blueColor;
  }
}