.wrapper-dropdown-5 {
  position: relative;
  min-width: 120px;
  margin: 0 auto;
  padding: 12px 10px;
  z-index: auto;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* arrow on the right (generated content) */
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #000 transparent;
}

.wrapper-dropdown-5 .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  display: none;
  margin-top: 8px;
  min-width: 180px;
}

.wrapper-dropdown-5 .dropdown:before, .dropdown:after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  rigth: 60px;
  margin-top: -8px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2) transparent;
  z-index: 300;
}
.dropdown:after{
  border-color: #fff transparent;
  margin-top: -7px;
}

.wrapper-dropdown-5 .dropdown li {
  //padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li span {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: all 0.3s ease-out;
  //border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li span.mInactive{
  color: #cccccc;
}

.wrapper-dropdown-5 .dropdown li:last-of-type span {
  border: none;
}

.wrapper-dropdown-5 .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover span {
  background: #e6e6e6;
}

.wrapper-dropdown-5 .dropdown li:hover span.mInactive {
  background: #fff;
}

/* Active state */

.wrapper-dropdown-5.active {
  box-shadow: none;
  border-bottom: none;
  //color: #235413;
  z-index: 200;
}

.wrapper-dropdown-5.active:after {
  //border-color: #235413 transparent;
}

.wrapper-dropdown-5.active .dropdown {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: block;
}