
.eAvatar {
  text-align: left;
  width: 100%;
  height: 100%;
  position: relative;

  .bIcon{
    width: 100%;
    height: 100%;
    margin-top: -4px;
	color:#d9edf7;
  }

  .eImg{
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat 50% 50%;
    background-size: cover;
    top:0;
  }
}
