.b404 {
  text-align: center;
  padding: 60px;
}

.e404_header1 {
  padding: 10px;
  color: #007abf;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
}

.e404_header2 {
  padding: 10px;
  font-size: 18px;
}