.bActivateClubConfirmAlert {
  text-align: left;
}

.eActivateClubConfirmAlert_textContainer {
  margin-top: 15px;

  &.mSmallText {
    font-size: 15px;
  }
}

.eActivateClubConfirmAlert_boldText {
  font-weight: bold;
}

