.bActionList {
  position: relative;
  display: inline-block;
}

.eActionList_itemsContainer {
  position: absolute;
  width: 200px;
  margin-top: 3px;

  z-index: 100;

  &.mWide {
    width: 248px;
  }
}

.eActionList_itemListHead {
  height: 8px;
  background: url("/images/team_chooser_list.png") no-repeat bottom;
  background-size: 100% 8px;
}

.eActionList_itemList {
  width: 100%;

  border: solid 1px #c2c2c2;

  background: white;
}