@import "../!variables";

.bActionItem {
  display: flex;
  justify-content: space-between;

  min-height: 19px;
  width: 100%;
  padding: 14px 10px 10px 10px;

  vertical-align: top;

  border-bottom: solid 1px;
  border-color: #c2c2c2;

  color: black;
  font-size: 17px;

  cursor: pointer;

  text-align: left;

  &:hover {
    background-color: #d7d7d7;
    color: black;
  }

  &.mLast {
    border-bottom: none;
  }

  &.mGray {
    color: #8c8c8c;
  }

  &.mBold {
    font-weight: bold;
    color: black;
  }
}