@import "../!variables";

.bActivateClub {
  width: 600px;
  margin: 0 auto;
}

.eActivateClub_calendarLink {
  color: $lightBlue;

  &:hover{
    text-decoration: underline;
  }
}

@media screen and (max-width: 1024px) {
  .bActivateClub {
    width: 575px;
    margin: 0 auto;
  }
}