.bAllowedSports {
  text-align: left;
  width: 340px;
}

.eAllowedSports_header {
  font-size: 16px;
  text-transform: uppercase;

  margin-top: 25px;
  margin-bottom: 25px;
}

.eAllowedSports_body {

}

.eAllowedSports_schoolSports {
  margin-bottom: 30px;
}

.eAllowedSports_schoolSportsHeader {
 margin-bottom: 10px;
}