.bCombobox {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}
.bCombobox:hover .eCombobox_inputContainer {
  color: $textColor;
}

.eCombobox_list {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 100%;
  max-height: 250px;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 2px;
  border: $mainBorder;
  & div {
    cursor: pointer;
    padding-left: 8px;
    &:hover {
      background: #fafafa;
    }
  }
}

.bCombobox.mOpen .eCombobox_list {
  display: block;
}

.eCombobox_option:focus {
  outline: 0;
  color: $blueColor;
}

.eCombobox_input {
  width: 100%;
  display: flex;
  background: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: solid #d7d7d7 1px;

  &:hover{
    border-bottom: solid #959595 1px;
  }
}

.eCombobox_button {
  display: inline-block;
  outline: none;
  top: 8px;
  right: 6px;
  font-size: 14px;
  cursor: default;
  text-align: right;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-width: 7px 5px 0 5px;
  border-style: solid;
  border-color: $blueColor transparent;
}

.eCombobox_button:active {
  color: $blueColor;
}

.eCombobox_option {
  display: block;
  cursor: default;
  color: #333132;
  font-size: 15px;
  padding: 8px;
  font-weight: normal;
}

.eCombobox_option.mSelected {
  background: $blueColor !important;
  color: #ffffff !important;
}

.studentRowActive {
  display: block;
}

.studentRowInActive {
  display: none;
}

.eCombobox_showOptions {
  display: block;
}

.eChooseHouses {
  display: flex;
  align-items: center;
}

.dropbox_icon {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  fill: currentColor;
  color: $COLOR;
}
