.bCombobox {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}

.eCombobox_inputContainer input {
  display: none;
}

.eCombobox_inputContainer .eCombobox_input {
  display: flex;
  height: 37px;
  min-width: 200px;
  cursor: pointer;
  background: #fff;
}

.bCombobox:hover .eCombobox_inputContainer {
  color: black;
}

.eCombobox_list {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 100%;
  max-height: 400px;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 2px;
  border: solid 1px $COLOR;
  & div {
    cursor: pointer;
    padding-left: 8px;
    &:hover {
      background: $MAIN_COLOR;
      color: $COLOR;
    }
  }
}

.bCombobox.mOpen .eCombobox_list {
  display: block;
}

.eCombobox_option:focus {
  outline: 0;
  color: $MAIN_COLOR;
}

.eCombobox_input {
  width: 100%;
  display: flex;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.eCombobox_button {
  display: inline-block;
  position: absolute;
  cursor: default;
  outline: none;
  top: 10px;
  right: 6px;
  font-size: 14px;
  cursor: default;
  color: black;
  text-align: right;
}

.eCombobox_button:active {
  color: $MAIN_COLOR;
}

.eCombobox_option {
  display: block;
  cursor: default;
  color: #333132;
  font-size: 15px;
  padding: 8px;
  font-weight: normal;
}

.eCombobox_option.mSelected {
  background: $MAIN_COLOR !important;
  color: #ffffff !important;
}

.studentRowActive {
  display: block;
}

.studentRowInActive {
  display: none;
}

.eCombobox_showOptions {
  display: block;
}

.eChooseHouses {
  display: flex;
  align-items: center;
}

.dropbox_icon {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  fill: current_color;
  color: $COLOR;
}
