.bButton{
  background: $MAIN_COLOR;
  font-size: 15px;
  color: white;
  padding: 8px 15px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.bButton:hover:before{
  content: '';
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px 0px darken($MAIN_COLOR, 10%);
  border-radius: 4px;
}

.bButton:active,
.bButton.mActive{
  background: $MAIN_COLOR;
}

.bButton:active:before,
.bButton.mActive:before{
  content: '';
  position: absolute;
  left: 0px;
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border-radius: 4px;

  bottom: auto;
  top: 2px;
  box-shadow: 0px -2px 0px 0px darken($MAIN_COLOR, 10%);
}
