.bCancelEventManualNotification {

}

.eCancelEventManualNotification_header {
  margin-bottom: 20px;
}

.eCancelEventManualNotification_userList {
  margin-bottom: 20px;
}

.eCancelEventManualNotification_user {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px
}

.eCancelEventManualNotification_userName {
}

.eCancelEventManualNotification_userRole {
  text-align: left;
  font-size: 12px;
  color: #7e7e7e;
}

.eCancelEventManualNotification_checkBoxWrapper {
  width: 30px;
  padding-top: 5px;
}