.bCancelEventManualNotification {

}

.eCancelEventManualNotification_header {
  margin-bottom: 20px;
}

.eCancelEventManualNotification_userList {
  margin-bottom: 20px;
}

.eCancelEventManualNotification_user {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px
}

.eCancelEventManualNotification_userName {
  padding-top: 10px;
}

.eCancelEventManualNotification_checkBoxWrapper {
  width: 30px;
}