@import "../!variables";

.bClubParticipationMessage {
  border: $mainBorder;
  border-radius: 5px;
  margin-bottom: 10px;

  font-size: 1rem;

  padding: 15px;
}

.eClubParticipationMessage_topSection {

}

.eClubParticipationMessage_bottomSection {

}

.eClubParticipationMessage_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 280px;

  margin-bottom: 25px;
}

.eClubParticipationMessage_headerImg {
  display: inline-block;
  vertical-align: top;

  height: 85px;
  width: 100px;

  margin-right: 10px;


  background: no-repeat center center;
  background-size: contain;
}

.eClubParticipationMessage_header {
  display: inline-block;
  vertical-align: top;

  padding-top: 4px;
}

.eClubParticipationMessage_headerText {
  margin-bottom: 12px;
}

.eClubParticipationMessage_middleInfoSection {
  margin-bottom: 8px;
}

.eClubParticipationMessage_simpleField {
  margin-bottom: 8px;
}

.eClubParticipationMessage_topSection {
  margin-top: 40px;
}

.eClubParticipationMessage_boldTag {
  font-weight: bold;
}

.bSchoolMaster .bClubParticipationMessage .bMapView{
  min-height: 280px;
  width: 100%;
  max-width: 100%;
}