@import "../!variables";


.bColorsSelect {
  position: relative;
}

.eColorsSelect_color {
  display: inline-block;
  height: 26px;
  width: 26px;
  vertical-align: top;
  margin-right: 3px;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
}

.eColorsSelect_color.mRemovable:hover:after,
.eColorsSelect_addButton{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 29px;
  color: #949291;
}
.eColorsSelect_addButton:hover{
  color: $COLOR;
}

.eColorsSelect_color.mRemovable:hover:after{
  font-size: 20px;
  content: 'x';
  background: white;
  font-weight: bold;
  border-radius: 50%;
}


.eColorsSelect_picker {
  width: 245px;
  position: absolute;
  left: 50%;
  bottom: 33px;
  z-index: 22;
  background: white;
  overflow: hidden;
  padding: $spacing / 2;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  margin-left: -118px;
}

.eColorsSelect_plate{
  height: 200px;
}

.eColorsSelect_buttons{
  padding-top: 5px;
}
