@import "../!variables";
@import "../bootstrap-custom";

.bDetails {
  @include make-row();
}

.eDetails_column {
  @include make-md-column(4);
  @include make-sm-column(4);

  &.mBig {
    @include make-md-column(8);
    @include make-sm-column(8);
  }
}

.eDetails_columnContent {
  padding: 40px;
  min-height: 550px;

  &.mWithoutPadding {
    padding: 0px;
  }
  &.mGrayBackground {
    background-color: $secondBackgroundColor;
  }
}

.eDetails_infoContainer {
  padding: 0 80px 25px 50px;

  .eDetails_textBlock {
    margin-bottom: 0;
  }
}

.eDetails_editButtonWrapper {
  display: flex;
  justify-content: flex-end;

  padding: 15px 15px 15px 0px;
}

.eDetails_textBlock {
  white-space: pre;
  margin-bottom: 40px;

  font-family: Glober, sans-serif;
}

.eDetails_comboboxWrapper {
  margin-top: 8px;
}

.eDetails_personalContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.eDetails_personalName {
  flex-grow: 6;
}

.eDetails_deletePersonalButton {
  width: 14px;

  &:hover {
    color: #007abf;
  }
}

.eDetails_textArea {
  width: 100%;
  height: 100px;
  max-width: 500px;
  max-height: 200px;
  margin-top: 10px;

  padding: 10px;

  border: 1px solid #d2d2d2;
  border-radius: 4px;

  font-family: Glober, sans-serif;

  &:hover{
    border: 1px solid #d2d2d2;
    border-radius: 4px;
  }
  &:focus{
    border: 1px solid #d2d2d2;
    border-radius: 4px;
  }
}

.eDetails_timeContainer {
  margin-top: 50px;
}

.eDetails_time {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.eDetails_timeLabel {
}

.eDetails_timeValue {
}

.eDetails_header {
  color:  $BodyColor;

  font-family: Glober-Bold, sans-serif;

  &.mSmall {
    font-size: 14px;
    font-family: Glober, sans-serif;
    font-weight: normal;
    color: #757477;
  }
}

.eDetails_body {
  margin-top: 10px;
}

.eDetails_border {
  float: left;

  padding: 0 15px;
  width: 100%;

  border-bottom: solid 1px $greyColor;
}

.eDetails_spacing {
  display: block;
  padding-bottom: $spacing*4;
}

@media screen and (max-width: 990px){
  .eDetails_infoContainer {
    padding: 10px;
  }
  .eDetails_editButtonWrapper {
    padding: 15px 0;
  }
}