.bDropdown {
  width: 100%;
  max-width: 400px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 8px;

  &:hover {
    border: 1px solid #959595;
  }

  &:focus{
    border: 1px solid #959595;
  }

  &.mSmall {
    font-size: 14px !important;
  }

  &.mMedium {
    font-size: 14px !important;
  }

  &.mDateSelector{
    max-width: 130px;
    padding: 5px;

    font-size: 18px;

    border: none;

    &:hover {
      border: none;
    }
  }

  &.mBigDateSelector{
    display: block;

    width: 130px;
    height: 20px;

    margin: 15px auto 0 auto;
    padding: 0px;

    font-size: 18px;

    border: none;

    &:hover {
      border: none;
    }
  }

  &.mSmallDateSelector{
    display: block;

    width: 100px;
    height: 20px;

    margin: 9px auto 0 auto;
    padding: 0px;

    font-size: 14px;

    border: none;

    &.mMonthDay {
      width: 40px;
    }

    &.mYear {
      width: 80px;
    }

    &:hover {
      border: none;
    }
  }
}