@import "../!variables";

.bEditTaskView {
  min-height: 300px;
  padding: 20px;

  border-bottom: solid 1px #d2d2d2;

  .eEditTaskView_header {
    font-size: 25px;
    color: #0178BF;
  }

  .eEditTaskView_body {
    margin-top: 40px;
  }

  .eEditTaskView_footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 700px;

    margin-top: 10px;
  }

  .eEditTaskView_descriptionTextFieldLabel {
    font-size: 16px;
    color: #8C8C8C;
  }

  .eEditTaskView_descriptionTextField {
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    margin-top: 10px;

    padding: 10px;

    border: 1px solid #d2d2d2;
    border-radius: 4px;

    &:hover{
      border-color: #959595;
    }
    &:focus{
      border-color: $blueColor;
    }
  }

  .eEditTaskView_validationText {
    color: red;
  }

  .eEditTaskView_multiselectWrapper {
    flex: 1;
    margin-right: 5px;

    .eMultiSelectDropdown_input {
      min-height: 50px;
      padding-top: 7px;
    }
  }
}

@media screen and (max-width: 768px){
  .eEditTaskView_footer {
    flex-direction: column;

    .bMultiSelectDropdown,
    .bButton {
      margin-bottom: 10px;
    }
  }
}