@import '../!variables';
.bHomeCalender {
  padding-bottom: 90px;
  position: relative;

  background: $secondBackgroundColor;
}

.eHomeCalender_title {
  width: 100%;
  padding: 35px 0;

  text-align: center;

  color: $darkGrey;
  font-size: 30px;
  font-weight: normal;
}