@import "../!variables";

.bMatchReport {
  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid #d4d4d4;
}

.eMatchReport_column {
  width: 350px;

  padding: 50px;
  min-height: 550px;

  &.mWithoutPadding {
    padding: 0px;
  }

  &.mBig {
    width: 590px;
  }

  &.mGrayBackground {
    background-color: #f6f5f8;
  }
}

.eMatchReport_infoContainer {
  padding: 0px 50px 50px 50px;
}

.eMatchReport_editButton {
  width: 20px;
  height: 20px;


  cursor: pointer;
  font-weight: bold;

  & .bIcon{
    color: #929496;
  }
  &:hover .bIcon{
    color: $textColor;
  }
}

.eMatchReport_editButtonWrapper {
  display: flex;
  flex-direction: row-reverse;

  padding: 15px 15px 15px 0px;
}

.eMatchReport_textBlock {
  font-size: 14px;
  margin-bottom: 40px;

  font-family: Glober, sans-serif;
}

.eMatchReport_textArea {
  width: 500px;
  height: 100px;
  max-width: 500px;
  max-height: 200px;

  font-size: 14px;
  font-family: Glober, sans-serif;
}

.eMatchReport_timeContainer {
  margin-top: 50px;
}

.eMatchReport_time {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.eMatchReport_timeLabel {
}

.eMatchReport_timeValue {
}

.eMatchReport_header {
  color:  black;

  font-family: Glober-Bold, sans-serif;
}