@import "./../!variables";

.bMonthYearSelector {
  display: flex;

  width: 100%;
  max-width: 382px;
  height: 40px;

  border: 1px solid #d7d7d7;
  border-radius: 8px;
}

.eMonthYearSelector_smallSizeColumn {
  width: 10%;
  height: 38px;

  border: solid #d7d7d7;
  border-width: 0 1px 0 0;

  &.mWithoutBorder {
    border: none;
  }

  &:hover {
    background-color: #e8e8e8;
  }

  &.mLeft {
    border-radius: 8px 0 0 8px;
  }

  &.mRight {
    border-radius: 0 8px 8px 0;
  }
}

.eMonthYearSelector_middleSizeColumn {
  width: 40%;
  height: 38px;

  border: solid #d7d7d7;
  border-width: 0 1px 0 0;

  text-align: center;

  &:hover {
    background-color: #e8e8e8;
  }
}

.eMonthYearSelector_arrow {
  padding-top: 11px;
  height: 38px;

  color: $blueColor;
  text-align: center;

  &.mLeft {
  }

  &.mRight {
  }
}