@import "./../!variables";

.bPlayerChooserTab {
  height: 35px;
  width: 100%;

  padding: 14px 0 0 0;

  text-align: center;

  border-right: solid 1px #c2c2c2;

  &.mSelected {
    background-color: $secondBackgroundColor;
  }

  &:hover {
    background-color: darken($secondBackgroundColor, 5%);
    cursor: pointer;
  }
}