.bRoundBtn {

}
.bRoundBtn .bIcon {
  position: absolute;
  top: -16px;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  webkit-box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
  -moz-box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
  box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
}