@import '../!variables';

.bSchoolUnionSeasonScores {
  padding-bottom: 60px;
}

.eSchoolUnionSeasonScores_title {
  width: 100%;
  padding: 35px 0;

  text-align: center;

  color: $darkGrey;
  font-size: 30px;
  font-weight: normal;
}

.eSchoolUnionSeasonScores_body {
  margin: 0 auto;
}

.eSchoolUnionSeasonScores_scoreTableWrapper {
  margin-top: 40px;

  .bTooltip:before {
    display: flex;
    align-items: center;
    height: 40px;
    top: 60%;
    left: 40%;
    padding: 2px 20px;
    transition: none;
  }

  .bTooltip:after {
    left: 40%;
  }
}