.bSchoolUnionSchoolList {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.eSchoolUnionSchoolList_body {
  display: flex;
  flex-wrap: wrap;

  padding-left: 30px;
}