@import '../!variables';

.eSchoolNewsContainer{
  height: auto;
  position: relative;
}

.eSchoolNewsItems{
}

.eSchoolNewsItem {
  display: flex;
  flex-flow: row wrap;

  margin-bottom: 30px;

  background: #fff;
  border: $mainBorder;

  color: $textColor;
}
.eSchoolNewsImage {
  flex: 35%;
  height: 250px;

  background-size: cover;
  background-position: center center;
}
.eSchoolNewsItemDescription {
  display: flex;
  flex-direction: column;

  flex: 65%;
  padding: 40px 80px 20px;
}

.eSchoolNewsItem_title {
  font-size: 24px;
  font-weight: bold;
}

.eSchoolNewsItem_date {
  color: $darkGrey;
  padding: {
    top: 20px;
    bottom: 15px;
    left: 10px;
  }
}

.eSchoolNewsItem_text {
  padding: {
    top: 0;
    bottom: 20px;
    left: 10px;
  }

  p {
    margin: 0;
  }
}

.eSchoolNews_more{
  padding-left: 10px;

  cursor: pointer;

  i {
    color: $blueColor;
    font-size: 1.3rem;
    padding-right: 5px;
    vertical-align: bottom;
  }
}

/* Small Devices, Phones */
@media screen and (max-width: 768px){
  .eSchoolNewsImage {
    flex: 100%;
  }
  .eSchoolNewsItemDescription {
    flex: 100%;
    padding: 20px;
  }

  .eSchoolNewsItem_title {
    text-align: center;
  }
}