.bSchoolUnionSeasonScores {
  margin-top: 40px;
}

.eSchoolUnionSeasonScores_body {
  max-width: 1170px;
  padding-top: 40px;
  margin: 0 auto;
}

.eSchoolUnionSeasonScores_scoreTableWrapper {
  margin-top: 40px;
}