.bSchoolListItem {
  padding: 10px;

  &:hover {
    background: #dadada;
  }
}

.eSchoolListItem_wrapper {
  display: flex;
  margin-bottom: 10px;
}

.eSchoolListItem_wrapper_pic {
  width: 40px;
  height: 40px;
}

.eSchoolListItem_pic {
  padding-right: 5px;
  max-width: 100%;
}

.eSchoolListItem_name {
  text-overflow: ellipsis;
  padding-top: 2px;
  font-weight: bold;
  font-size: 16px;

  color: #3b3b3b;
}

.eSchoolListItem_address {
  text-overflow: ellipsis;
  color: grey;
  font-size: 12px;
}