@import '../!variables';
.bSchoolUnionSchoolList {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.eSchoolUnionSchoolList_title {
  width: 100%;
  padding: 35px 0;

  text-align: center;

  color: $darkGrey;
  font-size: 30px;
  font-weight: normal;
}

.eSchoolUnionSchoolList_body {
  display: flex;
  flex-wrap: wrap;

  padding-left: 30px;

  justify-content: center;
}