@import "../!variables";

.bSmallCrossButton {
  height: 20px;

  color: black;

  cursor: pointer;
  text-align: center;

  &:hover {
    color: #fff !important;
  }

  &.mGray {
    color: #c2c2c2;
  }
}