.eStepDescription {
  display: none;
  padding: 0 10px;
  color: #616161;
  font-size: 14px;
}
.eStepDescription.mActive {
  display: block;
}
.eStepDescription p {
  margin-bottom: 0;
  line-height: 20px;
}