.eStepDescription {
  display: none;
  padding: 0 20px;
  color: #a9a9a9;
  font-size: 14px;
}
.eStepDescription.mActive {
  display: block;
}
.eStepDescription p {
  margin-bottom: 0;
  line-height: 20px;
}