.bTeamManagerWrapper {
  width: 1130px;

  margin: 0 auto;
  padding: 20px 0 40px 0;
}

.eTeamManagerWrapper_footer {
  height: 150px;
}

.eSavePlayerChangesManager{
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (max-width:1130px) {
  .bTeamManagerWrapper {
	width: 100%; // remove horizontal scrollbar on mobile and tablet
  }
}