.bTimePicker {
  display: flex;
  flex-direction: row;
  border: $BORDER;
  align-self: baseline;
  padding: 0 5px;
  width: 150px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-left: 20px;
}

.eTimePicker_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.eTimePicker_box.mDelimiter {
  padding: 10px 10px;
  justify-content: center;
  display: flex;
}

input[type="text"].eTimePicker_value {
  width: 40px;
  height: 40px;

  padding-top: 4px;

  color: $lightBlue;
  font-size: 25px;

  text-align: center;

  border: $BORDER;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eaeaea;
}

input[type="text"]:hover.eTimePicker_value {
  width: 40px;
  height: 40px;

  padding-top: 4px;

  color: $lightBlue;
  font-size: 25px;

  text-align: center;

  border: $BORDER;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eaeaea;
}

input[type="text"]:focus.eTimePicker_value {
  width: 40px;
  height: 40px;

  padding-top: 4px;

  color: $lightBlue;
  font-size: 25px;

  text-align: center;

  border: $BORDER;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eaeaea;
}

.eTimePicker_box:hover .eTimePicker_arrow {
  display: block;
}

.eTimePicker_arrow {
  display: none;
  color: #a8a8a8;
  cursor: pointer;
  height: 14px;
  &:hover .bIcon{
    color: $COLOR;
  }
}
.eTimePicker_arrow .bIcon {
  height: 14px;
  width: 14px;
  color: #a8a8a8;
}