.bTrainingSlider {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;


  .eSlider_Close {
    width: 38px;
    height: 38px;
    top: 2px;
    right: 2px;
    position: absolute;
    cursor: pointer;
  }

  .bTraining_slider {
    width: 1280px;
    height: 940px;
    margin: 10px auto;
    background: center no-repeat;
    position: relative;
  }

  .eSlider_next {
    position: absolute;
    right: 53px;
    display: block;
    width: 111px;
    height: 111px;
    bottom: 35px;
    border-radius: 50px;
    cursor: pointer;
  }

  .eSlider_previous {
    position: absolute;
    left: 50px;
    display: block;
    width: 111px;
    height: 111px;
    bottom: 35px;
    border-radius: 50px;
    cursor: pointer;
  }

  .eShow_again {
    position: absolute;
    top: 5px;
    left: 15px;
    color: #333132;
    font-size: 18px;
  }

  .bNavigation_panel {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;

    .eSlide_buttons {
      margin: 0 5px;
      display: inline-block;
      width: 20px;
      background-color: #b2d7ec;
      height: 20px;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        background-color: #008ed3;
      }
    }

    .eSlide_buttons_active {
      background-color: #007abf;
    }
  }

}

.bDemo_slider {
  width: 1280px;
  height: 940px;
  margin: auto;
  background: center no-repeat;
  position: relative;
}