.bTrainingSlider {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;


  .eSlider_Close {
    width: 38px;
    height: 38px;
    top: 2px;
    right: 2px;
    position: absolute;
    cursor: pointer;
  }

  .bTraining_slider_wrapper {
    display: inline-block;
    position: relative;
    margin: 25px auto;
    height: auto;

    .bTraining_slider {
      position: absolute;
      top: 5%;
      left: 5%;
      right: 5%;
      width: 90%;
      height: 90%;
      background: center no-repeat;
      background-size: contain;
    }

    .bTraining_slide {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }

    .eSlider_button {
      position: absolute;
      display: block;
      width: 10%;
      height: 13%;
      bottom: 3%;
      border-radius: 50px;
      cursor: pointer;
      z-index: 1000;
    }
    .eSlider_next {
      right: 4%;
    }

    .eSlider_previous {
      left: 4%;
    }

    .eShow_again {
      position: absolute;
      top: 5px;
      left: 15px;
      color: #333132;
      font-size: 14px;
    }

    .bNavigation_panel {
      position: absolute;
      bottom: 5px;
      width: 100%;
      text-align: center;

      .eSlide_buttons {
        margin: 0 5px;
        display: inline-block;
        width: 20px;
        background-color: #b2d7ec;
        height: 20px;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
          background-color: #008ed3;
        }
      }

      .eSlide_buttons_active {
        background-color: #007abf;
      }
    }
  }
}

@media all and (min-width: 650px) {
  .bTrainingSlider {

    .bTraining_slider_wrapper {
      .eShow_again span {
        font-size: 18px;
      }

      .bNavigation_panel {
        bottom: 20px;
      }
    }

  }
}

@media all and (min-device-aspect-ratio: 9/7) {
  .bTrainingSlider {

    .bTraining_slider_wrapper {
      height: 90%;
    }
  }
}
