.bFixtures {
  display: flex;
  flex-flow: column wrap;

  width: 1075px;
  margin: 50px auto;
  font-size: 11px;

  .bMonthYearSelector{
    margin: 0px auto 15px;
  }

  @media (max-width: 768px) {
    width: 768px;
    font-size: 10px;
  }
}