@import "../!variables";

.bSettingsDropdown {
  position: relative;
  display: inline-block;

  cursor: pointer;
}

.eSettingsDropdown_selected {
  background: #398bf7;
  border: solid 1px #398bf7;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 41px;
  padding: 0 30px 0 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  font-family: Glober, sans-serif;

  box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
  transition: 0.2s ease-in;

  &:hover {
    background: #398bf7;
    border: 1px solid #398bf7;
    box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
  }
}

.eSettingsDropdown_triangle {
  display: inline-block;
  outline: none;

  top: 16px;
  right: 10px;

  font-size: 14px;
  cursor: pointer;
  text-align: right;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-width: 7px 5px 0 5px;
  border-style: solid;
  border-color: white transparent;
}

.eSettingsDropdown_dropdown {
  position: absolute;
  z-index: 100;

  top: 45px;

  min-width: 130px;
  padding: 8px 0;

  border: $mainBorderStyle;
  border-radius: 5px;
  border-color: #c2c2c2;

  background-color: white;
}