@import "../!variables";

.bSimpleAlert {
  display: inline-block;
  position: relative;

  width: 35%;
  min-width: 300px;
  max-width: 400px;

  z-index: 10000;

  background: white;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;

  padding: 30px;
  vertical-align: middle;

  font-size: 18px;
}

.eSimpleAlert_body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 140px;
  margin-bottom: 10px;
  word-break: normal;
}

.eSimpleAlert_footer {
  text-align: center;
}
.bSimpleAlert_bg {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
  &:after{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
  }
}
.eSimpleAlert_text {
  font-size: 0.8rem;
  margin: 10px 0;
  text-align: left;
  text-indent: 1rem;
}
.eSimpleAlert_mail {
  color: $blueColor;
  padding-left: 5px;
  margin-bottom: 0px;
}
.eSimpleAlert_phone {
  color: $blueColor;
  padding-left: 5px;
  margin-bottom: 0px;
}