$IMAGE_DIR: '/images/' !global;
$MAIN_COLOR: #66952D !global;
$COLOR: #007abf !global;
$BORDER: solid 1px #c2c2c2 !global;
$INVALID_COLOR: #d3978f;
$DarkGreen: #235413;

/*new colors*/
$blueColor: #007abf;
$darkBlue: #0066ab;
$lightBlue: #008ed3;
$textColor: #333333;

$darkGrey: #959595;

/*borders*/
$mainBorder: solid 1px #d2d2d2;


$BodyColor:#333132;