$IMAGE_DIR: '/images/' !global;
$COLOR: #007abf !global;
$BORDER: solid 1px #c2c2c2 !global;
$INVALID_COLOR: #e73f3f;

/*new colors*/
$blueColor: #007abf;
$darkBlue: #0066ab;
$lightBlue: #008ed3;
$DarkRed:#a93e2f;
$textColor: #333132;
$inactiveTextColor: #888284;
$borderColor: #c2c2c2;
$greyColor: #d2d2d2;
$darkGrey: #8c8c8c;

/*background (main background: #fff;)*/
$secondBackgroundColor: #f5f5f5;

/*borders*/
$mainBorder: solid 1px $greyColor;
$mainBorderStyle: solid 1px;
$borderRadius: 5px;
$gradientBorder: linear-gradient(90deg, $greyColor 0%, $secondBackgroundColor 100%) no-repeat bottom;

/*text-colors*/
$BodyColor:#333132;
$GrayText: #8c8c8c;

/*fonts*/
$basicFontFamily: Glober, sans-serif;

/*font-sizes*/
$menu-font-size: 1.125rem;


$spacing: 10px;