@import '../../../bootstrap-custom';
@import '../variables';

.bDashboardCard {
  width: 200px;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;

  border: 1px solid #398bf7;
  border-radius: .25rem;
  box-shadow: none;

  margin-bottom: 30px;
}

.eDashboardCard_header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;

  background: #398bf7;

  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-color: #398bf7;
}


.eDashboardCard_headerText {
  margin-bottom: 0;
  color: #ffffff !important;
}

.eDashboardCard_body {
  flex: 1 1 auto;
  padding: $card-spacer-x;
}