@import '../../../bootstrap-custom';
@import '../variables';

.bDashboardCard {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;

  border: 1px solid #398bf7;
  border-radius: .25rem;
  box-shadow: none;

  margin-bottom: 30px;

  &.mAbsolute {
    opacity: 0.7;
    position: absolute;
    z-index: 300;
  }
}

.eDashboardCard_header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;

  background: #398bf7;

  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-color: #398bf7;

  display: flex;
  justify-content: space-between;
}


.eDashboardCard_headerText {
  margin-bottom: 0;
  color: #ffffff !important;
}

.eDashboardCard_controls {
  color: #ffffff !important;
}

.eDashboardCard_control {
  display: inline-block;
  vertical-align: top;

  &.mMarginRight {
    margin-right: 15px;
  }

  &.mActive {
    color: #2d454b;
  }

  &:hover {
    color: #2d454b;
    cursor: pointer;
  }
}

.eDashboardCard_body {
  flex: 1 1 auto;
  padding: $card-spacer-x;
}