@import "../../!variables";

.bMultiSelectDropdown {
  position: relative;
  vertical-align: bottom;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}

.eMultiSelectDropdown_input {
  display: flex;
  flex-wrap: wrap;

  min-height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding-top: 5px;

  &:hover {
    border: 1px solid #959595;
  }

  &:focus {
    border: 1px solid #959595;
  }

  &.mFocus {
    border: 1px solid #959595;
  }

  &.mOpen {
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.eMultiSelectDropdown_itemList {
  display: none;
  position: absolute;

  top: 100%;
  z-index: 1;
  width: 100%;
  max-height: 250px;

  background: #fff;

  overflow: auto;

  border: 1px solid #959595;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &.mOpen {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.eMultiSelectDropdown_item {
  display: flex;
  flex-basis: calc(50% - 20px);

  cursor: pointer;
  padding: 10px;

  &:hover {
    background: #d7d7d7;
  }
}

.eMultiSelectDropdown_itemIcon {
  color: #0178bf;
}

.eMultiSelectDropdown_itemText {
  padding-top: 2px;
  margin-left: 10px;

  font-size: 16px;
  font-family: Glober, sans-serif;
  color: black;
}