@import "../../!variables";

.bChooser, .bChooserRival {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.bChooser.mLong {
  width: 100%;
}

.eChooser_item {
  color: $COLOR;
  transition: all .2s ease-out;
  font-size: 18px;
  padding: 10px 10px 5px 10px;
  border-bottom: solid 3px transparent;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    background: #d7d7d7;
  }
  &.mActive {
    color: $blueColor;
    background: repeat-x url('/images/team_selector.png') bottom;
  }
  &.mDisable {
    opacity: 0.3;
    cursor: default;
    user-select: none;
    &:hover {
      border-color: #eee;
      background: transparent;
    }
  }
}
.bChooserRival .eChooser_item {
  border: none;
  font-size: 20px;
}

.eChooser_title {
  margin-right: 10px;
}

/* mLong */
.bChooser.mLong .eChooser_item {
  padding: 10px 0;
  margin: 5px 0;
  width: 50%;
  text-align: center;
  color: #000;
  background-color: rgba(238, 238, 238, .4);
  font-size: 18px;
  border: 1px solid transparent;
  &:hover {
    background-color: #eee;
  }
  &.mActive {
    color: #fff;
    background-color: $blueColor;
  }
  &.mDisable {
    border-color: #ddd;
    background-color: #eee;
  }
}