
.eChallengeDate_date{
  vertical-align: middle;
  width: 10%;
  margin: auto 0;
}

.bChallengeDate {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-transform: none;
  color: #333132;
  margin: auto;
}

.eChallengeDate_wrap{
  display: flex;
  padding: 0 15px;
}