.bChallenges {
  display: flex;
  flex-direction: column;
  width: 920px;
  align-items: stretch;
  margin: 10px auto;
}

.bChallenges_eDate {
  display: flex;
  flex-direction: column;
}

.eDate_header {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background-color: #30759c;
  color: #faf4e8;
  justify-content: center;
}


.eChallenge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  &:hover {
    background-color: rgba(204, 204, 204, .2);
  }
  &.mActive {
    background-color: #30759c;
    color: #fff;
  }
}


.eDate_list .eChallenge:last-child {
  border: none;
}

.eChallenge_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eChallenge_name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.eChallenge_time,
.eChallenge_rivalName {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  line-height: 35px;
}

.eChallenge_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a2a2a2;
  font-size: 11px;
}

.eChallenge_rivalsType,
.eChallenge_status {
  margin: 0 2px;
}