
.eChallengeDate_date{
  padding-top: 5px;
  text-align: center;
  width: 15%;
}

.bChallengeDate {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: none;
  color: #333132;
  margin: auto;
}

.eChallengeDate_wrap{
  display: flex;
  align-items: center;
  padding: 0 15px;
}