
.eChallengeDate_date{
  vertical-align: middle;
  width: 15%;
  margin: auto 0;
  text-align: center;
  font-weight: bold;
}

.bChallengeDate {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-transform: none;
  color: #333132;
  margin: auto;
}

.eChallengeDate_wrap{
  display: flex;
  padding: 0 15px;
}