$border: solid 1px #c2c2c2;
.bChallenge {
  cursor: pointer;
  position: relative;
  display: block;
  border-bottom: $border;

  &:active{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    top: 2px;
  }

}

.eChallenge_in{
  display: table-cell;
}
.eChallenge_in p{
  display: table-cell;
  padding: 0 10px;
  text-transform: lowercase;
}
.eChallenge_com_container{
  display: table-cell;
}
.eChallenge_comments{
  text-align: center;
}

.eChallenge_firstName,
.eChallenge_secondName,
.eChallenge_rivalInfo{
  vertical-align: middle;
  text-align: center;
  width: 200px;
  margin: 0 10px;
  display: table-cell;
}

.eChallenge_firstName{
  text-align: right;
}
.eChallenge_secondName{
 text-align: left;
}
.eChallenge_rivalInfo{
  width: 180px;
}

.eChallenge_hours{
  padding: 4px 0;
  text-align: center;
  font-family: "Myriad Pro", sans-serif;
  letter-spacing: 1px;
  display: table-cell;
  width: 50px;
}

.eChallenge_results{
  padding: 7px 0;
  letter-spacing: 1px;
  font-family: "Myriad Pro", sans-serif;
  display: table-cell;
  width: 50px;
  text-align: center;
}

.eChallenge_results.mDone{
  color: black;
}

.eChallenge_info {
  padding: 4px 0;
  display: table-cell;
  width: 150px;
}

.eChallenge_rivalPic{
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.eChallenge_rivalPic img{
  max-height: 40px;
  max-width: 40px;
  margin-bottom: 5px;
}

.eChallenge_sportsName{
  font-size: 14px;
  padding: 7px 0;
  letter-spacing: 1px;
  font-family: Verdana, sans-serif;
  line-height: 27px;
  color: #9AB669;
}

.eChallenge_rivalColor {
  height: 5px;
  width: 68px;
  margin-bottom: 5px;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  margin-top: -8px;
  opacity: 0.8;
}
.eChallenge_all{
  margin: 10px 0 10px 0;
  cursor:pointer;
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 2px 1px;
  padding: 10px !important;
}
.eChallenge_childName{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
}
.eChallenge_basicMod{
  border-top: 1px solid #CACACA;
}
.eChallenge_marginTopBottom{
  margin:4px 0 4px 0;
}
.eAllAchievements_container{
  position: relative;
  width: 800px;
  height:100%;
  border: $BORDER;
  font-size: 16px;
  text-transform: none;
  text-align: center;
  margin: 20px auto 0;
}
.eAchievement_common{
  position: relative;
  float:left;
}
.eAchievement_name{
  width: 200px;
  color: $COLOR;
}
.eAchievementGamesPlayed{
  width: 120px;
}
.eAchievementGamesWon{
  width: 120px;
}
.eAchievementGamesLost{
  width: 120px;
}
.eAchievementGoalsScored{
  width: 120px;
}
.eAchievement_header{
  position: relative;
  height: 65px;
  background: $MAIN_COLOR;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  color: $COLOR;
  font-weight: bold;
}
.eAchievement_row{
  position: relative;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: $BORDER;
  margin: 0 30px;
}



