$border: solid 1px #c2c2c2;
.bChallenge {
  cursor: pointer;
  position: relative;
  display: flex;
  border-bottom: $border;
  min-height: 40px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  &:active{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    top: 2px;
  }
}

.eChallenge_in{
  display: flex;
  width: 42%;
  justify-content: center;
}
.bChallenge p{
  margin: auto;
}
.eChallenge_com_container{
  width: 25%;
}
.eChallenge_comments{
  text-align: center;
}

.eChallenge_firstName,
.eChallenge_secondName {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  min-width: 150px;
}

.eChallenge_rivalInfo{
  margin: auto;
}

.eChallenge_hours{
  text-align: center;
  width: 10%;
}
.eChallenge_sport{
  width: 10%;
}
.eChallenge_event{
  width: 20%;
  margin: auto;
}
.eChallenge_results{
  width: 10%;
  text-align: center;
  margin: auto;
}

.eChallenge_results.mDone{
  letter-spacing: 1px;
}

.eChallenge_info {
  padding: 4px 0;
  display: table-cell;
  width: 150px;
}

.eChallenge_rivalPic{
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.eChallenge_rivalPic img{
  max-height: 40px;
  max-width: 40px;
  margin-bottom: 5px;
}

.eChallenge_sportsName{
  font-size: 14px;
  padding: 7px 0;
  letter-spacing: 1px;
  font-family: Verdana, sans-serif;
  line-height: 27px;
  color: #9AB669;
}

.eChallenge_rivalColor {
  height: 5px;
  width: 68px;
  margin-bottom: 5px;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  margin-top: -8px;
  opacity: 0.8;
}

.eChallenge_marginTopBottom{
  margin:4px 0 4px 0;
}
.eAllAchievements_container{
  position: relative;
  width: 800px;
  height:100%;
  border: $BORDER;
  font-size: 16px;
  text-transform: none;
  text-align: center;
  margin: 20px auto 0;
}
.eAchievement_common{
  position: relative;
  float:left;
}
.eAchievement_name{
  width: 200px;
  color: $COLOR;
}
.eAchievementGamesPlayed{
  width: 120px;
}
.eAchievementGamesWon{
  width: 120px;
}
.eAchievementGamesLost{
  width: 120px;
}
.eAchievementGoalsScored{
  width: 120px;
}
.eAchievement_header{
  position: relative;
  height: 65px;
  background: $MAIN_COLOR;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  color: $COLOR;
  font-weight: bold;
}
.eAchievement_row{
  position: relative;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: $BORDER;
  margin: 0 30px;
}

.eChallenge.eChallenge_basicMod{
  border: none !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-around;
  &:hover {
    background: lighten($MAIN_COLOR, 25%);
  }
}

.eChallengeDate_list{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.eAchievements_wrap{
  display: flex;
  text-align: center;
}
.eAchievements_wrap .bChallenge{
  border-top: $BORDER;
  margin-top: 1px;
}
.bAdminView{
  display: flex;
  max-width: 1060px;
  margin: 40px auto;
}
