@import "../../!variables";
@import "../../bootstrap-custom";

.bEvents {
  margin-top: 50px;

  display: flex;
  justify-content: center;

  &.mNoMargin {
    margin: 0;
  }
}

.eEvents {
  &_leftSideContainer {
    width: 360px;

    display: flex;
    flex-direction: column;

    float: right;
  }

  &_rightSideContainer {
    width: 500px;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
  }

  &_buttons {
    width: 650px;

    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
  }
}

@media screen and (max-width:992px) {
  .eEvents_rightSideContainer {
    max-width: 410px;
    margin: auto;
  }
}
@media screen and (max-width:480px) {
  .eEvents_rightSideContainer {
    max-width: 100%;
    margin-top: 20px;
  }
}