@import "../../!variables";

.bManager {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  color: $COLOR;
  font-size: 16px;

  padding-top: 30px;

  &.mTeamForm {
    padding-top: 30px;
  }

  &.mTeamManager {
    padding-top: 60px;
  }

  &.mBase {
    padding-top: 60px;
  }
}

.eManager_controlButtons {
  display: flex;
  margin: 30px auto;
  justify-content: center;
}

.eManager_dateTimePicker {
  display: flex;
  flex-direction: row;
}

.bManager.mTeamManager {
  width: 100%;
  flex-direction: row;
  margin-top: 0;
}

.eManager_group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.eManager_label{
  min-width: 150px;
}
.eManager_radiogroup input{
  height: auto;
}

.eManager_radiogroup label {
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}

.eManager_select {
  width: 200px;
  align-self: flex-end;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url("/images/arrow_down.svg") no-repeat 98% center;
  background-size: 10px;

  &.mDisabled {
    background-color: #c2c2c2;
  }
}

.eManager_field {
  width: 200px;
  padding: 2px;
  display: inline-block;
  box-sizing: border-box;
  height: 35px;
}

.eManager_field.mTextArea {
  height: 35px;
  padding-top: 9px;
}

.eManager_container {
  display: flex;
  max-width: 1070px;
  margin: 0 auto;
  flex-direction: column;
}

.eManager_chooser {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.eManager_plug {
  width: 500px;
}

.eManager_containerTeam {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin: 10px 0;
}

.eManager_teamModeViewContainer {
  display: inline-block;
  vertical-align: top;

  &.mIndividuals {
    display: block;
    width: 700px;
    margin: 0 auto;
  }
}

.eManager_eField {
  opacity: 0.7;
  margin: 5px 0;
  height: 37px;
}
.eChoose_vs {
  margin: 0 10px;
}
.eManager_steps {
  display: flex;
  align-items: baseline;
  color: $COLOR;
  margin-bottom: 40px;
}
.eManager_steps h3 {
  color: $COLOR;
  font-size: 16px;
  font-weight: bold;
}
.eManager_step {
  font-size: 16px;
  height: 25px;
  width: 25px;
  line-height: 29px;
  text-align: center;
  border: solid 2px $COLOR;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: 5px;
  font-weight: bold;
}
.eManager_group .eCombobox_input{
  height: 37px;
  background: #fff;
  border: $BORDER;
  width: 200px;
}
.eManager_group .eCombobox_button{
  top: 15px;
 }