$border-color: #c2c2c2;
.eEvents_calendar {
  display: flex;
  flex-direction: row;
  width: 1020px;
  margin: 0 auto;
  font-size: 10px;
}

.eEvents_challenges {
  margin-left: 10px;
  border: $BORDER;
  background: #fff;
  min-width: 500px;
}

.eEvents_challenges .eChallenge {
  display: flex;
  cursor: pointer;
  border-bottom: $BORDER;
  text-align: center;
  text-transform: none;
  font-size: 13px;
  min-height: 40px;
  align-items: center;
  margin: 0 15px;
  &.mActive {
    color: #fff;
    background: lighten($MAIN_COLOR, 10%);
  }
}

.eEvents_challenges.mGeneral .eChallenge:hover {
  background: lighten($MAIN_COLOR, 25%);
}
.eChallenge_rivals {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.eChallenge_basic {
  display: flex;
  justify-content: space-between;
}
.eChallenge_rivals {
  width: 50%;
  display: flex;
  justify-content: center;
}
.eChallenge_date{
  color: $COLOR;
  width: 20%;
}

.eChallenge_name{
  width: 25%;
  padding: 5px;
  margin: 0 5px;

  word-wrap: break-word;
}
.eChallenge_type{
  width: 10%;
  font-weight: bold;
}
.eChallenge_rivalName{
  display: inline-block;

  width: 110px;
  margin: auto;
  padding: 5px;

  vertical-align: top;
}
.eChallenge_vs{
  display: inline-block;

  width: 10px;
  margin: auto;

  vertical-align: top;
}
.eChallenge_title{
  display: flex;
  text-align: center;
  font-size: 16px;
  color: $COLOR;
  background: $MAIN_COLOR;
  height: 40px;
  line-height: 42px;
  padding: 0 15px;
}

.eChallenge_childName{
  width: 20%;
}
.eChildFixturesAll {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bParentsPage .eEvents_calendar,
.bParentsPage .bChallenges {
  margin: 15px auto;
  max-width: 1060px;
}