@import "../../!variables";
@import "../../!mixins";

.eEvents_calendar {
}

.eEvents_challenges {
  background: $secondBackgroundColor;
  border: $mainBorder;
  border-radius: $borderRadius;
  height: 100%;
  min-height: 300px;
  max-height: 415px;
  overflow-y: auto;

  &.mGeneral {
    margin: 0px;
  }

  .eChallenge {
   @include border-gradient($borderColor, $secondBackgroundColor);
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    min-height: 50px;
    padding: 0 10px;
    text-align: center;
    text-transform: none;
    transition: background-color .5s;

    &.mActive {
      color: #fff;
      background: lighten($blueColor, 10%);
    }

    &.mInactive {
      color: $inactiveTextColor;
    }

    &:hover {
      background-color: darken($secondBackgroundColor, 5%);
    }
	.eChallenge_sport {
	  .bIcon_invites{
		width: 35px;
		height: 35px;
	  }
	}
  }

}

.eChallenge_title{
  @include border-gradient($borderColor, $secondBackgroundColor);
  align-items: center;
  cursor: default;
  display: flex;
  font-size: 16px;
  min-height: 50px;
  height: 50px;
  padding: 0 10px;
  text-align: center;

  &.mFixtures {
    background: #fff;
    border-bottom: solid 1px $borderColor;
  }
}

.eChallenge_basic {
  display: flex;
  justify-content: space-between;
}
.eChallenge_rivals {
  width: 44%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.eChallenge_date{
  padding-top: 5px;
  width: 15%;
}

.eChallenge_name{
  @include text-overflow;
  width: 45%;
  padding-top: 5px;
}
.eChallenge_type{
  width: 15%;
  font-weight: bold;

  .bIcon {
    margin-right: 5px;
    vertical-align: bottom;
  }
}
.eChallenge_rivalName{
  @include text-overflow;
  width: 110px;
  margin: auto;
  padding: 5px;
}
.eChallenge_vs{
  display: inline-block;

  width: 10px;
  margin: auto;

  vertical-align: top;
}
.eChallenge_score {
  padding-top: 5px;
  text-align: center;
  width: 25%;
}
.eChallenge_childName{
  padding-top: 5px;
  width: 20%;
  text-align: center;
}
.eChildFixturesAll {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bParentsPage .bChallenges {
  margin: 15px auto;
  max-width: 1060px;
  width: 100%;
}

.eChallenge_all {
  display: flex;
  align-items: center;
  @include border-gradient($borderColor, $secondBackgroundColor);
}

@media screen and (max-width: 480px) {
  .eChallenge_title,
  .eChallenge {
    padding: 0;
  }
}