.bEvent {
  display: flex;
  flex-direction: column;
  width: 960px;
}

.eEvent_title {
  display: flex;
  text-align: center;
}

.eEvent_rivals {
  width: 700px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
}

.eEvent_rival {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eEvent_rivalTitle {
  display: inline-block;
  font-size: 20px;
  padding: 10px 0;
}

.eEvent_rivalPic {
  display: inline-block;
  height: 200px;
}

.eEvent_info {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.eEvent_infoItem {
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  &.mScore {
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.eEvent_teams {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
}

.eEvent_team {
  display: flex;
  flex-direction: column;
  width: 280px;
  &:last-child {
    margin-left: 165px;
  }
}

.bPlayer {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  margin: 5px 0;
}

.ePlayer_avatar {
  height: 50px;
}

.ePlayer_name,
.ePlayer_lastName {
  height: 50px;
  display: flex;
  margin: 0 2px 0 10px;
  justify-content: center;
  align-items: center;
}