.bManager {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  color: $COLOR;
  font-size: 16px;
  font-weight: bold;
}

.eManager_dateTimePicker {
  display: flex;
  flex-direction: row;
}

.bManager.mTeamManager {
  width: 960px;
  flex-direction: row;
  margin-top: 10px;
}

.eManager_group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.eManager_group span{
  min-width: 150px;
}
.eManager_radiogroup {
  display: flex;
  justify-content: space-between;
}

.eManager_radiogroup label {
  margin-left: 15px;
  cursor: pointer;
  display: inline-block;
  color: #000;
}

/*.eManager_radiogroup label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #aaa;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
  border-radius: 50%;
}
.eManager_radiogroup input:focus + .eManager_radiogroup label {
  color: #000;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  display: inline-block;
}

.eManager_radiogroup input {
  width: 15px;
  display: none;
}*/

.eManager_select {
  width: 150px;
  align-self: flex-end;
  height: 35px;
}

.eManager_field {
  width: 200px;
  padding: 2px;
  display: inline-block;
  box-sizing: border-box;
  height: 35px;
  text-transform: uppercase;
}

.eManager_field.mTextArea {
  height: 35px;
  padding-top: 9px;
}

.eManager_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.eManager_chooser {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.eManager_containerTeam {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.eManager_eField {
  opacity: 0.7;
  margin: 5px 0;
}

.eManager_group input:hover, textarea:hover, select:hover{
  border-color: $COLOR;
}