@import "../../!variables";
@import "../../bootstrap-custom";

.bEvents {
  margin-top: 50px;
}

.eEvents {

  &_container {
    @extend .container
  }

  &_row {
    @include make-row();
    display: flex;//added flexbox for equal height columns
    flex-wrap: wrap;
    align-content:stretch;
  }

  &_leftSideContainer {
    @include make-lg-column(5);
    @extend .col-md-6;
    display: flex;
    flex-direction: column;
  }

  &_rightSideContainer {
    @include make-lg-column(6);
    @extend .col-md-6;
    display: flex;
    flex-direction: column;
  }
}

.eEvents_buttons {
  width: 650px;
  display: flex;
  justify-content: flex-end;
  margin: 30px auto;
}

@media screen and (max-width:992px) {
  .eEvents_row {
    display: block;
  }
  .eEvents_rightSideContainer {
    max-width: 410px;
    margin: auto;
  }
}
@media screen and (max-width:480px) {
  .eEvents_rightSideContainer {
    max-width: 100%;
    margin-top: 20px;
  }
}