$red-color: #ff5252;
$orange-color: #ffab40;
$blue-color: #5DC8CD;
$green-color: #00AE68;

.bEvents {
  display: flex;
  flex-flow: column wrap;
  width: 1060px;
  margin: auto;
  text-transform: uppercase;
  font-size: 11px;
}

.eEvents_buttons {
  width: 650px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  color: #939598;
  font-size: 16px;
  font-weight: bold;
}
.eEvents_button {
  margin-right: 10px;
}
.eEvents_button:hover {
  color: #235413;
}
.eEvents_venue_map{
  width:600px !important;
}
.eEvents_back{
  background: url("/images/arrow_back1.png") no-repeat left;
  float: left;
  height: 16px;
  line-height: 18px;
  width: 50px;
  text-align: right;
}
.eEvents_back:hover{
  background: url("/images/arrow_back.png") no-repeat left;
}
.eEvents_next{
  background: url("/images/arrow_next1.png") no-repeat right;
  float: right;
  height: 16px;
  line-height: 18px;
  width: 50px;
}
.eEvents_next:hover{
  background: url("/images/arrow_next.png") no-repeat right;
}
