$border-color: #c2c2c2;
.eEvents_calendar {
  display: flex;
  flex-direction: row;
  width: 1020px;
  margin: 0 auto;
  font-size: 10px;
}

.eEvents_challenges {
  margin-left: 10px;
  border: $BORDER;
  background: #fff;
  min-width: 500px;
}

.eEvents_challenges .eChallenge {
  display: flex;
  cursor: pointer;
  border-bottom: $BORDER;
  text-align: center;
  text-transform: none;
  font-size: 13px;
  min-height: 40px;
  align-items: center;
  margin: 0 15px;
  &:hover {
    background: lighten($MAIN_COLOR, 25%);
  }
  &.mActive {
    color: #fff;
    background: lighten($MAIN_COLOR, 10%);
  }
}

.eChallenge_rivals {
  display: flex;
  flex-direction: row;
}

.eChallenge_basic {
  display: flex;
  justify-content: space-between;
}

.eChallenge_rivals {
  width: 50%;
  display: flex;
  justify-content: center;
}
.eChallenge_date{
  color: $COLOR;
  width: 20%;
}

.eChallenge_name{
  width: 20%;
  margin: 0 5px;
}
.eChallenge_type{
  width: 100px;
  margin: 0 5px;
}
.eChallenge_rivalName{
  width: 90px;
  margin: auto;
}
.eChallenge_title{
  display: flex;
  text-align: center;
  font-size: 16px;
  color: $COLOR;
  background: $MAIN_COLOR;
  height: 40px;
  line-height: 42px;
  padding: 0 15px;
}
.eChallenge_vs{
  margin: auto;
}

.eChallenge_childName{
  width: 150px;
  font-size: 13px;
}
.bParentsPage .eEvents_calendar,
.bParentsPage .bChallenges {
  margin-top: 55px;
}