@import "../../!variables";

.bInvite {
  border: $mainBorder;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;

    .eEvent_commentBlog {
      width: 515px;

      textarea{
        resize: none;
        border: 1px solid #d7d7d7;
        padding: 10px;
      }
    }
    .bEventButtons{
      justify-content: flex-start;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  .eInvite_buttons{
    padding-bottom: 14px;
  }
  .eInviteDiscussionLink{
    a{
      color: $lightBlue;
      text-decoration: underline;
      &:hover{
        color: #000;
      }
    }
  }
}

.bInviteComments {
  margin-left: 50px;
}

.eInvite_left {
  padding-top: 18px;
  padding-bottom: 14px;
}

.eInvite_img {
  background: no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 130px;
  margin: 40px 0 40px 15px;
  width: 100%;
}

.eInvite_info {
  display: inline-block;


  h4 {
    color: $textColor;
    font-weight: bold;
    margin-top: 10px;
  }
}
.eInvite_content {
  line-height: 1.5;
  min-height: 120px;
  padding-top: 20px;
}

.eInvite_message {
  color: darken(#ddd, 40);
  width: 100%;

  .mAccepted, .mDeclined {
    background: #f5f5f5 url("/images/invite_icons.png") no-repeat;
    border-radius: 3px;
    display: inline-block;
    padding: 18px 55px 14px;
    width: 100%;
  }
  .mAccepted{
    background-position: left 15px;
    color:#66952e;
  }
  .mDeclined{
    background-position: left -61px;
    color:#f26522;
  }
}

.eInvite_redeemed {
  color: #777;
  font-size: 14px;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  bottom: 5px;
  cursor: pointer;
  &:hover {
    color: darken(#777, 20%);
  }
}

.eInvites_processing {
  text-align: center;
}
.eInvite_map {
  background: #ccc;
  clear: both;
  height: 280px;
  text-align: center;
}
.bSchoolMaster .bInvite .bMapView{
  min-height: 280px;
  width: 100%;
  max-width: 100%;
}
.eInvite_venue {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 125px;
}

.eInvite_comments {
  border-top: $mainBorder;
  padding-top: 10px;
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
  .eInvite_buttons {
    padding-right: 15px;
  }
}

/* Small Devices, Phones */
@media screen and (max-width: 767px) {
  .eInvite_img {
    margin: 0 0 10px;
  }

  .eInvite_info {
    width: 100%;

    text-align: center;
  }

  .eInvite_content {
    min-height: 1px;
    padding: 0 15px;
  }

  .eInvite_buttons {
    padding: 20px 15px;
  }
}