.bInvite {
  display: flex;
  flex-direction: row;
  height: 150px;
  border: $BORDER;
  box-sizing: border-box;
  width: 475px;
  margin: 5px;
  background: #fff;
}

.eInvite_header {
  justify-content: space-between;
  height: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.bIcon_invites{
  width: 35px;
  height: 35px;
}
.eInvite_vs {
  font-size: 11px;
  margin: 0 10px;
}

.eInvite_eventName{
  font-size: 24px;
  font-weight: bold;
  color: #535353;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
  padding: 5px 0;
}

.eInvite_eventDate {
  font-size: 12px;
  color: darken(#ddd, 20);
}

.eInvite_message {
  color: darken(#ddd, 40);
  width: 100%;
}

.eInvite_info {
  font-size: 16px;
  color: #666;
  line-height: 20px;
}

.eInvite_buttons {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: flex-end;
  width: 100%;
}

.eInvite_buttons .bButton {
  margin-right: 10px;
}

.eInvite_redeemed {
  color: #777;
  font-size: 14px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  bottom: 5px;
  cursor: pointer;
  &:hover {
    color: darken(#777, 20%);
  }
}

.bInvite.mNotRedeemed {
}

.eInvites_list{
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  margin: auto;
  justify-content: center;
}

.eInvite_img {
  width: 100px;
  height: 100px;
  margin: 25px 20px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

}
.eInviteSport{
  display: flex;
  justify-content: flex-end;
}
.eInvite_gender{
  float: right;
  padding-right: 5px;
  .bIcon{
    color:green;
  }
}
.eInviteWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}
.eInvites_processing {
  text-align: center;
}
.eInvite_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}