._bPlayer {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 5px 0;
  height: 30px;
  align-items: center;
  &:hover {
    background: #eee;
    .ePlayer_remove {
      display: flex;
    }
  }
}

.bPlayer {

}

.bPlayer_error {

}

.ePlayer_avatar {
  height: 100%;
}

.ePlayer_addPoint {
  display: none;
  align-self: center;
  cursor: pointer;
}

.ePlayer_addPoint {
  display: flex;
}

.ePlayer_score {
  font-size: 16px;
  align-self: center;
}
.bPlayer.mMini:hover .ePlayer_score{
  color: $COLOR;
}

.ePlayer_lastName {
  height: 100%;
  display: flex;
  margin: 0 2px 0 10px;
  align-items: center;
  span:first-child {
    margin-right: 5px;
  }
}

.ePlayer_name {
  vertical-align: middle;
  text-align: center;
}

.ePlayer_form {
  width: 10%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.ePlayer_position {
  width: 40%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.ePlayer_sub {
  width: 5%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.ePlayer_remove {
  vertical-align: middle;
  text-align: center;
}

._bPlayer.mMini {
  height: 25px;
  line-height: 25px;
}

._bPlayer.mMini .ePlayer_name,
._bPlayer.mMini .ePlayer_lastName {
  font-size: 15px;
  width: 150px;
}

._bPlayer.mShowRemoveButton .ePlayer_remove {
  display: flex;
}

.ePlayer_minus,
.ePlayer_plus {
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
}

.ePlayer_minus .bIcon,
.ePlayer_plus .bIcon {
  width: 8px;
  height: 8px;
}

.ePlayer_gender .bIcon {
  margin-top: 2.5px;
}