@import "../../!variables";

._bPlayer {
  display: flex;
  flex-direction: row;
  justify-content: left;

  max-width: 260px;
  padding: 15px 0;
  margin: 0 auto;


  &.mMini {
    height: 25px;
    line-height: 25px;

    &:hover .ePlayer_score{
      color: $blueColor;
    }
    .ePlayer_name{
      min-width: 150px;
    }
  }

  .ePlayer_star {
	color: #FCD614;
  }

  &.mIndividuals {
  }
}

.ePlayer_remove .bIcon {
  width: 14px;
  height: 14px;
}

.ePlayer_avatar {
  height: 100%;
}

.ePlayer_addPoint {
  display: none;
  align-self: center;
  cursor: pointer;
}

.ePlayer_addPoint {
  display: flex;
}

.ePlayer_score {
  font-size: 16px;
  align-self: center;
  min-width: 45px;
  display: inline-block;

  &.mBig {
    color: #007abf;
    font-size: 43px;
  }
}
.ePlayer_scoreContainer {
  flex: 2;

  text-align: right;
}

.ePlayer_lastName {
  height: 100%;
  display: flex;
  margin: 0 2px 0 10px;
  align-items: center;
  span:first-child {
    margin-right: 5px;
  }
}

.ePlayer_name {
  vertical-align: middle;
  text-align: left;
  font-size: 1rem;
  color: $textColor;
  &.mHead {
    color: #939393;
  }
  span {
    margin-right: 5px;
  }
}

.bPlayer {
  margin: 0 auto;

  &.mPerformance {
    background: linear-gradient(90deg, #d2d2d2 0%, #ffffff 100%) no-repeat bottom;
    background-size: 100% 1px;

    padding: 30px 40px;

    &.mLast {
      background: none;
    }
  }
}

.ePlayer_performance {

}

.ePlayer_performanceItem {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
}

.ePlayer_performanceItemName {
  color: $GrayText;
  display: inline-block;
  width: 100px;
}

.ePlayer_performanceItemValueContainer {
  display: inline-block;
  width: 190px;
}

.ePlayer_discipline {

}

.ePlayer_disciplineItem {
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
}

.ePlayer_disciplineItemName {
  color: $GrayText;
  display: inline-block;
  width: 100px;
}

.ePlayer_disciplineItemValueContainer {
  display: inline-block;
  width: 30px;
}

.ePlayer_form {
  width: 10%;
  height: 30px;
  padding-top: 5px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;

  &.mHead {
    color: #939393;
  }
}

.ePlayer_position {
  width: 40%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;

  &.mHead {
    color: #939393;
  }
}

.ePlayer_sub {
  width: 5%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;

  &.mHead {
    color: #939393;
  }
}

.ePlayer_remove {
  width: 5%;
  vertical-align: middle;
  text-align: center;
}

.ePlayer_selector {
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;
  margin-top: -4px;
}

._bPlayer.mShowRemoveButton .ePlayer_remove {
  display: flex;
}

.ePlayer_gender .bIcon {
  margin-top: 2.5px;
}
