.bPlayer {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  margin: 5px 0;
  &:hover {
    .ePlayer_remove {
      display: flex;
    }
  }
}

.ePlayer_avatar {
  height: 100%;
}

.ePlayer_remove,
.ePlayer_addPoint {
  display: none;
  align-self: center;
  cursor: pointer;
}

.ePlayer_addPoint {
  display: flex;
}

.ePlayer_score {
  font-size: 22px;
  align-self: center;
  padding-right: 5px;
}

.ePlayer_name,
.ePlayer_lastName {
  height: 100%;
  display: flex;
  margin: 0 2px 0 10px;
  justify-content: center;
  align-items: center;
}

.bPlayer.mMini {
  height: 25px;
  line-height: 25px;
}

.bPlayer.mMini .ePlayer_name,
.bPlayer.mMini .ePlayer_lastName {
  font-size: 13px;
}

.bPlayer.mShowRemoveButton .ePlayer_remove {
  display: flex;
}