.bWrapperTeamWrapper {
  &.mDisable {
    display: none;
  }
}

.bTeamWrapper {
  min-height: 300px;
}

.eTeamWrapper_teamManagerWrapper {
  display: inline-block;
  vertical-align: top;
}

.eTeamWrapper_autocompleteWrapper {
  display: inline-block;
  vertical-align: top;
}

.eTeamWrapper_teamPlayersLabel {
  margin-top: 20px;
}

.eTeamWrapper_autocompletePlug {
  width: 240px;
  display: inline-block;
}

.eTeamWrapper_footer {
  margin: 10px 0 10px 0;
}

.eTeamWrapper_modeRadioButton {
  font-size: 14px;
}

.eTeamWrapper_modeRadioButtonInput {
  display: inline-block;
  vertical-align: middle;
}

.eTeamWrapper_modeRadioButtonIText {
  display: inline-block;
  height: 17px;
}

.bTeamWrapper.mMarginTop{
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.eTeamWrapper_plug {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: grey;
  opacity: 0.6;

  &.mDisabled {
    display: none;
  }
}