.bTeamWrapper {
  min-height: 300px;
}

.eTeamWrapper_teamManagerWrapper {
  display: inline-block;
  vertical-align: top;
}

.eTeamWrapper_autocompleteWrapper {
  display: inline-block;
  vertical-align: top;
}

.eTeamWrapper_teamPlayersLabel {
  margin-top: 20px;
}

.eTeamWrapper_autocompletePlug {
  width: 240px;
  display: inline-block;
}

.eTeamWrapper_modeRadioButtonsContainer {
  font-size: 14px;
}

.bTeamWrapper.mMarginTop{
  margin-top: 10px;
}