.bTeamsTable {
  width: 100%;
}

.eTeamsTable_row:hover {
  background-color: #ddd;
}

.eTeamsTable_cell {
  height: 30px;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
}

.eTeamsTable_cell.mName {
  padding-left: 10px;
  width: 30%;
}

.eTeamsTable_cell.mAges {
  width: 40%;
}

.eTeamsTable_cell.mGender {
  width: 30%;
}

.eTeamsTable_row.mHead {
  background: $blueColor;
}

.eTeamsTable_row.mSelected {
  color: $blueColor;
}