.eVenue_venue_type_radio_buttons {
  margin: 10px 0 10px 0;
}

.eVenue_venue_type_radio_buttons_header {
  margin-bottom: 10px;
}

.eVenue_venue_type_radio_buttons_container {
  margin: 10px 0 10px 0;
}

.eVenue_venue_type_radio_button_label {
  margin-right: 4px;
}

.eVenue_postcode {
  margin: 10px 0 10px 0;
}

.eVenue_postcodeLabel {
  float: left;
  margin-top: 10px;
  min-width: 150px;
}
.eVenue_map {
  width:600px !important;
}
.eEvents_venue_map {
  height: 300px;
  max-width: 665px !important;
  width: 665px !important;
}