.bMultiSelect {
  width: 400px;
}

.bMultiSelect ul {
  background: #fff;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  margin: 10px 0;
  border: 1px solid #f0f0f0;

}

.bMultiSelect input {
  width: 100%;
}

.bMultiSelect .eMultiSelect_item {
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
}

.bMultiSelect .eMultiSelect_item:hover {
  background: #f0f0f0;
}

.bMultiSelect .mSelected {
  background: #ddddff;
}

.bMultiSelect .mSelected:hover {
  background: #e8e8ff;
}
