.bMultiSelect {
  width: 400px;

  button {
    background: #fff;
    border: solid 1px $darkGrey;
    border-radius: 2px;
    color: $textColor;
    display: inline-block;
    font-size: 1em;
    padding: 5px 25px;

    &:hover {
      background: #f1f1f1;
    }
    &:active {
      background: #d7d7d7;
    }
  }
}

.bMultiSelect ul {
  background: #fff;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  margin: 10px 0;
  border: 1px solid #f0f0f0;
  max-height: 200px;
}

.bMultiSelect input {
  background: #fff;
  width: 100%;
}

.bMultiSelect .eMultiSelect_item {
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
}

.bMultiSelect .eMultiSelect_item:hover {
  background: #f0f0f0;
}

.bMultiSelect .mSelected {
  background: #ddddff;
}

.bMultiSelect .mSelected:hover {
  background: #e8e8ff;
}
