.bRadioButton {

  &.mSaveAsNewTeam {
    display: inline-block;

    width: 160px;
  }

  &.mGenderSelector {
    margin-top: 7px;
  }
}

.bRadioButton_input {
  display: inline-block;
}

.bRadioButton_text {
  display: inline-block;
}
