@import '../../../bootstrap-custom';
@import '../../../!variables';

.bDashboardDataWidget {
}

.eDashboardDataWidget_dataList {

}

.eDashboardDataWidget_dataItem {
  @include make-row();
}

.eDashboardDataWidget_buttonRow {
  @include make-row();
}

.eDashboardDataWidget_dataCol {
  padding: .75rem;

  font-family: "Montserrat", sans-serif;
  color: #67757c;
  font-weight: 300;

  border-top: 1px solid #dee2e6;

  &.mRedColor {
    color: red;
  }

  &.mNoneBorder {
    border: none;
  }

  &.mTextRight {
    text-align: right;
  }

  &.mTextCenter {
    text-align: center;
  }

  &.m-8-width {
    @extend .col-md-8;
    @extend .col-sm-8;
    @extend .col-xs-8;
  }

  &.m-6-width {
    @extend .col-md-6;
    @extend .col-sm-8;
    @extend .col-xs-8;
  }

  &.m-5-width {
    @extend .col-md-8;
    @extend .col-sm-8;
    @extend .col-xs-8;
  }

  &.m-4-width {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-4;
  }

  &.m-3-width {
    @extend .col-md-3;
    @extend .col-sm-3;
    @extend .col-xs-3;
  }

  &.m-1-width {
    @extend .col-md-1;
    @extend .col-sm-1;
    @extend .col-xs-1;
  }
}

