@import '../../../bootstrap-custom';

.bDashboardDataWidget {
}

.eDashboardDataWidget_dataList {

}

.eDashboardDataWidget_dataItem {
  @include make-row();
}

.eDashboardDataWidget_dataCol {
  padding: .75rem;

  font-family: "Montserrat", sans-serif;
  color: #67757c;
  font-weight: 300;

  border-top: 1px solid #dee2e6;

  &.mLong {
    @extend .col-md-8;
    @extend .col-sm-8;
    @extend .col-xs-8;
  }

  &.mShort {
    @extend .col-md-4;
    @extend .col-sm-4;
    @extend .col-xs-4;
  }

  &.mTextRight {
    text-align: right;
  }
}

