@import '../../../bootstrap-custom';

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #FFCD41;
$color5: #2092A9;

*, *:before, *:after {
  box-sizing: border-box;
}


.bDashboardWeatherWidget {

}

.eDashboardWeatherWidget_header {
  font-family: "Montserrat", sans-serif;
  font-weight:300;
  font-size:20px;
  color: $color3;
}

.eDashboardWeatherWidget_body {
  display: flex;
  justify-content: space-between;
}

.eDashboardWeatherWidget_empty {
  font-family: "Montserrat", sans-serif;
  font-weight:300;
  font-size:30px;
  color: $color3;
}

.eDashboardWeatherWidget_weatherItem {
  display: flex;
  justify-content: space-between;

  padding: 10px;overflow: hidden;
  min-height: 100px;
  background-color: $color2;
}

.eDashboardWeatherWidget_col {
  width: 90px;

  font-family: "Montserrat", sans-serif;
  font-weight:300;
  font-size:28px;
  color: $color3;

  &.mShort {
    width: 70px !important;
  }
}

.eDashboardWeatherWidget_weatherDescription {
  font-family: "Montserrat", sans-serif;
  font-weight:300;
  font-size:16px;
  color: $color3;
}

.eDashboardWeatherWidget_temp {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:50px;
  color: $color3;
}

.eDashboardWeatherWidget_date {
  font-family: "Montserrat", sans-serif;
  font-weight:300;
  font-size:14px;
  color: $color3;
}

.eDashboardWeatherWidget_weatherIcon {
  width: 120px;
  height: 60px;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 0;

  &.m01d {
    background-image: url("http://openweathermap.org/img/w/01d.png");
  }

  &.m01n {
    background-image: url("http://openweathermap.org/img/w/01d.png");
  }

  &.m02d {
    background-image: url("http://openweathermap.org/img/w/02d.png");
  }

  &.m02n {
    background-image: url("http://openweathermap.org/img/w/02d.png");
  }

  &.m03d {
    background-image: url("http://openweathermap.org/img/w/03d.png");
  }

  &.m03n {
    background-image: url("http://openweathermap.org/img/w/03d.png");
  }

  &.m04d {
    background-image: url("http://openweathermap.org/img/w/04d.png");
  }

  &.m04n {
    background-image: url("http://openweathermap.org/img/w/04d.png");
  }

  &.m09d {
    background-image: url("http://openweathermap.org/img/w/09d.png");
  }

  &.m09n {
    background-image: url("http://openweathermap.org/img/w/09d.png");
  }

  &.m10d {
    background-image: url("http://openweathermap.org/img/w/10d.png");
  }

  &.m10n {
    background-image: url("http://openweathermap.org/img/w/10d.png");
  }

  &.m11d {
    background-image: url("http://openweathermap.org/img/w/11d.png");
  }

  &.m11n {
    background-image: url("http://openweathermap.org/img/w/11d.png");
  }

  &.m13d {
    background-image: url("http://openweathermap.org/img/w/13d.png");
  }

  &.m13n {
    background-image: url("http://openweathermap.org/img/w/13d.png");
  }

  &.m50d {
    background-image: url("http://openweathermap.org/img/w/50d.png");
  }

  &.m50n {
    background-image: url("http://openweathermap.org/img/w/50d.png");
  }
}