@import "../../!variables";

.bAddPhotoButton {
  height: 50px;
  width: 120px;
  border: 1px solid $lightBlue;
  cursor: pointer;
  position: absolute;
  top: -60px;
  right: 10px;
  border-radius: 4px;
  color: white;
  line-height: 50px;
  text-align: center;

  &:hover {
    background-color: $darkBlue;
  }
}

.eAddPhotoButton_fileInput {
  display: none;
}