@import "../../!variables";

.bAddPhotoButtonWrapper {
  display: inline-block;
}

.bAddPhotoButton {
  height: 50px;
  width: 120px;

  border: 1px solid $lightBlue;
  border-radius: 4px;

  cursor: pointer;
  color: white;
  line-height: 50px;
  text-align: center;

  &:hover {
    background-color: $darkBlue;
  }
}

.eAddPhotoButton_fileInput {
  display: none;
}

@media screen and (max-width: 990px) {
  .bAddPhotoButton {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .bAddPhotoButton {
    width: 100%;
  }
}