.bAddPhotoButton {
  display: inline-block;

  margin: 20px;

  height: 150px;
  width: 160px;

  border: 1px solid #ccc;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  vertical-align: top;

  cursor: pointer;
}