.bFullScreenPhoto {
  cursor: pointer;

  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #303030;
  z-index: 98;
}

.eFullScreenPhoto_closeCross {
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1004;
  background-image: url('/images/icons/cross.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
}

.eFullScreenPhoto_photoContainer {
  cursor: default;
  position: fixed;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;

  min-width: 500px;
  min-height: 500px;

  z-index: 99;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #fff;

  .bLoader {
    align-items: center;

    .bIcon {
      width: 70px;
      height: 70px;
    }
  }

  .bEditPhotoPanel {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding-right: 10px;

    span {
      margin: 0 10px
    }
    .bIcon {
      width: 30px;
      height: 30px;
      color: #8c8c8c;
      cursor: pointer;

      &:hover {
        color: #c2c2c2;
      }
    }
  }

  .bForm {
    padding-right: 10px;
    .eForm_fieldName {
      text-align: left;
    }

    textarea {
      width: 100%;
      min-width: 100%;
    }
  }

}

.eFullScreenPhoto_photo {
  position: relative;
  width: 100%;
  background: #1e1e1e center no-repeat;

  .bLoader {
    height: 100%;

    .bIcon {
      width: 120px;
      height: 120px;
    }
  }
}

.eFullScreenPhoto_arrowLeft {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 83px;

  &:hover {
    cursor: pointer;
    background: url('/images/arrow-left.png') center no-repeat;
    background-size: 83px 100px;
  }
}

.eFullScreenPhoto_arrowRight {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 83px;

  &:hover {
    cursor: pointer;
    background: url('/images/arrow-right.png') center no-repeat;
    background-size: 83px 100px;
  }
}

.eFullScreenPhoto_sideContainer {
  width: 300px;
  padding: 10px 0 0 10px;
}