.bPhotoAdd{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.eInputFileImage{
  margin: 10px 0;
}
.eImagePhotoAdd{
  max-width: 100%;
}
.mDisplayNone{
  display: none;
}

.bButtonsPhotoAdd{
}