.bScore {
  display: inline-block;
}

.bScore.mError .eScore_Points{
  border: solid 1px red;
}

.eScore_Points {
  display: inline-block;
  max-width: 40px;
  font-size: 14px;
  align-self: center;
  text-align: center;
}

.eScore_SignContainer {
  display: inline-block;

  width: 13px;
  height: 13px;

  cursor: pointer;
  text-align: center;
}

.eScore_Sign {
  display: block;

  width: 9px;
  height: 9px;

  margin: 4px 3px 0 3px;

  color: #333132;
  &:hover {
    color: $COLOR;
  }
}