@import "../../!variables";

.bScore {
  display: inline-block;
}

.bScore.mError .eScore_Points{
  border: solid 1px red;
}

input[type="text"].eScore_Points {
  width: 40px;
  font-size: 14px;

  background: transparent;
  border-width: 0 0 1px;

  &.mTime{
    width: 90px;
  }

  &.mPlain{
    text-align: center;

    &.mBig {
      color: #007abf;
      font-size: 43px;
      width: 100px;
    }
  }

  &.mDistance{
    width: 75px;
  }
}

.eScore_SignContainer {
  display: inline-block;

  width: 13px;
  height: 13px;

  cursor: pointer;
  text-align: center;
}

.eScore_Sign {
  display: block;

  width: 9px;
  height: 9px;

  margin: 4px 3px 0 3px;

  color: #333132;
  &:hover {
    color: $blueColor;
  }
}