<!doctype html>
<html>
<head>
    <meta http-equiv="Content-script-Type" content="text/html/javascript;" charset="utf-8"/>
    <title>Under construction...</title>
    <link rel="stylesheet" type="text/css" href="/build/styles/build.css" media="screen"/>
    <script type="text/javascript" language="JavaScript" src="/build/js/bower.js"></script>
    <script type="text/javascript" language="JavaScript" src="/build/js/main.js"></script>
</head>


<body class="mShowPopup">

<div class="bPopupBack" style="display: block"></div>



<div class="bSiteWrap" id="jsMainWrap">

    <div class="bTopPanel">

        <div class="bTopLogo">SquadInTouch</div>

        <div class="bTopMenu mRight">
            <a href="/" class="eTopMenu_item jsLogin mLogin"> <svg class="bIcon"><use xlink:href="#icon_key"></use></svg></a>
        </div>
    </div><!-- .bTopPanel -->

    <div class="bMainLayout mClearFix mUserPage">
        <div class="bPageIn" id="jsMainLayout">

            <div class="bPopup" style="width: 328px;height: 245px;margin-left: -100px;margin-top: -100px;display: block;">


                <div class="bRegisterForm">
                <div class="bPanel">
                    <h2>Login or register</h2>

                    <div class="ePanel_fieldSet">
                        <div class="ePanel_fieldName">Login or email:</div>
                        <input type="text" placeholder="" />
                    </div>

                    <div class="ePanel_fieldSet">
                        <div class="ePanel_fieldName">Password:</div>
                        <input type="password" />
                    </div>

                    <div class="ePanel_fieldSet mButton">
                        <div class="bButton mLogin">Login →</div>
                        <div class="bButton mRegister">Register</div>
                    </div>

                </div>
            </div><!-- .bRegisterForm -->

            </div>


        </div>
    </div><!-- .bMainLayout -->

</div><!-- .bSiteWrap -->


<script>
    (function (doc) {
        var scripts = doc.getElementsByTagName('script'),
                script = scripts[scripts.length - 1],
                xhr = new XMLHttpRequest();

        xhr.onload = function () {
            var div = doc.createElement('div');

            div.innerHTML = this.responseText;
            div.style.display = 'none';
            script.parentNode.insertBefore(div, script);
        };

        xhr.open('get', '/build/images/icons.svg', true);
        xhr.send()
    })(document);
</script>

</body>


</html>

