<!doctype html>
<html>
<head>
    <meta http-equiv="Content-script-Type" content="text/html/javascript;" charset="utf-8"/>
    <title>Under construction...</title>
    <link rel="stylesheet" type="text/css" href="/build/styles/build.css" media="screen"/>
    <script type="text/javascript" language="JavaScript" src="/build/js/bower.js"></script>
    <script type="text/javascript" language="JavaScript" src="/build/js/main.js"></script>
</head>


<body>

<div class="bSiteWrap" id="jsMainWrap">

    <div class="bTopPanel">

        <div class="bTopLogo">Squard in touch</div>

        <div class="bTopMenu mRight">
            <a href="/" class="eTopMenu_item jsLogin mLogin"> <svg class="bIcon"><use xlink:href="#icon_key"></use></svg></a>
        </div>
    </div><!-- .bTopPanel -->

    <div class="bMainLayout mClearFix mUserPage" id="jsMainLayout">
        <div class="bPageIn">

            <div class="bRegisterForm">
                <div class="bPanel">
                    <h2>Вход или регистрация</h2>

                    <div class="ePanel_fieldSet">
                        <div class="ePanel_fieldName">Логин или почта:</div>
                        <input type="text" />
                    </div>

                    <div class="ePanel_fieldSet">
                        <div class="ePanel_fieldName">Пароль:</div>
                        <input type="text" />
                    </div>

                    <div class="ePanel_fieldSet mButton">
                        <div class="bButton mLogin">Вход →</div>
                        <div class="bButton mRegister">Регистрация</div>
                    </div>

                </div>
            </div><!-- .bRegisterForm -->


        </div>
    </div><!-- .bMainLayout -->

</div><!-- .bSiteWrap -->


<script>
    (function (doc) {
        var scripts = doc.getElementsByTagName('script'),
                script = scripts[scripts.length - 1],
                xhr = new XMLHttpRequest();

        xhr.onload = function () {
            var div = doc.createElement('div');

            div.innerHTML = this.responseText;
            div.style.display = 'none';
            script.parentNode.insertBefore(div, script);
        };

        xhr.open('get', '/build/images/icons.svg', true);
        xhr.send()
    })(document);
</script>

</body>


</html>

