@import "../../!variables";
.bPaymentsAccountForm {
  .mDisable input {
    pointer-events: none;
  }

  .eAgreementLink {
    color: #551A8B;
    text-decoration: underline;
  }

  .eForm_savePanel {
    justify-content: center;
  }

  .bFormBlock {
    max-width: 360px;
    background-color: #FFFFFF;

      input, select {
        background-color: #FFFFFF;
      }
  }

  .bFormBlock.mDisable {
    background-color: #e1e1e1;

    input, select {
      background-color: #f5f5f5;
    }
  }

  .mDisableButton button:last-child {
    background: #ffffff;
    border: solid 1px #d2d2d2;
    color: #8c8c8c;
    cursor: default;
    pointer-events: none;
  }

  .bErrorsBlock {
    padding-top: 20px;
    text-align: center;
    color: $INVALID_COLOR;
    max-width: 360px;
  }
}
