@import "../../!variables";

.eSchoolSummary_title{
	text-transform: capitalize;
	color: $lightBlue;
	white-space: nowrap;
}

.eSchoolSummary_wrap{
	height: 80px;
	display: flex;
	max-width: 900px;
	margin: auto;
	align-items: center;
}

.eSchoolSummary_main
	{
		display: flex;
		max-width: 900px;
		margin: auto;
		align-items: flex-start;
		justify-content: space-between;

		.eImg{
			border: 1px solid #959595;
			border-radius: 5px;
			width: 172px;
			height: 172px;
			background: no-repeat 50% 50%;
			background-size: contain;
			box-sizing: border-box;
			flex-basis: 200px;
		}		

		.eText{
			flex-basis: 650px;
			display: flex;
			flex-wrap: wrap;

			.eTextKey{
				flex-basis: 200px;
				margin-bottom: 25px;
				font-size: 1em;
				font-weight: bold;
				color: #aaaaaa;
			}

			.eTextValue{
				flex-basis: 450px;
				margin-bottom: 25px;

				.eDescription_link{
					color: $lightBlue;

					&:hover{
							color: #000;
					}
				}
			}			
		}
	}
