.bSchoolMaster{
  //padding: 40px;
  box-sizing: border-box;
  position: relative;
}
.parentChildView{
  padding: 0;
}
.eSchoolMaster_titleName{
  color: $MAIN_COLOR;
}

.eSchoolMaster_title{
  display: inline-block;
  color: #235413;
  min-width: 100px;
  text-align: right;
}
.eSchoolMaster_title h1{
  margin: 0;
}
.eSchoolMaster_summary{
  border: solid 1px #c2c2c2;
  margin: 0 100px;
  background: #fff;
}
.eSchoolMaster_summary h1{
  color: #535353;
  border:none;
  margin: 0 0 20px 0;
  left: -10px;
  display: block;
  text-align: left;
}
.eSchoolMaster_groupAction{
  position: relative;
}
.groupAction{
  width: 600px;
  margin: 0 0 10px 70px;
}
.bottom_action{
  top: 48px;
}
.groupAction_item{
  display:inline-block;
}
.groupMenu{
  border:1px solid #cccccc;
  width: 80px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 25px;
  position: relative;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
.groupActionList{
  position: absolute;
  width: 125px;
  height: auto;
  border: 1px solid #c8cdd0;
  z-index: 999;
  background: darkseagreen;
  top: 19px;
  left: 0;
}
.groupActionList div{
  padding: 4px;
  cursor:pointer;
}
.groupActionList div:hover{
  text-decoration: underline;
}
.applyAction{
  border:1px solid #cccccc;
  width: 80px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.applyAction:hover{
  background: $MAIN_COLOR;
}
.caret{
  position: absolute;
  top:3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: #000000 transparent transparent transparent;
  cursor: pointer;
}
.caret_active_up{
  border-color: transparent transparent $MAIN_COLOR transparent !important;
}
.caret_active_dwn{
  border-color: $MAIN_COLOR transparent transparent transparent !important;
}
.caret_down{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #c8cdd0 transparent transparent transparent;
}
.edit_btn{
  position:relative;
}
.edit_btn .caret_down{
  border-color: #000000 transparent transparent transparent;
  margin-left: 4px;
}
.caret_up{
  position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #c8cdd0 transparent;
  left:12px;
}
.eSchoolMaster_buttons{
  position: absolute;
  left: 950px;
  top: 50%;
  margin-top: -15px;
  z-index: 100;
}
.eSchoolMaster_buttons_admin{
  margin-top:-65px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.eSchoolMaster_buttons .bButton{
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  float:right;
}
.filterBase_container{
  width: 400px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.sortGroup{
  position:relative;
  display:none;
  height: auto;
  top: -14px;
}
.eSchoolMaster_flag{
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  float: left;
}

.eSchoolMaster_flag img{
  max-width: 80px;
  max-height: 80px;
}
.bSchoolMaster .bMapView {
  height: 300px;
}
.groupActionList_show{
  display: block !important;
}
.groupActionList_hide{
  display: none !important;
}
.eSchoolMaster_loading{
  height: 40px !important;
}
.eQuickAction_list{
  display: none;
  width: 150px;
  position: absolute;
  left: -94px;
  top: 25px;
  height: auto;
  background:lighten($MAIN_COLOR, 25%);
  z-index: 9999;
}
.eQuickAction_item{
  padding:4px;
  text-align: center;
  cursor: pointer;
}
.eQuickAction_item:hover{
  text-decoration: underline;
}
.eSchoolMaster_pagination{
  position: absolute;
  top:35px;
  width:100%;
  left:40px;
}
.leftPagination{
  width:100px;
  height:20px;
  float:right;
  line-height:20px;
  padding-left:5px;
}
.rightPagination{
  width:40px;
  height:20px;
  float:right;
  line-height:20px;
}
.pagination_select{
  width:60px;
  height:20px;
  float:right;
  line-height:20px;
}
.eSchoolLounge{
  padding: 40px;
}
.summary_inside{
  max-width: 399px;
  float: left;
  margin: 10px 30px 0 70px;
}

.summary_inside p{
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  color: #aeafb1;
  line-height: 12px;
}
.eDescription {
  color: #333132!important;
  margin: 20px 0;
}

.eDescription p{
  color: #333132!important;
  font-size: 14px;
  line-height: 22px;
}
.changeSchool{
  width: 1000px;
  margin: 0 auto;
  text-align: right;
  height: 60px;
  line-height: 74px;
}
.editSchool{
  width: 399px;
  float: left;
  text-align: right;
  height: 40px;
}
.eSchoolMaster_wrap{
  height: 80px;
  display: flex;
  max-width: 900px;
  margin: auto;
  align-items: center;
}
.eStrip{
  width: 70%;
  background: #235413;
  height: 2px;
  vertical-align: middle;
  margin: 0 20px;
}
.eSchoolMaster_wrap .bButton{
  width: 140px;
}
.addButton{
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  cursor: pointer;
}
.addButton .bIcon{
  height: 50px;
  width: 50px;
  fill: inherit;
}

.addButton.bIcon:hover #icon_add_student use{
  fill: $MAIN_COLOR;
}
.addNewForm{
  background: url("/images/add-form.png") no-repeat;
  display: inline-block;
  width: 35px;
  height: 25px;
  margin: 0;
}
.addNewForm:hover{
  background: url("/images/add-form2.png") no-repeat;
}

.addHouse{
  background: url("/images/add-house1.png") no-repeat;
  display: inline-block;
  width: 35px;
  height: 25px;
  margin: 0;
}
.addHouse:hover{
  background: url("/images/add-house.png") no-repeat;
}

.eSort{
  padding: 0 5px;
  cursor: pointer;
  &:after{
    content: '↕';
  }
  &.mASC:after{
    content: '↑';
  }
  &.mDESC:after{
    content: '↓';
  }
}

.bSchoolEdit{
  margin: 0 30px;
}