@import "../../!variables";

.bSchoolMaster{
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.parentChildView{
  padding: 0;
}
.eSchoolMaster_titleName{
  color: $blueColor;
}

.eSchoolMaster_title{
  color: $lightBlue;
  text-transform: capitalize;
}

.eSchoolMaster_field {
  margin-bottom: 25px;

  .eSchoolMaster_field_name {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    color: #aaaaaa;
  }

  .eSchoolMaster_field_value {
    display: inline-block;
  }
}

.eSchoolMaster_title {
  flex-basis: 280px;
  margin-right: 15px;
}
.eSchoolMaster_fields {
  flex-basis: 550px;
}
.eSchoolMaster_buttons{
  flex-basis: 150px;
}

.eSchoolMaster_buttons,
.eSchoolMaster_title,
.eSchoolMaster_fields {
  h3{
    color: $blueColor;
    font-weight: normal;
    text-transform: uppercase;
    margin: 25px 0;
  }
}

.eSchoolMaster_title h1{
  margin: 0;
}
.eSchoolMaster_summary{
  margin: 60px auto;
  background: #fff;
  border: solid 1px #c2c2c2;
  max-width: 1000px;

  .bMapView{
    float: left;
  }

  h1{
    color: #535353;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 10px;
    max-width: 245px;
  }
  &_buttons {
    width: 100%;
    max-width: 390px;
    margin-top: -30px;
    right: 10px;

    position: absolute;

    text-align: right;
  }
}

.eSchoolMaster_groupAction{
  position: relative;
}
.groupAction{
  width: 600px;
  margin: 0 0 10px 70px;
}
.bottom_action{
  top: 48px;
}
.groupAction_item{
  display:inline-block;
}
.groupMenu{
  border:1px solid #cccccc;
  width: 80px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 25px;
  position: relative;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
.groupActionList{
  position: absolute;
  width: 125px;
  height: auto;
  border: 1px solid #c8cdd0;
  z-index: 999;
  background: darkseagreen;
  top: 19px;
  left: 0;
}
.groupActionList div{
  padding: 4px;
  cursor:pointer;
}
.groupActionList div:hover{
  text-decoration: underline;
}
.applyAction{
  border:1px solid #cccccc;
  width: 80px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.applyAction:hover{
  background: $blueColor;
}
.caret{
  position: absolute;
  top:3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: #000000 transparent transparent transparent;
  cursor: pointer;
}
.caret_active_up{
  border-color: transparent transparent $blueColor transparent !important;
}
.caret_active_dwn{
  border-color: $blueColor transparent transparent transparent !important;
}
.caret_down{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #c8cdd0 transparent transparent transparent;
}
.bLinkLike .bIcon{
  color: #c2c2c2;
}
.bLinkLike .bIcon:hover{
  color: $textColor;
}
.delete_btn .bIcon{
  height: 12px;
  width: 12px;
}
.edit_btn{
  position:relative;
}
.edit_btn .caret_down{
  border-color: #000000 transparent transparent transparent;
  margin-left: 4px;
}
.caret_up{
  position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #c8cdd0 transparent;
  left:12px;
}
.bAdminView{
  display: flex;
  max-width: 900px;
  margin: 40px auto;
}
.eSchoolMaster_buttons_admin{
  margin-top:-65px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.eSchoolMaster_buttons .bButton{
  font-size: 16px;
  letter-spacing: 1px;
}
.filterBase_container{
  width: 400px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.sortGroup{
  position:relative;
  display:none;
  height: auto;
  top: -14px;
}
.eSchoolMaster_flag{
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;

  img {
    max-width: 80px;
    max-height: 80px;
  }
}
.eSchoolMaster_summary_wrap {
  display: flex;
  flex-basis: 750px;
}
.eSchoolMaster_title {
  img {
    max-width: 170px;
    max-height: 170px;
    border-radius: 5px;
    border: solid 1px #959595;
  }
}
.bSchoolMaster .bMapView {
  min-height: 315px;
  max-width: 500px;
  display: inline-block;
  width: 50%;
}
.groupActionList_show{
  display: block !important;
}
.groupActionList_hide{
  display: none !important;
}
.eSchoolMaster_loading{
  height: 40px !important;
}
.eQuickAction_list{
  display: none;
  width: 150px;
  position: absolute;
  left: -94px;
  top: 25px;
  height: auto;
  background:lighten($blueColor, 25%);
  z-index: 9999;
}
.eQuickAction_item{
  padding:4px;
  text-align: center;
  cursor: pointer;
}
.eQuickAction_item:hover{
  text-decoration: underline;
}
.eSchoolMaster_pagination{
  position: absolute;
  top:35px;
  width:100%;
  left:40px;
}
.leftPagination{
  width:100px;
  height:20px;
  float:right;
  line-height:20px;
  padding-left:5px;
}
.rightPagination{
  width:40px;
  height:20px;
  float:right;
  line-height:20px;
}
.pagination_select{
  width:60px;
  height:20px;
  float:right;
  line-height:20px;
}
.eSchoolLounge{
  padding: 40px;
}
.summary_inside{
  max-width: 500px;
  width: 50%;
  float: left;
  font-size: 14px;
  color: #b7b7b7;
  display: flex;
  flex-direction: column;
  padding: 40px 25px 0 90px;
  position: relative;
  line-height: 18px;
}

.summary_inside p{
  line-height: 18px;
  margin-bottom: 0;
}
.eDescription {
  color: #333132;
  margin: 10px 0;
  white-space: pre-wrap;

  a {
    color: $blueColor;
    margin-left: 10px;
    text-decoration: underline;
  }
}

.changeSchool{
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
  height: 60px;
  line-height: 74px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 30px;
}
.eSchoolMaster_wrap{
  height: 80px;
  display: flex;
  max-width: 900px;
  margin: auto;
  align-items: center;
}
.eStrip{
  width: 100%;
  background: $lightBlue;
  height: 2px;
  vertical-align: middle;
  margin: 0 20px;
}
.eSchoolMaster_wrap .bButton{
  width: 140px;
}
.addButton{
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  cursor: pointer;
}
.addButton .bIcon{
  height: 50px;
  width: 50px;
  color: $lightBlue;
}
.addButton:hover .bIcon {
  color: $blueColor;
}
.addButtonShort{
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  cursor: pointer;
}
.addButtonShort .bIcon{
  height: 40px;
  width: 40px;
  color: $lightBlue;
}
.addButtonShort:hover .bIcon {
  color: $blueColor;
}

.filter_btn {
  display: flex
}
.filter_btn span{
  color: $lightBlue;
  font-size: 25px;
  font-family: sans-serif;
}
.filter_btn:hover span{
  color: $blueColor;
}
.filter_btn .bIcon{
  height: 28px;
  width: 28px;
  color: $lightBlue;
}
.filter_btn:hover .bIcon{
  color: $blueColor;
}

.addNewForm{
  background: url("/images/add-form.png") no-repeat;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
}
.addNewForm:hover{
  background: url("/images/add-form2.png") no-repeat;
}

.addHouse{
  background: url("/images/add-house1.png") no-repeat;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
}
.addHouse:hover{
  background: url("/images/add-house.png") no-repeat;
}
.eEdit_btn {
  background: url("/images/edit.png") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
}
.eEdit_btn:hover {
  background: url("/images/edit-hover.png") no-repeat;
}
.view_btn {
  background: url("/images/eye.png") no-repeat;
  display: inline-block;
  width: 25px;
  height: 15px;
  margin: 0;
}
.view_btn:hover {
  background: url("/images/eye-hover.png") no-repeat;
}
.remove_btn{
  background: url("/images/delete.png") no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0;
}
.remove_btn:hover {
  background: url("/images/delete-2.png") no-repeat;
}
.eSort{
  padding: 0 5px;
  cursor: pointer;
  &:after{
    content: '↕';
  }
  &.mASC:after{
    content: '↑';
  }
  &.mDESC:after{
    content: '↓';
  }
}
.eSchoolAddress {
  display: inline-block;
  max-width: 260px;

  p {
    margin-left: 10px;
  }
}