.bSchoolList {
  width: 800px;
  margin: 40px auto;
}

.eSchoolList_wrap{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.eSchoolList_one{
  font-size: 15px;
  line-height: 22px;
  padding: 20px;
  background: $MAIN_COLOR;
  color: white;
  border: 2px solid white;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.eSchoolList_one:hover{
  background: white;
  color: $MAIN_COLOR;
  border: 2px solid $MAIN_COLOR;
  z-index: 1;
}

.eSchoolList_one.mAddNew{
  text-align: center;
  font-size: 44px;
}

.eSchoolList_oneInfo{
  margin-top: 10px;
}