.bSchoolNews {
  font-size: 14px;
  line-height: 19px;
}

.eSchoolNews_news {
  margin-bottom: 40px;
  clear: both;
  overflow: hidden;
}

.eSchoolNews_date{
  color: rgb(145, 145, 145);
  font-size: 12px;
  margin-bottom: 5px;
}

.eSchoolNews_title{
  margin-bottom: 5px;
}

.eSchoolNews_image{
  float: left;
  max-height: 101px;
  margin-right: 21px;
}
