.bSchoolAbout{
  width: 900px;
  height: 340px;
  margin: 20px auto;
  padding: 4px;

  .eSchoolPicWrapper{
    float: left;
    padding: 60px;
    margin-right: 75px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.5);

    .eSchoolPic{
      width: 200px;
      height: 180px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .eSchoolName{
    margin: 50px 0 40px;
  }
  .eSchoolDescription{
    margin-right: 60px;
  }
  .eSchoolLink{
    color: #299AEA;
    text-decoration: underline;
  }
}