@import '../../bootstrap-custom';
.bSchoolAbout {
  min-height: 340px;
  padding: 30px 0;

  .eSchoolPicWrapper{
    display: block;
    float: left;

    padding: 60px;
    max-width: 300px;
    margin: {
      right: 55px;
      bottom: 35px;
    };
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);

    .eSchoolPic{
      width: 180px;
      height: 180px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .eSchoolName{
    margin: 10px 0 40px;
  }
  .eSchoolDescription{
    min-height: 100px;
  }
  .eSchoolLink{
    display: none;
    color: #299AEA;
    text-decoration: underline;
  }
}

.eSchoolAbout_container {
  @extend .container;
}

.eSchoolAbout_row {
  @include make-row();
}

.eSchoolAbout_col_medium_10 {
  @include make-md-column(10);
  @include make-md-column-offset(1);
}

/* Small Devices, Phones */
@media screen and (max-width: 768px) {
  .bSchoolAbout {
    .eSchoolPicWrapper {
      float: none;
      margin: {
        left: auto;
        right: auto;
      };
    }
    .eSchoolName {
      text-align: center;
    }
  }
}