@import "../../!variables";

.bConsentRequestTemplate{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius:$borderRadius;
	border: 1px solid #d2d2d2;
	text-align: center;
	height: 280px;
	overflow: auto;
}
.eConsentRequestTemplateHeading{
	margin-top: 5px;
	margin-bottom: 5px;
}
.eConsentRequestTemplateButton {
	margin-top: 10px;
}
.eConsentRequestTemplateWrapper{
	padding: 10px;
	&.mError{
		border: 1px solid red;
		border-radius:$borderRadius;
	}
	.mFullWidth{
		width:100%;
		height: 40px;
		border: 1px solid #d7d7d7;
		border-radius: 5px;
		padding: 8px;
	}
}