@import "../../!variables";

$inputBg:             #f5f5f5;
$inputFocusedBorder:  #1082c3;
$labelColor:         #8c8c8c;

.bForm {
  margin: auto;
  padding: 0 130px;
  position: relative;
  text-align: center;

  h2, h3 {
    color: $blueColor;
    font-weight: normal;
    margin: 25px 0;
  }
  h3.mHigh {
    margin-top: 85px;
  }

  &.mWide {
    padding: 0px 70px;
  }

  &.mZeroPadding {
    padding: 0px;
  }

  input[type="text"],
  input[type="password"],
  select {
    height: 40px;
    padding: 10px;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  select {
    max-width: 360px;
    width: 100%;

    background: $inputBg;
    border: $borderColor $mainBorderStyle;
    border-radius: $borderRadius;

    color: $textColor;
    font-size: 1rem;

    &:hover {

    }
    &:hover.mDisabled {
      border: solid #d7d7d7;
      border-width: 0 0 1px;
    }
    &:focus {
      border-color: $inputFocusedBorder;
    }
    &:focus.mDisabled {

    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/images/arrow_down.svg") no-repeat 98% center;
  background-size: 10px;
}
input.eDateInput{
  width: 85px;
}

.mDetails {
  padding: 0px;
}

.eForm_fieldInput {
  display: inline-block;
  position: relative;

  &.mDisplayBlock {
    display: block;
  }

  &.mLongWidth {
    width: 265px;
  }

  &.mMarginBottom {
    margin-bottom: 10px;
  }

  &.mMarginTop {
    margin-top: 10px;
  }
}

.eForm_addButtonWrapper {
  display:  inline-block;
}

.eForm_addButton {
  width:    40px;
  height:   40px;
}

.eForm_placeholder {
  padding:          5px;
  border:           solid 1px #c2c2c2;
  border-radius:    4px;
  background-color: #e1e1e1;
  margin-top:       5px;
  margin-bottom:    5px;
}

.eForm_fieldSet textarea{
  resize: vertical;
  min-height: 67px;
  min-width: 300px;
}

.eForm_fieldInput.mHidden {
  display: none;
}

.eForm_fieldInput.mPhone {
  select{
    border: none;
    position: absolute;
    height: 20px;
    width: 50px;
    margin-top: -1px;
  }
  input{
    padding-left: 55px;
  }
}

.eForm_field {
  padding: 8px 0;

  &.mDisabled {
    display: none;
  }

  p{
    font-size: 12px;
    margin-bottom: 4px;
  }

  &.mInvalid{


    input{
      border-color: $INVALID_COLOR;
    }
    .mNotRequired{
      color: #a9a9a9;
    }

    .eForm_fieldValidText {
      display: inline-block;

      color: $labelColor;
    }
    .eForm_fieldValidIcon {
      display: block;

      color: $INVALID_COLOR;
    }

    .eForm_fieldName {
      color: $INVALID_COLOR;
    }

  }
}
.eForm_fieldValidText{
  display: none;

  font-size: 1rem;

  padding-left: 5px;
}
.eForm_fieldValidIcon {
  display: none;

  position: absolute;
  right: -30px;
  top: 10px;

  font-size: 1.5rem;
}

.eForm_fieldName {
  padding-left: 10px;
  padding-bottom: 8px;

  color: $labelColor;
  font-size: 1rem;

  &.mMarginTop {
    margin-top: 12px;
  }

  &.mMarginLeft {
    margin-left: 23px;
  }

  &:empty {
    display: none;
  }
}

.eForm_field.mLarge {
  max-width: 500px;
  text-align: left;

  .eForm_fieldName{
    display: block;
    width: 190px;
  }
  .eForm_fieldColumn{
    margin: 0 0 25px 0;
    padding: 0;
    float: none;
  }
}
.eForm_savePanel{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 0 15px 0;
}
.mLeft .eForm_atCenter {
  display: block;
}
.eForm_atCenter{
  display: inline-block;
  position: relative;
  text-align: left;
}

.eForm_fieldSet{
  position: relative;

  &.mInvalid{
    .mNotRequired{
      color: #a9a9a9;
    }
  }
}

.eForm_fieldSet.mValid{
  color: $blueColor;

  .eForm_fieldValidText{
    display: block;
  }
  input{
    color: $blueColor;
  }
}
.eForm_fieldSet.mEmpty{
  border-bottom: solid 1px #ccc;
}

.eForm_fieldSet.mAreaField input{
  text-transform: uppercase;
}

.eForm_fieldColumn{
  display: inline-block;
  margin-right: 85px;
  vertical-align: top;

  &.mWithoutMargin {
    margin-right: 0px;
  }
}

.eForm_fieldSelection{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.eForm_fieldMicroHelp{
  display: inline-block;
  font-size: 14px;
  width: 300px;
  line-height: 20px;
  color: rgb(115, 115, 115);
}

.bForm.mRegisterSteps .bButton{
  width: 82px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.bSettingEmailVerify{
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin: 0 0 10px 160px;
}
.bSettingPhoneVerify{
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin: 0 0 10px 160px;
}
.bSettingEmailVerify:hover, .bSettingPhoneVerify:hover{
  color: green;
}
.bVerificationText {
  height: 35px;
  width: 100%;
  display: inline-block;
}
.eHouseForm .eForm_field{
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.eForm_blazonUpload{
  max-width: 170px;
  max-height: 170px;
  position: relative;
  margin: 0 0 45px 0;

  .eForm_blazonPreview{
    width: 172px;
    height:172px;
    border-radius: 5px;
    border: solid 1px #959595;
    overflow: hidden;
    box-sizing: border-box;

    .eImg{
      width: 100%;
      height:100%;
      background: no-repeat 50% 50%;
      background-size: cover;
      box-sizing: border-box;
    }
    .eLoader_gif{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:100%;
      overflow: hidden;
      border-radius: 5px;
      border: solid 1px #959595;
      img{
        height: 170px;
        margin-left: -25%;
      }
    }
  }

  .eInputFile{
    position: absolute;
    visibility: hidden;
  }
  .eRoundBtn .bIcon {
    position: absolute;
    top: -16px;
    right: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    webkit-box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
    -moz-box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
    box-shadow:inset rgba(203, 203, 203, 0.7) 0 0 0 2px, rgba(203, 203, 203, 0.5) 0 0 0 2px;;
  }
  .eTrash{
    color:$blueColor;
    font-size: 10px;
    cursor: pointer;
    
    .bIcon{
      color:$blueColor;
      vertical-align: text-bottom;
    }
  }
}
.eForm_fileInput{
  margin-bottom: 10px;
  position: relative;
}

.eForm_conditions {
  color: #616161;
  position: relative;
}
.eRegisterMessage a,
.eForm_message a,
.eForm_conditions a{
  color: $blueColor;
}
.eRegisterMessage a:hover,
.eForm_message a:hover,
.eForm_conditions a:hover{
  color: $COLOR;
}
.eForm_fieldSet.mInvalid .eForm_conditions {
  color: $INVALID_COLOR
}
.eForm_message{
  font-size: 11px;
  color: #a9a9a9;
  position: relative;
  padding-bottom: 10px;
  width: 200px;
}
.eRegisterMessage {
  font-size: 12px;
  color: #616161;
  margin: 0 2px 10px;
}
.eForm_confirmField {

  .eForm_fieldColumn {
    display: inline-block;
    float: right;
    margin: -20px 0 20px;
    padding-bottom: 25px;
  }

}

.bLoginForm input[type="text"],
.bLoginForm input[type="password"] {
  width: 200px;
}
.eStudentForm {

  .eForm_fieldColumn{
    margin: 0;
  }
  .eForm_atCenter {
    width: 100%;
  }
  textarea {
    width: 300px;
  }

}
.bForm .eCombobox_input{
  width: 300px;
}
.eForm_info{
  margin-top: 10px;
}
