.bForm {
  margin: auto;
  padding: 30px;
  text-align: center;
  position: relative;
}

.bForm h2{
  margin-bottom: 34px;
  color: $COLOR;
}

.bForm h3{
  margin-bottom: 24px;
}

.bForm input[type="text"],
.bForm input[type="password"]{
  width: 200px;
}

.eForm_fieldInput {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.eForm_fieldInput textarea{
  resize: none;
  height: 400px;
  width: 800px;
}

.eForm_fieldInput.mHidden {
  display: none;
}

.eForm_fieldInput.mPhone {
  select{
    border: none;
    position: absolute;
    margin: 2px;
    height: 18px;
    background-color: transparent;
  }
  input{
    padding-left: 51px;
  }
}

.eForm_fieldSmallHelp{
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  position: absolute;
  top: -15px;
}

.eForm_field {
  margin-bottom: 20px;
}
.eForm_field p{
  font-size: 12px;
  margin-bottom: 4px;
}

.eForm_fieldName {
  font-size: 16px;
  color: $COLOR;
}

.eForm_savePanel{
  margin-top: 30px;
}

.eForm_atCenter{
  display: inline-block;
  text-align: left;
  position: relative;
}

$INVALID_COLOR: rgb(182, 0, 0);

.eForm_fieldValidText{
  padding: 0 5px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  font-size: 1.5em;
}
.eForm_fieldSet{
  position: relative;
  padding-right: 15px;
}

.eForm_fieldSet.mValid{
  color: green;

  .eForm_fieldValidText{
    display: block;
  }
  input{
    border: 1px solid green;
    color: green;
  }
}

.eForm_fieldSet.mInvalid{
  color: $INVALID_COLOR;
  .mNotRequired{
    color: $BodyColor;
  }
  .eForm_fieldValidText{
    display: block;
  }
  input{
    border: 1px solid $INVALID_COLOR;
    color: $INVALID_COLOR;
  }
}

.eForm_fieldSet.mAreaField input{
  text-transform: uppercase;
}

.eForm_fieldColumn{
  display: inline-block;
  margin-right: 60px;
  vertical-align: top;
}

.eForm_fieldSelection{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.eForm_fieldMicroHelp{
  display: inline-block;
  font-size: 14px;
  width: 300px;
  line-height: 20px;
  color: rgb(115, 115, 115);
}

.bForm.mRegisterSteps .bButton{
  width: 82px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.bSettingEmailVerify{
  display: inline-block;
  position:absolute;
  left: 260px;
  bottom: 199px;
  width: 100px;
  cursor: pointer;
}
.bSettingPhoneVerify{
  display: inline-block;
  position:absolute;
  left: 260px;
  bottom: 130px;
  width: 100px;
  cursor: pointer;
}
.bSettingEmailVerify:hover, .bSettingPhoneVerify:hover{
  color: green;
}

.eHouseForm .eForm_field{
  display: flex;
  border-bottom: $BORDER;
  align-items: center;
  height: 60px;
  margin: 0;
}
.eHouseForm .eForm_fieldName{
  width: 150px;
  font-weight: bold;
}
.eHouseForm input{
  height: 32px;
}
.eHouseForm h2{
  color: $COLOR;
}

.editStudentForm{
  max-width: 850px;
  margin: 0 auto;
}

.editStudentForm .eForm_fieldColumn {
  border: $BORDER;
  background: #fff;
  float: left;
  min-width: 340px;
  margin: 10px;
  padding: 10px;
  min-height: 102px;
}

.editStudentForm .eForm_fieldName{
  float: left;
  min-width: 100px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
}
.editStudentForm .eForm_field{
  width: 320px;
  margin: 0 auto;
  border-bottom: $BORDER;
}
.editStudentForm input[type="text"]{
  width: 100px;
  border: none;
}
.editStudentForm .dateFormat{
  display: none;
}
.editStudentForm .eCombobox_input{
  max-width: 150px;
  border: none;
}
.editStudentForm textarea{
  width: 320px;
  height: 50px;
  background: #EAEAEA;
  margin-top: -5px;
}
.editStudentForm .eForm_fieldSet {
  height: 40px;
  line-height: 40px;
}
.editStudentForm .bButton .mRight{
  margin-right: 50px;
}
.eForm_blazonUpload{
  width: 200px;
  height: 200px;
  position: relative;
}
.eForm_blazonPreview{
  width: 100%;
  height:100%;
}
.eForm_blazonPreview img{
  width: 200px;
  height:200px;
}
.eForm_fileInput{
  margin-top: 10px;
  position: relative;
}
.inputFile{
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
.labelForInputFile{
  display: inline-block;
  background: #66952D;
  color: #f0f0f0;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.eLoader_gif{
  position: absolute;
  top:0;
}
.eLoader_gif_hide{
  display: none;
}
.eLoader_gif_show{
  display: block;
}
.eManager_select_wrap select {
  border: none;
  width: 200px;
  height: 37px;
  color: #000000;
  background: transparent;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: $BORDER;
  border-radius: 5%;
}
.eManager_select_wrap option{
  height: 30px;
  color: #333132;
}
.eManager_select_wrap option:hover{
  background: $MAIN_COLOR;
}
.eManager_select_wrap {
  position: relative;
  background: #fff;
  width: 195px;
  background: url("/images/icons/select_arrow.svg") right no-repeat;
  background-size: 14px 14px;
  background-color: #fff;
}
