.bForm {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

.bForm h2{
  margin-bottom: 34px;
}

.bForm input[type="text"],
.bForm input[type="password"]{
  width: 200px;
}

.eForm_fieldInput {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.eForm_fieldInput.mHidden {
  display: none;
}

.eForm_fieldSmallHelp{
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  position: absolute;
  top: -20px;
}

.eForm_field {
  margin-bottom: 20px;
}

.eForm_fieldName {
  font-size: 16px;
  margin-bottom: 8px;
}

.eForm_savePanel{
  margin-top: 30px;
}

.eForm_atCenter{
  display: inline-block;
  text-align: left;
  position: relative;
}

$INVALID_COLOR: rgb(182, 0, 0);

.eForm_fieldValidText{
  display: none;
  font-size: 12px;
  color: $INVALID_COLOR;
  margin-top: 7px;
}

.eForm_fieldSet.mInvalid .eForm_fieldValidText{
  display: block;
}

.eForm_fieldSet.mInvalid{
  color: $INVALID_COLOR;
}

.eForm_fieldSet.mInvalid input{
  border: 1px solid $INVALID_COLOR;
  color: $INVALID_COLOR;
}

.eForm_fieldSet.mAreaField input{
  text-transform: uppercase;
}

.eForm_fieldColumn{
  display: inline-block;
  margin-right: 60px;
  vertical-align: top;
}

.eForm_fieldSelection{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.eForm_fieldMicroHelp{
  display: inline-block;
  font-size: 14px;
  width: 300px;
  line-height: 20px;
  color: rgb(115, 115, 115);
}

.bForm.mRegisterSteps .bButton{
  width: 82px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.bSettingEmailVerify{
  display: inline-block;
  position:absolute;
  left: 260px;
  bottom: 199px;
  width: 100px;
  cursor: pointer;
}
.bSettingPhoneVerify{
  display: inline-block;
  position:absolute;
  left: 260px;
  bottom: 130px;
  width: 100px;
  cursor: pointer;
}
.bSettingEmailVerify:hover, .bSettingPhoneVerify:hover{
  color: green;
}