.bForm {
  margin: auto;
  padding: 30px;
  text-align: center;
  position: relative;
}

.bForm h2{
  margin-bottom: 34px;
  color: $COLOR;
}

.bForm h3{
  margin-bottom: 24px;
}

.bForm input[type="text"],
.bForm input[type="password"]{
  width: 138px;
  height: auto;
  border: none;
  border-bottom: solid #ccc 1px;
  background: transparent;
  border-radius: 0;
}
.bForm input[value]:not([value=""]){
  border-bottom: solid transparent 1px;
}
.bForm input:hover{
  border-bottom: solid #959595 1px;
}
.eForm_fieldInput {
  display: inline-block;
  position: relative;
}
.eForm_fieldInput textarea{
  resize: vertical;
  min-height: 70px;
  min-width: 194px;
}

.eForm_fieldInput.mHidden {
  display: none;
}

.eForm_fieldInput.mPhone {
  select{
    border: none;
    position: absolute;
    height: 20px;
    background-color: transparent;
    top: 50%;
    margin-top: -10px;
  }
  input{
    padding-left: 51px;
  }
}

.eForm_fieldSmallHelp{

}

.eForm_field {
  margin-bottom: 20px;
}
.eForm_field p{
  font-size: 12px;
  margin-bottom: 4px;
}

.eForm_fieldName {
  font-size: 16px;
  font-weight: bold;
  color: #aaaaaa;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  vertical-align: bottom;
}
.eForm_fieldName:empty {
  display: none;
}
.eForm_savePanel{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 20px;
}

.eForm_atCenter{
  display: inline-block;
  position: relative;
  text-align: left;
}

.eForm_fieldValidText{
  display: none;
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 10;
  font-size: 1.5em;
}
.eForm_fieldSet{
  position: relative;
  display: inline-block;
}
.eForm_fieldSet input:focus{
  border-color:#378258;
}

.eForm_fieldSet.mValid{
  color: $MAIN_COLOR;

  .eForm_fieldValidText{
    display: block;
  }
  input{
    color: $MAIN_COLOR;
  }
}

.eForm_fieldSet.mInvalid{
  color: $INVALID_COLOR;
  .mNotRequired{
    color: #a9a9a9;
  }
  .eForm_fieldValidText{
    display: block;
  }
  input{
    border-bottom: 1px solid $INVALID_COLOR;
    color: $INVALID_COLOR;
  }
}

.eForm_fieldSet.mAreaField input{
  text-transform: uppercase;
}

.eForm_fieldColumn{
  display: inline-block;
  margin: 0 25px;
  vertical-align: top;
}

.eForm_fieldSelection{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.eForm_fieldMicroHelp{
  display: inline-block;
  font-size: 14px;
  width: 300px;
  line-height: 20px;
  color: rgb(115, 115, 115);
}

.bForm.mRegisterSteps .bButton{
  width: 82px;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.bSettingEmailVerify{
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin: 0 0 10px 160px;
}
.bSettingPhoneVerify{
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin: 0 0 10px 160px;
}
.bSettingEmailVerify:hover, .bSettingPhoneVerify:hover{
  color: green;
}
.bVerificationText {
  height: 35px;
  width: 100%;
  display: inline-block;
}
.eHouseForm .eForm_field{
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.eForm_blazonUpload{
  max-width: 170px;
  max-height: 170px;
  position: relative;
  margin-bottom: 30px;
}
.eForm_blazonPreview{
  width: 100%;
  height:100%;
}
.eForm_blazonPreview img{
  width: 170px;
  height:170px;
  border-radius: 5px;
  border: solid 1px #959595;
}
.eForm_fileInput{
  margin-bottom: 10px;
  position: relative;
}
.inputFile{
  position: absolute;
  overflow: hidden;
  opacity: 0;
}
.labelForInputFile{
  display: inline-block;
  background: #66952D;
  color: #f0f0f0;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.eLoader_gif{
  position: absolute;
  top:0;
}
.eLoader_gif_hide{
  display: none;
}
.eLoader_gif_show{
  display: block;
}
.eManager_select_wrap select {
  border: none;
  width: 180px;
  height: 37px;
  color: #000000;
  background: transparent;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: $BORDER;
  border-radius: 5%;
}
.eManager_select_wrap option{
  height: 30px;
  color: #333132;
}
.eManager_select_wrap option:hover{
  background: $MAIN_COLOR;
}
.eManager_select_wrap {
  position: relative;
  background: #fff;
  width: 180px;
}
.eManager_select_wrap:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 15px;
  right: 6px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: $COLOR transparent;
}
.eForm_conditions {
  color: #a9a9a9;
  margin-left: -35px;
  position: relative;
}
.eRegisterMessage a,
.eForm_message a,
.eForm_conditions a{
  color: $MAIN_COLOR;
}
.eRegisterMessage a:hover,
.eForm_message a:hover,
.eForm_conditions a:hover{
  color: $COLOR;
}
.eForm_fieldSet.mInvalid .eForm_conditions {
  color: $INVALID_COLOR
}
.eForm_message{
  font-size: 11px;
  color: #a9a9a9;
  position: relative;
  top: -7px;
  width: 200px;
}
.eRegisterMessage {
  font-size: 10px;
  color: #a9a9a9;
  margin: 0 0 5px 12px;
}
.eForm_confirmField {
  margin-left: -160px;
  margin-top: -10px;
  background: #eaeaea;
  max-width: 340px;
}
.eForm_confirmField .eForm_fieldInput {
  margin-top: 10px;
}
.eForm_confirmField .eForm_fieldColumn {
  margin: 0 0 10px;;
}
.bLoginForm input[type="text"],
.bLoginForm input[type="password"] {
  width: 200px;
}
.eStudentForm .bForm {
  padding: 30px 100px;
}
.eStudentForm .eForm_atCenter {
  width: 100%;
}
.eStudentForm textarea {
  width: 300px;
  font-weight: bold;
}
.eStudentForm .bCombobox {
  max-width: 138px;
}
.bForm .eCombobox_input{
  width: 138px;
}