@import "../../!variables";

.bPageMessage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;

  h2 {
    color: $blueColor;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  .mInvalid .eForm_fieldValidText {
    display: inline-block!important;
    white-space: nowrap;
    padding-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .eForgotPass {
    text-align: center;
    text-decoration: none;
  }
}

.ePageMessage_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ePageMessage_text .bButton{
  margin: 0 6px;
}
.bPageMessage .bButton.mRight {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 450px) {
  .bPageMessage{
	width: 100%;
  }
}
