.bConfirmPopup {
  position: relative;
  display: inline-block;

  min-width: 500px;
  min-height: 50px;

  z-index: 10000;

  background: white;
  padding: 20px;
  margin: auto;

  &.mBig {
    max-width: 700px;
  }
  &.mFullWidth {
    width: 100%;
  }
}

.eConfirmPopup_body {
  margin-bottom: 10px;

  &.mZeroMargin {
    margin: 0px;
  }
}

.eConfirmPopup_footer {
  text-align: right;

  &.mHide {
    display: none;
  }
}

.eConfirmPopup_overlay {
  display: flex;
  position: fixed;

  min-height: 480px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: auto;

  z-index: 10000;
}