.bConfirmPopup {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 500px;
  min-height: 50px;

  z-index: 10000;

  background: white;
  padding: 20px;
  margin: auto;

  &.contentWidth {
    min-width: inherit !important;
  }

  &.mBig {
    max-width: 700px;
  }
  &.mMiddle {
    max-width: 591px;
  }
  &.mSmallWidth {
    min-width: 390px !important;
    width: 390px;
  }
  &.mFullWidth {
    width: 100%;
  }
  .verify_error{
    width: 300px;
    display: block;
  }
}

.eConfirmPopup_title {
  color: #007abf;
  font-size: 1.5625rem;
  margin-bottom: 20px;
}

.eConfirmPopup_body {
  margin-bottom: 10px;

  &.mZeroMargin {
    margin: 0px;
  }
}

.eConfirmPopup_footer {
  text-align: right;

  &.mHide {
    display: none;
  }
}

.eConfirmPopup_overlay {
  display: flex;
  position: fixed;

  min-height: 480px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: auto;

  z-index: 10000;
}