.bRivalChooser {
  display: flex;
}

.eRivalChooser_itemsContainer {
  padding-top: 15px;
  margin-right: 10px;
}

.eRivalChooser_item {
  padding: 10px 10px 0px 0px;
  cursor: pointer;

  font-size: 1.5625rem;
  text-align: left;
  text-overflow: ellipsis;

  &:hover {
    background: #d7d7d7;
  }

  &.mOnce {
    cursor: default;
    padding: 0px;
    margin-bottom: 0px;
    &:hover {
      background: none;
    }
  }

  &.mNotActive {
    opacity: 0.3;
    &:hover {
      opacity: 1;
      background: #d7d7d7;
    }
  }

  &.mDisable {
    opacity: 0.4;
    cursor: default;
    user-select: none;
    &:hover {
      border-color: #eee;
      background: transparent;
    }
  }
}

.eRivalChooser_separator {
  padding: 10px 10px 0px 10px;
  cursor: pointer;

  opacity: 0.4;

  font-size: 1.5625rem;
  text-align: center;
  text-overflow: ellipsis;
}