@import "../../!variables";

.bPlayerChooser {
  height: 322px;
  width: 290px;

  border: solid 1px #c2c2c2;
  border-bottom: none;

  background-color: white;

  box-sizing: border-box;

  &.mChildrenBooking {
    width: 700px;
  }
}

.ePlayerChooser_playerSearchBox {
  padding: 10px;
}

.ePlayerChooser_playerSearchBoxInput {
  width: 100%;

  background-color: #eaeaea;
  border: none;
}

.ePlayerChooser_playerList {
  height: 279px;

  padding: 0 10px 0 10px;

  overflow-y: auto;

  &.mChildrenBookingBookedChildren {
    height: 244px;
  }
}

.ePlayerChooser_player {
  &.mSelected {
    background-color: #d7d7d7;
  }
}

.ePlayerChooser_playerName {
  display: inline-block;

  width: 80%;
}

.ePlayerChooser_playerForm {
  display: inline-block;

  width: 20%;
}

.ePlayerChooser_addToTeamButton {
  height: 40px;
  background: $blueColor url("/images/arrows_l.png") no-repeat center;
  &:hover {
    background-color: $lightBlue;
  }
}

@media screen and (max-width: 1024px) {
  .bPlayerChooser {
    &.mChildrenBooking {
      width: 500px;
    }
  }
}