.bPlayerChooser {
  width: 290px;

  border: solid 1px #c2c2c2;

  background-color: white;
}

.ePlayerChooser_playerSearchBox {
  padding: 10px;
}

.ePlayerChooser_playerList {
  height: 266px;

  padding: 0 10px 0 10px;

  overflow-y: auto;
}

.ePlayerChooser_player {
  height: 10px;

  padding: 10px 0 10px 0;

  vertical-align: top;

  cursor: pointer;

  &.mSelected {
    background-color: #d7d7d7;
  }

  &:hover {
    background-color: #d7d7d7;
  }
}

.ePlayerChooser_playerName {
  display: inline-block;

  width: 90%;
}

.ePlayerChooser_playerForm {
  display: inline-block;

  width: 10%;
}

.ePlayerChooser_addToTeamButton {
  height: 40px;
  background: #759500 url("/images/arrows_l.png") no-repeat center;
  &:hover {
    background-color: #566D01;
  }
}