.bTeamChooser {
  display: inline-block;
  vertical-align: top;
}

.eTeamChooser_leftSide {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eTeamChooser_rightSide {
  display: inline-block;

  margin-left: 14px;

  vertical-align: top;
}

.eTeamChooser_button {
  width: 120px;
  height: 35px;
  background: #759500;
  color: #225412;
  
  text-align: center;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  font-family: Glober, sans-serif;

  border: none;

  &.mActive {
    color: white;
    background: #759500 url('/images/team_chooser_active.png') no-repeat center;
  }

  &.mDeselect {
    height: 22px;
    padding-top: 11px;

    background: #eaeaea;
    border: solid 1px #7f9a77;
    &:hover {
      border-color: #225412;
    }
    &:active {
      background: #eaeaea url('/images/deselect_button_press.png') no-repeat center;
    }
  }

  &.mDisable {
    display: none;
  }
}

.eTeamChooser_teamListContainer {
  position: absolute;
  width: 394px;
  margin-top: 3px;

  z-index: 100;

  &.mDisable {
    display: none;
  }
}

.eTeamChooser_teamList {
  border: solid 1px #c2c2c2;
  border-top: none;
  padding: 10px 20px 0px 20px;

  background: white;
}

.eTeamChooser_teamListHead {
  height: 8px;
  background: url("/images/team_chooser_list.png") no-repeat bottom;
}

.eTeamChooser_team {
  min-height: 19px;
  width: 100%;
  padding: 12px 0 10px 0;

  vertical-align: top;

  border-bottom: solid 1px;
  border-color: #c2c2c2;

  color: #235413;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background-color: #d7d7d7;
  }

  &.mLast {
    border-bottom: none;
  }

  &.mAlert {
    background-color: inherit;
  }
}

.eTeamChooser_teamName {
  display: inline-block;

  width: 50%;

  text-align: left;

  vertical-align: top;
  word-wrap: break-word;
}

.eTeamChooser_teamAges {
  display: inline-block;

  width: 40%;
  padding-left: 15px;

  text-align: right;

  vertical-align: top;

  word-wrap: break-word;
}