.bTeam {
  width: 392px;
  height: 320px;

  background: #fff;

  color: #2a2a2a;

  &.mDefaultView {
    width:        406px;
    height:       322px;
    border-left:  solid 1px #c2c2c2;
  }

  &.mSkypeStyleView {
    border: $BORDER;
    border-right: none;
  }
}

.eTeam_playerList {
  height: 233px;

  overflow-y: auto;
}

.eTeam_player {
  cursor: pointer;

  padding: 5px;

  &.mHead {
    color: #939393;
    border-top: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;

    &:hover {
      background-color: #fff;
      cursor: auto;
    }
  }

  &.mSelected {
    background-color: #d7d7d7;
  }

  &:hover {
    background-color: #d7d7d7;
  }
}

.eTeam_playerItem {
  display: inline-block;
  vertical-align: top;

  height: 23px;
  padding-top: 12px;

  text-align: center;
  font-weight: bold;
  font-size: 16px;

  &.mName {
    width: 40%;
    &.mDefaultView {
      width: 35%;
    }
    &.mLong {
      width: 50%;
    }
  }

  &.mForm {
    width: 10%;
    &.mLong {
      width: 50%;
    }
  }

  &.mPosition {
    width: 40%;
  }

  &.mPosition {
    width: 40%;

    &.mSelector {
      padding-top: 8px;
    }
  }

  &.mSub {
    width: 10%;
  }

  &.mRemove {
    width: 5%;
  }
}

.eTeam_positionSelector {
  height: 18px;

  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;
}

.eManager_managerTeamContainer {
  margin-left: 18px;
  display: inline-block;
}

.eManager_gameFieldContainer {
  display: inline-block;
  width: 364px;
  margin: 45px 0 0 10px;
}

.eTeam_errorBox{
  display: inline-block;
  width: 300px;

  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  color: #ea5a00;
}

.eTeam_removeButton {
  height: 40px;

  background: #759500 url("/images/arrows_r.png") no-repeat center;
  &:hover {
    background-color: #566D01;
  }
}

.hHouseDuplicateError{
  margin-top: 5px;
  font-size: 14px;
  color: #FF0000;
  display: none;
}
.bPlayer.mHead {
  background: #d7d7d7;
}
.bPlayer tr{
  padding: 0 10px;
}