.bTeamName {
  height: 40px;

  padding-top:  10px;

  background-color: #fff;
  border:           solid 1px #c2c2c2;
  border-bottom:    none;
}

.eTeamName_nameContainer {
  width: 350px;

  margin: 0 auto;

  font-size: 16px;
}

.eTeamName_name {
  margin-top: 10px;

  text-align: center;
}

.eTeamName_nameForm {
  margin-top: 10px;
  text-align: center;
  background: transparent;
  border-radius: 0;
  border: solid #d7d7d7;
  border-width: 0 0 1px;
  height: auto;
  padding: 0;
  width: 300px;

  &::-ms-clear {
	display: none;
  }

  &.mSaveAsNewTeam {
    width: 200px;
    text-align: left;
    padding-left: 5px;
  }

  &.mWarning {
    color: #ea5a00;
  }
}

@media screen and (max-width: 1024px) {
  .bTeamName {
    width: 590px;
  }
}