.bTeam {
  display: inline-block;

  width: 392px;
  height: 318px;

  background: #fff;
  border: $BORDER;
  border-right: none;
}

.eManager_managerTeamContainer {
  margin-left: 18px;
  display: inline-block;
}

.eManager_gameFieldContainer {
  display: inline-block;
  width: 364px;
  margin: 42px 0 0 10px;
}

.eTeam_errorBox{
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
  color: #FF0000;
}

.hHouseDuplicateError{
  margin-top: 5px;
  font-size: 14px;
  color: #FF0000;
  display: none;
}
.bPlayer.mHead {
  background: #759500;
}
.bPlayer tr{
  padding: 0 10px;
}