@import "../../!variables";
@import "../../!mixins";

.bTeam {
  width: 392px;
  height: 320px;

  background: #fff;

  color: #2a2a2a;

  &.mDefaultView {
    width:        456px;
    height:       322px;
    border-left:  solid 1px #c2c2c2;
    box-sizing: border-box;
  }

  &.mSkypeStyleView {
    border: $BORDER;
    border-right: none;
  }
}

.eTeam_playerList {
  height: 285px;

  overflow-y: auto;
}

.eTeam_player {
  cursor: pointer;

  padding: 10px 5px 5px;

  &.mHead {
    color: #939393;
    border-top: solid 1px #c2c2c2;
    border-bottom: solid 1px #c2c2c2;

    &:hover {
      background-color: #fff;
      cursor: auto;
    }
  }

  &.mSelected {
    background-color: #d7d7d7;
  }

  &:hover {
    background-color: #d7d7d7;
  }
}

.eTeam_playerItem {
  display: inline-block;
  vertical-align: top;

  height: 20px;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  &.mNumber {
    width: 5%;
  }

  &.mName {
    @include text-overflow;
    white-space: nowrap;

    width: 32%;

    &.mDefaultView {
      width: 30%;
    }
    &.mLong {
      width: 45%;
    }
  }

  &.mForm {
    width: 8%;
    &.mLong {
      width: 50%;
    }
  }

  &.mPosition {
    width: 33%;
  }

  &.mSub {
    width: 7%;
  }

  &.mCaptain {
    width: 15%;
  }

  &.mRemove {
    width: 5%;
  }
}

.eTeam_positionSelector {
  height: 18px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #2a2a2a;
  width: 80%;
}

.eManager_managerTeamContainer {
  margin-left: 18px;
  display: inline-block;
}

.eManager_gameFieldContainer {
  display: inline-block;
  width: 364px;
  margin: 87px 0 0 10px;
}

.eTeam_errorBox{
  display: inline-block;
  width: 340px;

  text-align: right;
  margin-top: 10px;
  font-size: 16px;
  color: #ea5a00;
}

.eTeam_removeButton {
  height: 40px;

  background: $blueColor url("/images/arrows_r.png") no-repeat center;
  &:hover {
    background-color: $lightBlue;
  }
}

.hHouseDuplicateError{
  margin-top: 5px;
  font-size: 14px;
  color: #FF0000;
  display: none;
}