.bTeamName {
  height: 40px;

  padding-top:  10px;

  background-color: #759500;
}

.eTeamName_nameContainer {
  width: 350px;

  margin: 0 auto;
}

.eTeamName_name {
  margin-top: 10px;

  text-align: center;
}

.eTeamName_nameForm {
  width: 350px;
  height: 30px;

  border: none;

  text-align: center;
}