.bSavingPlayerChangesModePanel {
  margin-bottom: 10px;
}

.eSavingPlayerChangesModePanel_text {
  margin-bottom: 10px;

  font-size:  16px;
  color:      black;
}

.eSavingPlayerChangesModePanel_teamName {
  font-weight: bold;
}

.eSavingPlayerChangesModePanel_radioButtons {
  font-size: 16px;
}