.bIcon{
  width: 18px;
  height: 18px;
  display: inline-block;
  color: #fff;
  fill: currentColor;

  &.mInactive {
    filter: grayscale(100%);
  }
}
.bIcon-mod{
  color: #000000 ;
  margin: 4px;
}
.bIcon-mod:hover{
  color: #f5871f ;
}
.bIcon-mod:active{
  color: #f5871f;
}
.bIcon-gender {
  height: 20px;
  width: 20px;
}