.bPanel {
  clear: both;
  margin-bottom: 25px;
}

.ePanel_fieldSet{
  width: 280px;
  margin-bottom: 18px;
}

.ePanel_fieldSet.mButton{
  margin-top: 26px;
}

.ePanel_fieldName{
  margin-bottom: 8px;
  font-size: 14px;
}