@import '../!variables';
@import '../bootstrap-custom';

.eSchoolHomePage{
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fff;
}

/*header*/
.bSchoolHeader {
  margin-top: 100px;
  position:relative;
}

.eSchoolHomeFooter{
  width: 100%;
  height: 200px;
  padding-top: 40px;

  position: relative;

  border-top: solid 1px rgb(230,230,230);

  color:#898989;
  font-size: 1.125rem;
}

.eSchoolHomeFooter_container {
  @extend .container;
}

.eSchoolHomeFooter_row {
  @include make-row();
}

.eSchoolHomeFooter_col_size_4 {
  @include make-sm-column(4);
}

.eSchoolHomeFooter_col_size_8 {
  @include make-sm-column(8);
  text-align: right;
}

.eSchoolHomeFooter_logo {
  max-width: 230px;
  width: 100%;
  height: auto;
}

.eSchoolHomeFooter_copyright {
  padding: {
    top: 40px;
    bottom: 18px;
  }
  color: $blueColor;
  font-family: Glober-Bold, sans-serif;
}

.eSchoolHomeFooter_link {
  width: 100%;

  text-decoration: underline;
}

.eSchoolBodyWrapper{
  position:relative;
  height: auto;
  margin: auto;
}

.eSchoolBlog{
  width: 960px;
  background: #FFFFFF;
  position: relative;
  float:left;
  height: 250px;
  margin: 40px 0 40px 125px;
  overflow:hidden;
  display: none;
}

//carousel styles
.carouselContainer{
  height: 250px;
  width: 2880px;
  background: #FFFFFF;
  overflow-x:scroll;
  overflow-y: hidden;
  position:relative;
  -webkit-transition: margin 1s;
  -moz-transition: margin 1s;
  -ms-transition: margin 1s;
  -o-transition: margin 1s;
  transition: margin 1s;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.testChildren{
  height: 248px;
  width: 958px;
  //border: 1px solid black;
  display:inline-block;
  text-align: center;
  position:relative;
  float:left;
}
.carouselChevron{
  position:absolute;
  top: 88px;
  left: 0;
  width: 64px;
  height: 64px;
  color:#FFFFFF;
}
.chevRight, .chevLeft, .chevUp, .chevDown{
  cursor: pointer;
}
.chevRight{
  left: 922px;
}
.chevUp{
  top: 0;
  left: 450px;
}
.chevDown{
  top: 230px;
  left: 450px;
}
.chevronMod{
  width: 40px !important;
  height: 64px !important;
}
.blogAuthorPicCarousel{
  width:300px;
  height:248px;
  float:left;
  position: relative;
  //border:1px solid red;
}
.authorPic{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border:1px solid #c8cdd0;
  border-radius: 50%;
  margin: 20px 20px 20px 55px;
  overflow: hidden;
}
.fixtureCarouselSchoolPic{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border:1px solid #c8cdd0;
  border-radius: 50%;
  margin: 20px 20px 20px 55px;
  overflow: hidden;
}
.fixtureCarouselSchoolPic img{
  width: 140px;
  height: 184px;
}
.fixtureCarouselSchoolComment{
  width: 300px;
  height:248px;
  float:left;
  font-style: italic;
  color:#8e908c;
  font-size: 16px;
  font-weight:500;
}
.authorPic img{
  width: 206px;
  height: 206px;
}
.blogCommentCarousel{
  width: 624px;
  height:248px;
  float:left;
  font-style: italic;
  color:#8e908c;
  font-size: 16px;
  font-weight:500;
  //border:1px solid blue;
}
.blogCommentCarousel blockquote{
  margin-top: 80px;
}
.blogCommentCarousel span{
  display: block;
  margin: 5px 5px 5px 120px;
  font-style: italic;
  color:#8e908c;
  font-weight:200;
}

.carouselUpScroll{
  overflow: hidden;
}
.versusText{
  font-size: 64px;
  margin-top: 72px;
}
.carouselFixtureComment{
  font-size: 24px;
  margin-top:10px;
}
.fixtureCarouselParticipantName{
  position: absolute;
  top:  230px;
  left: 130px;
  color:#8e908c;
}
.eSchoolHeader_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.mShowing {
  opacity: 1;
  z-index: 100;
}

.mTransitionImage{
  transition: all 0.5s ease-in-out;
}

.eSchoolCalenderFixtureItem{
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}
.eSchoolCalenderFixtureItem img{
  width: 30px;
}

.bFixtureMessage {
  max-width: 1150px;
  margin: 0 auto;

  font-size: 16px;
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
  .bSchoolHeader {
  }
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {
  .bSchoolHeader {
    margin-top: 70px;
  }
}

/* Small Devices, Phones */
@media screen and (max-width: 768px){
  .bSchoolHeader {
  }
  .eSchoolHeader_slider {
    background-attachment: scroll;
  }
  .eSchoolHomeFooter,
  .eSchoolHomeFooter_col_size_8 {
    text-align: center;
  }
  .eSchoolHomeFooter_col_size_8 {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 480px){
  .bSchoolHeader {
  }
}

@media screen and (max-height: 900px) {
  .bSchoolHeader {
    margin-top: 70px;
  }
}