@import '../!variables';

.bPageIn{
  padding: 25px 20px;
  box-sizing: border-box;
  position: relative;
}
.eSchoolHomePage{
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fff;
}

/*header*/
.eSchoolHeader{
  background-size: cover;
  height: 470px;
  position:relative;
  overflow: hidden;
}
.eSchoolMastHead{
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
}
.eSchoolMotto{
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  color: $textColor;
  font-size: 1.5625rem;
  height: 300px;
  margin: auto;
  max-width: 315px;
  padding-top: 70px;
  text-align: center;
}
.eSchoolBlazon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 auto 20px;
  height: 110px;
  width: 110px;
}

.eSchoolFixtureTab{//TODO Rename it
  width: 100%;
  max-width: 1180px;
  height: 40px;
  position:relative;
  text-align: center;
  margin: 30px auto;
}

.bFixtureResult{
  width: 90px;
  min-height: 100px;
  background: #007dbe;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eSchoolFixtureTab.eNews_tab h1{
  color: #9c3022;
}
.eSchoolFixtureTab.eNews_tab hr{
  border-color: #f26522;
}
.eSchoolNewsContainer{
  height: auto;
  position: relative;
  margin-top: 40px;
}
.eSchoolNewsItems{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eSchoolNewsItemLatest{
  position: relative;
}
.eSchoolNewsItemLatest .eSchoolNewsItemDescription{
  top: 210px;
  position: absolute;
  color: #fff;
  width: 40%;
}
.eSchoolNewsItemLatest .eSchoolNewsItemDescription hr{
  border: solid 1px #fff;
}
.eSchoolNewsItemLatest .eSchoolNewsItemDescription h1{
  font-weight: bold;
}

.eSchoolNewsItemLatest span.eSchoolNewsImage img{
  width: 940px;
  height: 400px;
  margin: 0 auto;
  padding-left: 10px;
}

.eSchoolNewsItem {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background: #fff;
  width: 100%;
  max-width: 920px;
  margin: 20px;
  border: $BORDER;
  color: #333132;
}
.eSchoolNewsImage {
  display: flex;
  width: 35%;
  background-size: cover;
  background-position: center top;
}
.eSchoolNewsItemDescription{
  height:auto;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  width: 65%;
}

.eSchoolNewsItemInfo{
  height: auto;
  margin: 30px 0;
}
.eSchoolNewsDateText{
  font-size: 10px;
  margin-right: 5px;
}

.newsItemTitle{
  font-weight: normal;
  font-size: 30px;
}
.newsItemText{
  margin-top: 10px;

  p{
    line-height: 18px;
    margin-bottom: 10px;
  }
}

.eSchoolBodyWrapper{
  position:relative;
  height: auto;
  margin: auto;
}
.eSchoolCalenderContainer{
  height: auto;
  position: relative;
  margin-top: 40px;
  * {
    box-sizing: border-box;//Remove it after adding bootstrap grid to school page
  }
  .bCalendar {
    background: transparent;
  }

}
.eSchoolFixtureTab.eCalendar_tab h1{
  color: $blueColor;
}
.eSchoolFixtureTab.eCalendar_tab hr{
  border-color: $blueColor;
}

.eSchoolCalendarWrapper{
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eSchoolFixtureListItem{
  color: #333132;
  text-transform: none;
  display: flex;
  border-bottom: $BORDER;
  margin: 0 25px;
}

.eSchoolFixtureListItem h5{
  font-size: 14px;
  color: $blueColor;
}
.eSchoolFixtureListItem h2{
  font-size: 22px;
  font-weight: bold;
  color: #333132;
  text-transform: none;
  margin-bottom: 5px;
}
.eSchoolBlog{
  width: 960px;
  background: #FFFFFF;
  position: relative;
  float:left;
  height: 250px;
  margin: 40px 0 40px 125px;
  overflow:hidden;
  display: none;
}
//carousel styles
.carouselContainer{
  height: 250px;
  width: 2880px;
  background: #FFFFFF;
  overflow-x:scroll;
  overflow-y: hidden;
  position:relative;
  -webkit-transition: margin 1s;
  -moz-transition: margin 1s;
  -ms-transition: margin 1s;
  -o-transition: margin 1s;
  transition: margin 1s;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.testChildren{
  height: 248px;
  width: 958px;
  //border: 1px solid black;
  display:inline-block;
  text-align: center;
  position:relative;
  float:left;
}
.carouselChevron{
  position:absolute;
  top: 88px;
  left: 0;
  width: 64px;
  height: 64px;
  color:#FFFFFF;
}
.chevRight, .chevLeft, .chevUp, .chevDown{
  cursor: pointer;
}
.chevRight{
  left: 922px;
}
.chevUp{
  top: 0;
  left: 450px;
}
.chevDown{
  top: 230px;
  left: 450px;
}
.chevronMod{
  width: 40px !important;
  height: 64px !important;
}
.blogAuthorPicCarousel{
  width:300px;
  height:248px;
  float:left;
  position: relative;
  //border:1px solid red;
}
.authorPic{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border:1px solid #c8cdd0;
  border-radius: 50%;
  margin: 20px 20px 20px 55px;
  overflow: hidden;
}
.fixtureCarouselSchoolPic{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border:1px solid #c8cdd0;
  border-radius: 50%;
  margin: 20px 20px 20px 55px;
  overflow: hidden;
}
.fixtureCarouselSchoolPic img{
  width: 140px;
  height: 184px;
}
.fixtureCarouselSchoolComment{
  width: 300px;
  height:248px;
  float:left;
  font-style: italic;
  color:#8e908c;
  font-size: 16px;
  font-weight:500;
}
.authorPic img{
  width: 206px;
  height: 206px;
}
.blogCommentCarousel{
  width: 624px;
  height:248px;
  float:left;
  font-style: italic;
  color:#8e908c;
  font-size: 16px;
  font-weight:500;
  //border:1px solid blue;
}
.blogCommentCarousel blockquote{
  margin-top: 80px;
}
.blogCommentCarousel span{
  display: block;
  margin: 5px 5px 5px 120px;
  font-style: italic;
  color:#8e908c;
  font-weight:200;
}
.eSchoolHomeFooter{
  width: 100%;
  padding: 20px 0;

  position: relative;
  color:#898989;
}

.eSchoolHomeFooterCopyright {
  text-align: right;
  padding: 20px 0;
}
.carouselUpScroll{
  //overflow: hidden;
  //overflow-y: hidden;
  overflow: hidden;
  //height: 1200px;
  //border: 2px solid red;
  //overflow: -moz-scrollbars-none;
  //-ms-overflow-style: none;
}
.versusText{
  font-size: 64px;
  margin-top: 72px;
}
.carouselFixtureComment{
  font-size: 24px;
  margin-top:10px;
}
.fixtureCarouselParticipantName{
  position: absolute;
  top:  230px;
  left: 130px;
  color:#8e908c;
}
.eSchoolMainSlideOutBanner{
  position: absolute;
  display:inline-block;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background:transparent;
}

.eSchoolMainSlideOutBanner img{
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}
.transitionImage{
  -webkit-transition: all 0.5s ease-in-out, background 0.5s linear;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.eSchoolFixtureTab hr{
  position: absolute;
  width: 100%;
  border: solid 1px #007dbe;
}
.eSchoolFixtureTab h1{
  color: #293e6b;
  max-width: 180px;
  display: block;
  background: #fff;
  position: relative;
  margin: auto;
  top: 25px;
  z-index: 1;
  text-transform: uppercase;
}
.eSchoolCalenderFixtureTitle{
  background: $blueColor;
  color: $blueColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
}
.eSchoolCalenderFixtureItem{
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}
.eSchoolCalenderFixtureItem img{
  width: 30px;
}
.eSchoolNewsMoreInfo{
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  color: $blueColor;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
}
.eSchoolNewsItemLatest .eSchoolNewsMoreInfo{
  color: #fff;
  font-weight: bold;
}

.bFixtureMessage {
  max-width: 1150px;
  margin: 0 auto;

  font-size: 16px;
}

@media screen and (max-width: 992px){
  .eSchoolNewsItemDescription {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px){
  .eSchoolNewsItemDescription {
    width: 100%;
    margin-left: 0px;
    padding: 0 20px;
  }
}