@import "../!variables";

.bPublicMenu {
  display: inline-block;

  text-align: right;
}

.ePublicMenu_item {
  background: #ffffff;
  display: inline-block;

  font-size: 1.125rem;

  padding: 40px 25px;

  a, .bPublicMenu_login {
    color: $textColor;
  }
}

.ePublicMenuCollapsedItems{

  &.mShown {
    display: block;
  }
}

.ePublicMenu_toggle {
  cursor: pointer;
  display: none;

  position: absolute;
  right: 0;
  top: -55px;

  width: 50px;

  text-align: left;
  font-size: 30px;
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px){
  .ePublicMenu_item {
    padding: 40px 10px;
  }
}

/* Small Devices, Phones */
@media screen and (max-width: 767px){
  .bPublicMenu {
    display: block;
  }
  .ePublicMenu_toggle {
    display: block;
  }

  .ePublicMenuCollapsedItems{
    display: none;

    &.mShown {
      display: block;
      width: 100%;
    }
  }

  .ePublicMenu_item {
    width: 100%;
    padding: 15px;

    text-align: center;

    border-bottom: $mainBorder;
  }
}




//TODO Check whether the code below is used
.bPublicMenu_login{

}

.bPublicMenu_login .eForm_field{
  height:48px;
}
.bPublicMenu_login .eForm_fieldName{
  height:20px;
}
.bPublicMenu_login .mRight{
  height:25px;
  line-height: 25px;
  margin-top: 10px;
}
.bPublicMenu_login .bForm h2{
  margin-bottom: -30px;
}