@import "../!variables";

.bPublicMenu {
  display: inline-block;

  text-align: right;
}

.ePublicMenu_item {
  background: #ffffff;
  display: inline-block;
}

.ePublicMenu_link, .bPublicMenu_login {
  display: inline-block;

  padding: 45px 25px 35px;

  cursor: pointer;
  font-size: 1.125rem;
  color: $textColor;

  &:hover {
    color: $textColor;
    text-decoration: underline;
  }
}

.ePublicMenuCollapsedItems {

  &.mShown {
    display: block;
  }
}

.ePublicMenu_toggle {
  cursor: pointer;
  display: none;

  position: absolute;
  right: 0;
  top: -55px;

  width: 50px;

  text-align: left;
  font-size: 30px;
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {
    .ePublicMenu_link, .bPublicMenu_login {
      padding: 30px 15px 20px;
    }
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
    .ePublicMenu_link, .bPublicMenu_login {
      padding: 25px 5px;
    }
}

/* Small Devices, Phones */
@media screen and (max-width: 767px) {
  .bPublicMenu {
    display: block;
  }
  .ePublicMenu_toggle {
    display: block;
  }

  .ePublicMenuCollapsedItems {
    display: none;

    &.mShown {
      display: block;
      width: 100%;
    }
  }

  .ePublicMenu_item {
    width: 100%;
  }
  .ePublicMenu_link, .bPublicMenu_login {
    width: 100%;
    padding: 15px !important;

    text-align: center;

    border-bottom: $mainBorder;
  }

}

@media screen and (max-height: 900px) {
    .ePublicMenu_link, .bPublicMenu_login {
      padding: {
        top: 30px;
        bottom: 20px;
      }
    }
}

//TODO Check whether the code below is used
.bPublicMenu_login {

}

.bPublicMenu_login .eForm_field {
  height: 48px;
}

.bPublicMenu_login .eForm_fieldName {
  height: 20px;
}

.bPublicMenu_login .mRight {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
}

.bPublicMenu_login .bForm h2 {
  margin-bottom: -30px;
}