
.bRoleList{
  display: inline-block;
  &.mLogout{
    float: right;
  }
}

.bRoles{
  font-size: 14px;
  display: inline-block;
  height: 30px;
  padding: 16px 20px 14px 10px;
  position: relative;
  text-transform: none;
  margin: 0 10px;

  .eArrow{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
  }

  .eRolesList{
    display:none;
    position: absolute;
    top: 100%;
    right: 0px;
    margin-top: -7px;
    background-color: #eaeaea;
    border-width: 0px 1px;
    border-style: solid;
    border-color: $MAIN_COLOR;
    z-index: 100;

    .eScrollList{
      overflow-y: auto;
      max-height: 250px;

    }
    .eRole{
      padding: 10px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: $MAIN_COLOR;

      &.mLogout{
        text-align: center;
        line-height: 32px;
        font-size: 18px;
        text-transform: uppercase;
      }

      &:hover{
        background-color: $MAIN_COLOR;
      }
    }
  }

  .eRole{
    cursor: pointer;

    p {
      margin: 0px;
      line-height: 16px;
      text-align: left;
      white-space: nowrap;
      padding-right: 10px;
    }
  }

  &.mOpen{
    .eRolesList{
      display:block;
    }
  }
}