@import "../!variables";
@import "../!mixins";

.bRoleList{
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;

  &.mLogout {
    padding: 0;
  }
}

.bRoles{
  display: inline-block;
  position: relative;
  text-transform: none;

  .eRole {
    padding-left: 25px;
  }

  .eArrow{
    background: url(/images/down.png) no-repeat center top;
    left: 0;
    top: 9px;
    position: absolute;
    height: 100%;
    width: 25px;
  }

  .eRolesList{
    display:none;
    position: absolute;
    background-color: #ffffff;
    border: $mainBorder;
    border-radius: 7px;
    margin-top: 10px;
    right: 0;
    z-index: 100;

    .eScrollList{
      overflow-y: auto;
    }
    .eRole{
      border-bottom: $mainBorder;
      cursor: pointer;
      font-size: 1rem;
      padding: 18px 5px 16px;
      text-align: center;
      width: 100%;
      white-space: nowrap;

      &.mLogout{
        border-bottom: none;
      }

      &:hover{
        background: #fafafa;
      }
    }
  }

  &.mOpen{
    .eRolesList{
      display:block;
    }
  }
}

.mActive{
  text-align: left;
  .eRole_name,
  .eRole_schoolName{
	display: block;
  }

}

.eRole_name {
  display: inline-block;

  padding-top: 5px;
  vertical-align: top;

  color: #8c8c8c;
  text-transform: lowercase;
}
.eRole_schoolName {
  @include text-overflow;
  white-space: nowrap;

  max-width: 180px;
  padding-top: 5px;

  display: inline-block;
}