.bRoles{
  font-size: 14px;
  display: inline-block;
  height: 30px;
  padding: 16px 20px 14px 10px;
  cursor: pointer;
  position: relative;
  text-transform: none;
  margin: 0 10px;

  .eCurrentRole{

    .eArrow{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
    }
  }

  .eRolesList{
    display:none;
    position: absolute;
    top: 100%;
    left: 0px;
    margin-top: -10px;
    width: 107%;
    background-color: white;
    border-width: 0px 1px;
    border-style: solid;
    border-color: $MAIN_COLOR;

    .eScrollList{
      overflow-y: auto;
      max-height: 250px;

    }
    .eRole{
      padding: 10px;
      border-bottom-width: 1px;
      border-style: solid;
      border-color: $MAIN_COLOR;

      &.mLogout{
        text-align: center;
        line-height: 32px;
      }
    }
  }

  .eRole{
    p{
      margin: 0px;
      line-height: 16px;
      text-align: left;
    }
  }

  &.mOpen{

    .eRolesList{
      display:block;
    }

  }
}