.bSiteWrap{
  max-width: 1200px;
  clear: both;
  margin: 0 auto;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
  height:auto !important;
  height:100%;
  min-height:100%;
  background: white;
  position: relative;
}

