.bSubMenu {
  height: 55px;
  background: #333132;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  box-sizing: border-box;
  padding-left: 18px;
}

.eSubMenu_item {
  display: inline-block;
  flex: 0 1 auto;
  padding: 0 20px;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  font-size: 16px;
  color: #b2b2b2;
  letter-spacing: 0.5px;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}


.eSubMenu_item.mActive{
  color: #fff;
}

.eSubMenu_item:hover {
  color: #fff;
}

a.mDisabled{
  pointer-events: none;
}