@import '../!variables';

$submenu-color: #88adc9;
.bSubMenu {
  background-image: linear-gradient(to right, rgb(22,65,112)0%, rgb(12,112,176)100%);
  font-size: $menu-font-size;
  min-height: 60px;
  text-align: center;
  width: 100%;
}

.eSubMenu_item {
  color: $submenu-color;
  display: inline-block;
  overflow: hidden;
  padding: 22px 25px 0;
  position: relative;
  transition: color 0.2s;
  cursor: pointer;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  &.mActive{
    color: #fff;

    .bIcon {
      color: #fff;
    }
  }

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
  .bIcon {
    height: 28px;
    width: 28px;
    margin-right: 10px;
    color: $submenu-color;
    transition: color 0.2s;
    vertical-align: middle;
  }
}

a.mDisabled{
  pointer-events: none;
}

.bParentsPage .bSubMenu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bParentsPage .eSubMenu_item{
  padding: 0 25px;
  line-height: 20px;
}

.bIcon.allChildren{
  height: 28px!important;
  width: 45px!important;
}
