.bSubMenu {
  background-image: linear-gradient(0deg, rgb(0,100,150)0%, rgb(0,120,170)100%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  box-sizing: border-box;
}

.eSubMenu_item {
  display: inline-block;
  flex: 0 1 auto;
  padding: 0 12px;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.5px;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}


.eSubMenu_item.mActive{
  color: #fff;
  text-decoration: underline;
}

.eSubMenu_item:hover {
  color: #fff;
  text-decoration: underline;
}

a.mDisabled{
  pointer-events: none;
}

.bParentsPage .eSubMenu_item{
  text-transform: none;
  display: flex;
  align-items: center;
  line-height: 18px;
  box-sizing: border-box;
  font-weight: bold;
  border-bottom: solid transparent;
  padding: 0 0 0 10px ;
}
.bParentsPage .eSubMenu_item.mActive{
  color: $blueColor;
  border-bottom: solid $blueColor;
  .bIcon {
    color: $blueColor;
  }
}

.bParentsPage .eSubMenu_item .bIcon {
  height: 28px;
  width: 28px;
  vertical-align: middle;
  margin-right: 10px;
  color: #6d6e7e;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.bIcon.allChildren{
  height: 45px!important;
  width: 45px!important;
  vertical-align: middle!important;
  margin-right: 20px!important;
}
