@charset "UTF-8";

.bTopMenu {
  float: left;
  min-height: 60px;
  font-size: 0px;
  text-transform: uppercase;
}
.bPublicMenu{
  height: 60px;
  line-height: 50px;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  width:150px;
  float:right;
  margin-top: 90px;
  color: #fff;
  margin-right: 100px;
  display: none;
}

.bPublicMenu span.hBurgerIcon{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.hBurgerIcon img{
  height: 24px;
}
.bTopMenu.mRight {
  float: right;
  text-align: right;
  margin-right: 100px;
}
.bTopMenu.mRight a {
  font-size: 16px;
}
.bPublicMenu_icon{
  width: 40px !important;
  height: 20px !important;
  color: #FFFFFF !important;
}
.bPublicMenu_tray{
  background: rgba(76,175,80,0.5);
  height: auto;
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.5s, padding 0.5s;
  -moz-transition: width 0.5s, padding 0.5s;
  -ms-transition: width 0.5s, padding 0.5s;
  -o-transition: width 0.5s, padding 0.5s;
  transition: width 0.5s, padding 0.5s;
  z-index: 9999;
}
.bPublicMenu_show{
  width: 160px;
  padding: 20px;
  display: block;
}
.bPublicMenu_hide{
  width: 0;
  padding: 0;
  display: none;
}
.bPublicMenu_item{
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  width:inherit;
}
.bPublicMenu_item:hover{
  text-decoration: underline;
}

.eTopMenu_item {
  display: inline-block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.7px;
  color: $DarkGreen;
  vertical-align: top;
  position: relative;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.eTopMenu_item:hover,
.eTopMenu_item.mActive{
  //background: darken($MAIN_COLOR, 10% );
  color: white;
}

.eTopMenu_photo{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  color: white;
  border-radius: 50%;
  margin-top: 5px;
  float: right;
}

.eTopMenu_avatar_plug_wrapper {
  //margin: 15px 0px 0px 15px;
  text-align: left;
}
.eTopMenu_avatar_plug_wrapper .bIcon{
  width: 50px;
  height: 50px;
}
.eTopMenu_photo:hover{
  color: white;
}

.eTopMenu_photo:hover:after,
.eTopMenu_photo.mActive:after{
  content: 'Me';
  display: block;
  position: absolute;
  left: 0px;
  border-radius: 50%;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  background: rgba(0,0,0,0.2);
}

.eTopMenu_item .bIcon{
  margin-right: 7px;
  margin-top: -5px;
  vertical-align: middle;
}

.bTopMenu.mRight .eTopMenu_item .bIcon{
  margin-right: 0;
}
.eTopMenu_tray{
  position: absolute;
  height: 82px;
  width: 120px;
  left: 0;
  background-color: #4caf50;
  display:none;
}
.eTray_item{
  line-height: 40px;
  text-align: center;
}
.eTray_item:hover,
.eTray_item.mActive{
  background: darken($MAIN_COLOR, 10% );
  color: white;
}
.eTopMenu_trayActive{
  display:block;
}
.bPublicMenu_login{
  width: 100px;
  height: 30px;
  line-height: 34px;
  z-index: 1;
  position: relative;
  background: transparent;
  border: solid 3px #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.bPublicMenu_login_txt{
  margin: 0 10px 0 10px;
}
.loginChevronDwn{
  display: inline-block;
}
.bPublicMenu_login_holder{
  position:relative;
  cursor: pointer;
}
.bPublicMenu_login_tray{
  position: absolute;
  top:60px;
  left: 0;
  width:1200px;
  height: 300px;
  display: none;
}
.bPublicMenu_login_active{
}
.bPublicMenu_login .eForm_field{
  height:48px;
}
.bPublicMenu_login .eForm_fieldName{
  height:20px;
}
.bPublicMenu_login .mRight{
  height:25px;
  line-height: 25px;
  margin-top: 10px;
}
.bPublicMenu_login .bForm h2{
  margin-bottom: -30px;
}
.signInActive{
  display: block;
}
.forgottenLink{
  margin-top: -59px;
  position: absolute;
  color: #fff;
  left: 726px;
  top: 290px;
}
.forgottenLink:hover{
  text-decoration: underline;
}
.bTopPanel.schoolPanel{
  background: transparent;
  height: 0;
}
.bPublicLogin_wrap{
  position: absolute;
  top: 600px;
  width: 100%;
}