@import "../!variables";
@import "../bootstrap-custom";

/* .bTopPanel */
$HEADER_HEIGHT: 69px;

.bTopPanel {
  background: #ffffff;
  border-bottom: solid 1px #e6e6e6;
  color: $textColor;
  min-height: $HEADER_HEIGHT;
  z-index: 1;

  .bDropdown {

    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 40px;
    margin-left: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }

  &.mFixed {
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
  }

  .eTopPanel_container {
    @extend .container;
  }

  .eTopPanel_row {
    @include make-row();
  }

  .eTopPanel_col_small_4 {
    @include make-sm-column(4);
  }

  .eTopPanel_col_small_8 {
    @include make-sm-column(8);
  }

  .eTopPanel_right {
    display: block;
    text-align: right;
  }
}

/* Small Devices, Phones */
@media screen and (max-width: 768px){
  .bTopPanel.mSchoolPanel {
    min-height: 70px;
  }
}