@import "../!variables";

/* .bTopPanel */
$HEADER_HEIGHT: 69px;

.bTopPanel {
  background: #ffffff;
  border-bottom: solid 1px #e6e6e6;
  color: $textColor;
  clear: both;
  min-height: $HEADER_HEIGHT;
  position: relative;
  padding: 0 130px;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 992px) {
    padding: 0 30px;
  }

  .bDropdown {

    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 40px;
    margin-left: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }
}