.bTopLogo {
  cursor: pointer;
  float: left;
  margin: 5px 50px 0 0;
  text-transform: uppercase;
  text-align: center;
}
.bTopLogo .bIcon {
  width: 105px;
  height: 45px;
}
.bPublicLogo {
  float:left;
  padding: 8px 0 0;
}
.bLoginIcon {
  height: 200px;
  width: 200px;
}