.bTopLogo {
  float: left;
  text-transform: uppercase;
  text-align: center;
  margin: 5px 50px 0 0;
}
.bTopLogo .bIcon {
  width: 105px;
  height: 45px;
}
.bPublicLogo{
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  width:764px;
  float:left;
}
.bLoginIcon {
  height: 200px;
  width: 200px;
}