/* .bTopPanel */
$HEADER_HEIGHT: 60px;

.bTopPanel {
  background: $MAIN_COLOR;
  color: $DarkGreen;
  clear: both;
  min-height: $HEADER_HEIGHT;
  position: relative;
  padding: 0 130px;
  z-index: 1;

  .bDropdown {

    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 40px;
    margin-left: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }
}