.bClubChildrenManagerWrapper {
  width: 746px;
  margin: 0 auto;
  padding-top: 50px;
}

.eClubChildrenManagerWrapper_header {
  margin-bottom: 20px;
}

.eClubChildrenManagerWrapper_footer {
    margin-top: 20px;
}