.bClubChildrenManagerWrapper {
  margin: 0 auto;
  padding-top: 50px;
}

.bClubChildrenManagerWrapper_disabled {
  .ePlayerChooser_addToTeamButton {
    pointer-events: none;
  }
  .eTeam_removeButton {
    pointer-events: none;
  }
}

.eClubChildrenManagerWrapper_header {
  margin-bottom: 20px;
}

.eClubChildrenManagerWrapper_footer {
    margin-top: 20px;
}