@import "../!variables";

.bNotificationItem_container {
  max-width: 900px;
  margin: auto;

  .eNotificationItem_main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px auto;

    .eText{
      flex-basis: 650px;
      display: flex;
      flex-wrap: wrap;

      .eTextKey{
        flex-basis: 200px;
        margin-bottom: 25px;
        font-size: 1em;
        font-weight: bold;
        color: #aaaaaa;
      }

      .eTextValue{
        flex-basis: 450px;
        margin-bottom: 25px;

        .eDescriptor_link{
          color: $lightBlue;

          &:hover{
            color: #000;
          }
        }
      }
    }
  }

  .eNotificationItem_table {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    h3 {
      line-height: 20px;
    }
  }
}