.bFixturesStatics{
  margin: 35px 0 30px;
}

.eFixturesStatics_number{
  display: inline-block;
  vertical-align: top;
  margin-right: 55px;
}

.eFixturesStatics_value{
  display: inline-block;
  vertical-align: top;
  font-size: 35px;
  margin-right: 7px;
}

.eFixturesStatics_name{
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}

.eFixturesStatics_name.mTwoLines{
  font-size: 14px;
}