@import "../../!variables";

.bDataList{
  box-sizing: content-box;
  max-width: 1060px;
  padding: 0 11%;
  text-transform: none;

  &.mCentred {
    margin: 0 auto;
  }

  @media (max-width: 992px) {
    font-size: 14px;
    padding: 0 30px;
  }
  @media (max-width: 768px) {
    padding: 0 15px;
    overflow-x: auto;

    font-size: 12px;
  }
}

.eDataList_title{
  font-size: 10px;
  margin-bottom: 6px;
  padding-bottom: 5px;
  height: 30px;
  line-height: 30px;
}

.eDataList_title .bLinkLike{
  float: right;
}

.eDataList_panel{
  position: absolute;
  top: 0px;
}

.eDataList_listItem{
  box-sizing: border-box;
}

.eDataList_listItem.mHead{
  cursor: default;
  position: relative;
}

.eDataList_listItem.mHead .eDataList_listItemCell{
  border-bottom: solid 2px $blueColor;
  color: $blueColor;
  line-height: 30px;
}

.eDataList_listItem.mHead:hover{
  background: #fff;
  color: #000000;
}

.eDataList_list.mBlockView{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}


.eDataList_list.mTable{
  display: table;
  width: 100%;
  text-align: center;
}

.eDataList_list.mTable .eDataList_listItem{
  display: table-row;
}

.eDataList_listItemCell{
  box-sizing: border-box;
  display: table-cell;
  height: 38px;
  vertical-align: middle;
  border-bottom: solid 1px #c2c1c2;
  padding: 1px 3px;
  word-wrap: break-word;

  ul{
    li{
      padding: 2px;
    }
  }
  .eEmail{
    word-wrap: break-word;
    max-width: 180px;
  }
  .bIcon_invites{
	height: 30px;
	width: 30px;
  }
}

.eDataList_listItemCell .bLinkLike{
  display: inline-block;
  margin-left: 3px;
}
.bLinkLike.bViewBtn {
  vertical-align: middle;
}
.eDataList_listItem:hover .bLinkLike:hover{
  text-decoration: underline;
}


.eDataList_listItemCell.mActions{
  min-width: 70px;
  text-align: center;
  overflow: visible;
}

.eDataList_filterInput{
  font-size: 13px;
  padding: 3px 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 26px;
}

.eDataList_listItemColor{
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  border: $mainBorderStyle $darkGrey;
  border-radius: 50%;
}

.eDataList_parent {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.eDataList_parentName,
.eDataList_parentGender {
  display: inline-block;
  vertical-align: middle;
}
.eDataList_console{
  display: table-row-group;
}
.eDataList_accountRole{
  width: 40%;
}
.eDataList_accountRoleName{
  width: 20%
}
.eSchoolMaster_plus{
  color:green;
  margin-right: 10px;
  cursor:pointer;
}
.hideElement{
  display:none;
}
.showElement{
  display:table-cell !important;
}
.request-accepted{
  color:green;
}
.request-rejected{
  color:red;
}
.request-new{
  color:orange;
}
.eDataList_accountReqSchool{
  width: 30%;
}
.eDataList_accountReqRoles{
  width: 10%;
}
.eDataList_accountReqDetails{
  width: 30%
}
.eDataList_accountReqDate{
  width: 15%;
}
.eDataList_accountReqStatus{
  width: 15%;
}
.eLogDataList{
  width: 100%;
  height: auto;
}
.eLogDataList table{
  margin-top: 20px;
}
.eLogDataList table, .eLogDataList td{
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.eLogDataList td{
  text-align: center;
  padding: 4px;
}
.eLogDataList tr:hover{
  background: $blueColor;
  cursor: pointer;
}
.eLogDataList table tr th{
  border-collapse: collapse;
  border:1px solid black;
  padding: 10px;
  background: #c8cdd0;
  width: 17%;
}
.eLogDateTime{
  width: 25% !important;
}
.eLogDataList_header{
  background: $blueColor;
  padding:10px 0 10px 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
}
.eLogDataList_header span{
  padding-left: 10px;
}
.eLogDataList_filtering{
  padding-top: 10px;
}
.eLogDataList_filtering span{
  margin-left: 4px;
  cursor: pointer;
}
.eLogDataList_filtering span:hover{
  text-decoration: underline;
  color:$blueColor;
}
.ePagination{
  margin-top: 10px;
}
.ePage_num{
  display: inline-block;
  padding: 2px;
  width: 89%;
  height: auto;
  float:left;
}
.ePage_num span{
  margin: 2px;
  cursor: pointer;
}
.ePage_num span:hover{
  text-decoration: underline;
  color: $blueColor;
}
.perActive{
  text-decoration: underline;
  color: $blueColor;
}
.perInActive{
  text-decoration: none;
}
.ePage_limit{
  display: inline-block;
  width:10%;
  height: auto;
  float:left;
}
.filterInputInActive{
  display: none;
}
.filterInputActive{
  display: table-cell;
}
.eTable_view{
  padding-bottom: 30px;
}
.requestActions{
  cursor: pointer;
}

