.bDataList{
  margin-bottom: 40px;
  position: relative;
}

.eDataList_title{
  font-size: 18px;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

.eDataList_title .bLinkLike{
  float: right;
}

.eDataList_panel{
  position: absolute;
  top: 0px;
}

.eDataList_list{
  position: relative;
}

.eDataList_listItem{
  padding: 5px 20px;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.eDataList_listItem:hover{
  background: rgb(87, 142, 64);
  color: white;
}

.eDataList_listItem.mHead{
  cursor: default;
  font-weight: bold;
  position: relative;
}

.eDataList_listItem.mHead .eDataList_listItemCell{
  padding-top: 5px;
  padding-bottom: 20px;
}

.eDataList_listItem.mHead{
  font-size: 18px;
}

.eDataList_listItem.mHead:hover{
  background: #fff;
  color: #000000;
}

.eDataList_list.mBlockView{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}


.eDataList_list.mTable{
  display: table;
  width: 100%;
}

.eDataList_list.mTable .eDataList_listItem{
  display: table-row;
}

.eDataList_listItemCell{
  display: table-cell;
  padding: 10px 20px;
}

.eDataList_listItemCell .bLinkLike{
  display: inline-block;
  margin-left: 25px;
}

.eDataList_listItem:hover .bLinkLike {
  color: white;
}

.eDataList_listItem:hover .bLinkLike:hover{
  text-decoration: underline;
}


.eDataList_listItemCell.mActions{
  width: 215px;
  text-align: right;
}

.eDataList_filter{
  margin-top: 10px;
}

.eDataList_filterInput{
  font-size: 13px;
  padding: 3px 0px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.eDataList_listItemColor{
  display: inline-block;
  height: 13px;
  width: 13px;
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  border: 1px solid #ccc;
}

.eDataList_parent {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.eDataList_parentName,
.eDataList_parentGender {
  display: inline-block;
  vertical-align: middle;
}
.eDataList_console{
  display: table-row-group;
}
.eDataList_accountRole{
  width: 40%;
}
.eDataList_accountRoleName{
  width: 20%
}
.eSchoolMaster_plus{
  color:green;
  margin-right: 10px;
  cursor:pointer;
}
.hideElement{
  display:none;
}
.showElement{
  display:table-cell !important;
}
.roleAccepted{
  color:green;
}
.roleDeclined{
  color:red;
}
.rolePending{
  color:orangered;
}
.eDataList_accountReqSchool{
  width: 30%;
}
.eDataList_accountReqRoles{
  width: 10%;
}
.eDataList_accountReqDetails{
  width: 30%
}
.eDataList_accountReqDate{
  width: 15%;
}
.eDataList_accountReqStatus{
  width: 15%;
}
.eLogDataList{
  width: 100%;
  height: auto;
}
.eLogDataList table{
  margin-top: 20px;
}
.eLogDataList table, .eLogDataList td{
  border: 1px solid #cccccc;
  border-collapse: collapse;
}
.eLogDataList td{
  text-align: center;
  padding: 4px;
}
.eLogDataList tr:hover{
  background: $MAIN_COLOR;
  cursor: pointer;
}
.eLogDataList table tr th{
  border-collapse: collapse;
  border:1px solid black;
  padding: 10px;
  background: #c8cdd0;
  width: 17%;
}
.eLogDateTime{
  width: 25% !important;
}
.eLogDataList_header{
  background: $MAIN_COLOR;
  padding:10px 0 10px 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
}
.eLogDataList_header span{
  padding-left: 10px;
}
.eLogDataList_filtering{
  padding-top: 10px;
}
.eLogDataList_filtering span{
  margin-left: 4px;
  cursor: pointer;
}
.eLogDataList_filtering span:hover{
  text-decoration: underline;
  color:$MAIN_COLOR;
}
.ePagination_container{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  position:relative;
  float:left;
}
.ePage_num{
  display: inline-block;
  padding: 2px;
  width: 89%;
  height: auto;
  float:left;
}
.ePage_num span{
  margin: 2px;
  cursor: pointer;
}
.ePage_num span:hover{
  text-decoration: underline;
  color: $MAIN_COLOR;
}
.perActive{
  text-decoration: underline;
  color: $MAIN_COLOR;
}
.perInActive{
  text-decoration: none;
}
.ePage_limit{
  display: inline-block;
  width:10%;
  height: auto;
  float:left;
}
.filterInputInActive{
  display: none;
}
.filterInputActive{
  display: table-cell;
}
.eTable_view{
  border-bottom: 2px solid #c8cdd0;
}