.bNewPopup {
  display: inline-block;
  position: relative;

  width: 35%;
  min-width: 300px;
  max-width: 400px;

  z-index: 10000;

  background: white;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;

  padding: 30px;
  vertical-align: middle;

  font-size: 18px !important;

  // TODO Remove it, when new forms design will be added
  input {
    background: #f5f5f5;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    margin: 30px 0;
    text-indent: 10px;
    width: 100%;
  }
  .mInvalid input, input:focus, input:hover {
    border-width: 1px;
  }
  .eForm_fieldValidText {
    top: 40%;
  }
  .bButton {
    border-radius: 5px;
    box-sizing: border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 18px;
    height: 50px;
    margin: 0;
    padding: 17px;
    width: 100%;
    vertical-align: bottom;
  }
  .bForm,.eForm_field {
    margin: 0!important;
    padding: 0!important;
  }

  .ePopupText {
    display: inline-block;
    line-height: 1.6;
    padding: 45px 60px;
  }
}