@import "../../!variables";

.bSocialNetwork_button{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    width: 230px;
    cursor: pointer;
}

.bFacebook {
    background-color: #3B5998;
}

.bGoogle {
    background-color: #D34836;
}

.bSquad {
    background-color: #1DAEE3;
}

.bRegistrationPermissionsStep {
    width: 460px;
    margin-left: 40px;

    .bForm {
        margin: 0;
    }

    .bConfirmPopup {
      top: 35%;
      border-radius: 5px;
      max-width: 650px;

      .bFinishSubtitle {
        color: #333132;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 25px;

        span {
          font-weight: bold;
          color: #007abf;
        }
      }

      .bFinishBody {
        text-align: center;
        max-width: 600px;
        line-height: 20px;
      }

      .eConfirmPopup_footer {
        text-align: center;

        .bButton {
          min-width: 110px;
        }
      }
    }

    .eForm_savePanel {
        padding: 20px 0;
        justify-content: center;
    }

    .bRegistrationMain {
        .bRegistrationOptions {
            margin-bottom: 30px;

            & > div {
                border-radius: 3px;
                background-color: rgba(0, 122, 191, 0.05);
                padding: 20px 40px 20px 20px;
                margin-bottom: 20px;
                position: relative;
                text-align: center;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

                input[type="radio"] {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    margin: 10px 0 0 7px;

                    & + label {
                        padding: 0 0 0 35px;
                        cursor: pointer;
                        display: block;
                    }

                    & + label:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;
                        left: 18px;
                        width: 18px;
                        height: 18px;
                        border: 1px solid #333132;
                        border-radius: 50px;
                        background: #FFF;
                    }

                    & + label:after {
                        content: '';
                        position: absolute;
                        top: 49%;
                        margin-top: -6px;
                        left: 21px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50px;
                        background: #007abf;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
                        opacity: 0;
                        transition: .2s;
                    }

                    &:checked + label:after {
                        opacity: 1;
                    }

                    &:focus + label:before {
                        box-shadow: 0 0 0 3px rgba(0,122,191,.1);
                    }
                }
            }
        }

        .bRegistrationControlButtons {
            text-align: center;

            button {
                margin: 0 10px;
                min-width: 110px;
            }
        }

    }

    .eRegistration_verification {
       margin-left: 0;
    }

    .eTextWrapper {
        width: 460px;
        margin: 25px auto 0;

        .eText{
            flex-basis: 650px;
            display: flex;
            flex-wrap: wrap;

            .eTextKey{
                flex-basis: 150px;
                margin-bottom: 25px;
                font-size: 1em;
                font-weight: bold;
                color: #aaaaaa;
            }

            .eTextValue{
                flex-basis: 310px;
                margin-bottom: 25px;
            }
        }
    }

  .eForm_fieldColumn {
    width: 250px;
  }
}

