.bSocialNetwork_button{
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    width: 230px;
    cursor: pointer;
}

.bFacebook {
    background-color: #3B5998;
}

.bGoogle {
    background-color: #D34836;
}

.bSquad {
    background-color: #1DAEE3;
}

