.bPopupBack {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;

  &:after{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
  }

  &.mAcitve {
    display: block;
  }

}

body.mShowPopup {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0
}