$chooserSize: 100px;
$chooserIconSize: 35px;

.bRegistration {
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  word-spacing: 3px;
}

.eRegistration_annotation {
  font-size: 18px;
  color: $COLOR;
}

// permissions chooser
.eRegistration_chooser {
  display: flex;
  flex-flow: column wrap;
  width: auto;
  margin: 15px;
  justify-content: space-around;
}

.eRegistration_chooserItem {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: baseline;
  &.mActive .eChooserItem_wrap{
    cursor: default;
    border-color: $COLOR;
    border-radius: 50%;
  }
}
.eRegistration_chooserItem.mActive .eChooserItem_inside {
  display: block;
}
.eRegistration_chooserItem.mActive .eRegistration_chooserTitle {
  color: $COLOR;
}
.eChooserItem_wrap {
  display: flex;
  width: 12px;
  height: 12px;
  border: $BORDER;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.eChooserItem_inside {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $COLOR;
}

.eRegistration_chooserItem .bIcon {
  color: #000;
  display: flex;
  width: $chooserIconSize;
  height: $chooserIconSize;
}

.eRegistration_chooserTitle {
  text-transform: capitalize;
  margin-left: 10px;
  color: #a9a9a9;
}

.eRegistration_permissionsField {
  display: flex;
  flex-flow: column nowrap;
  float:left;
}
.eRegistration_permissions {
  margin-left: 40px;
  width: 360px;
}
.eRegistration_permissionsField input {
  width: 200px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 5px;
}
.eRegistration_permissions p{
  font-size: 12px;
  margin-bottom: 40px;
}
// registrations field

.eRegistration_label {
  display: block;
  margin: 10px 12px;
}

.eRegistration_labelField {
  display: inline-block;
  width: 150px;
  color: $COLOR;
}

.eRegistration_input {
  width: 200px;
}

.eRegistration_label .bButton {
  margin-left: 5px;
  font-size: 12px;
  padding: 5px;
}
.eRegistration_permissionStep{
  height:auto;
  width:100%;
  float:left;
}
.bRegistration .bForm {
  max-width: 360px;
  padding: 0;
  margin-left: 40px;
}
.bRegistrationTitle {
  color: $COLOR;
  font-weight: normal;
  text-align: center;
  margin: 40px;
  font-size: 30px;
  display: none;
}
.bRegistrationTitle.mActive {
  display: block;
}
.eRegistration_verification {
  max-width: 360px;
  margin-left: 40px;
}
.bRegisterMessage {
  max-width: 350px;
  color: #a9a9a9;
  text-align: center;
  margin-left: 40px;
}