@import "../../!variables";
@import "../../!mixins";

$chooserSize: 100px;
$chooserIconSize: 35px;

.bRegistration {
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eRegistration_annotation {
  font-size: 18px;
  color: $COLOR;
}

// permissions chooser
.eRegistration_chooser {
  display: flex;
  flex-flow: column wrap;
  width: auto;
  margin: 15px;
  justify-content: space-around;
}

.eRegistration_chooserItem {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: baseline;
  &.mActive .eChooserItem_wrap{
    background: url("/images/icons/circle.svg") no-repeat;
    background-size       : cover;
    background-position-x : 50%;
    background-position-y : 50%;
    border: none;
    border-radius: 0;
    cursor: default;
  }
  &.mActive .eRegistration_chooserTitle {
    color: $COLOR;
  }
}

.eChooserItem_wrap {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: $BORDER;
  border-radius: 50%;
}

.eRegistration_chooserItem .bIcon {
  color: #000;
  display: flex;
  width: $chooserIconSize;
  height: $chooserIconSize;
}

.eRegistration_chooserTitle {
  text-transform: capitalize;
  margin-left: 10px;
  color: #a9a9a9;
}

.eRegistration_permissionsField {
  display: flex;
  flex-flow: column nowrap;
  float:left;

  .eRegistration_input, .bCombobox {
    width: 215px;
    margin-bottom: 10px;
    padding: 5px 0;

    input {
      @include text-overflow;
      padding-right: 20px;
    }
  }
}
.eRegistration_permissions {
  margin-left: 40px;
  width: 360px;
}

.eRegistration_permissions p{
  font-size: 12px;
  margin-bottom: 40px;
}
// registrations field

.eRegistration_label {
  display: block;
  margin: 10px 0 10px 0;
}

.eRegistration_labelField {
  display: block;
}

.eRegistration_input {
  width: 200px;
}

.eRegistration_permissionStep{
  height:auto;
  width:100%;
  float:left;
}
.bRegistration {
  .bForm {
  max-width: 460px;
  padding: 0;
  margin-left: 40px;
}
}
.bRegistrationTitle {
  color: $COLOR;
  font-weight: normal;
  text-align: center;
  margin: 40px;
  font-size: 30px;
  display: none;
}
.bRegistrationTitle.mActive {
  display: block;
}

.eRegistration_verificationWrapper {
  margin-left: 90px;
}

.eRegistration_verification {
  max-width: 360px;
  margin-left: 40px;
}
.bRegisterMessage {
  max-width: 350px;
  color: #a9a9a9;
  text-align: center;
  margin-left: 40px;
}