$chooserSize: 100px;
$chooserIconSize: 35px;

.bRegistration {
  padding: 20px 0;
  max-width: 700px;
  margin: 0 auto;
}

.eRegistration_annotation {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

// permissions chooser
.eRegistration_chooser {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  margin: 15px auto;
  justify-content: space-around;
}

.eRegistration_chooserItem {
  display: flex;
  flex-flow: column nowrap;
  width: $chooserSize;
  height: $chooserSize;
  border: 3px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  &.mActive {
    cursor: default;
    border-color: $MAIN_COLOR;
  }
}

.eRegistration_chooserItem .bIcon {
  color: #000;
  display: flex;
  width: $chooserIconSize;
  height: $chooserIconSize;
}

.eRegistration_chooserTitle {
  margin-top: 5px;
}

.eRegistration_permissionsField {
  display: flex;
  flex-flow: column nowrap;
}

.eRegistration_permissionsField input {
  width: 200px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 5px;
}

// registrations field

.eRegistration_label {
  display: block;
  margin: 10px auto;
}

.eRegistration_labelField {
  display: inline-block;
  width: 150px;
}

.eRegistration_input {
  width: 300px;
}

.eRegistration_label .bButton {
  margin-left: 5px;
  font-size: 12px;
  padding: 5px;
}