.bSettings_top {
  padding: 40px 130px 10px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.bSettings_name {
  display: block;
  font-size: 25px;
  span{
    margin-right: 5px;
  }
}