.bUserNotifications{
	padding: 0 11%;
}
.eUserNotificationsTitle{
	font-size: 16px;
	text-transform: uppercase;

	margin-top: 25px;
	margin-bottom: 25px;
}
.eUserNotificationsText{
	display: inline-block;
}
.eUserNotificationsButtons{
	margin-top: 25px;
}