@import "../../!variables";

.bUserColumn{
  background: #333132;
  float: left;
  height: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 30px;
  box-sizing: border-box;
  margin-top: 5px;
  text-transform: none;
  font-weight: bold;
  width: 340px;
}

.bUserDataColumn{
  background: white;
  height: 100%;
  margin: 5px;
  float: left;
  border: $BORDER;
  width: 70%;
  min-height: 250px;

  .bLoader{
    margin: 20px;
  }
}
.bParentView{
}

.bUserDataColumn .eSubMenu_item{
  position: relative;
  left: 3px;
}

.eUserColumnData{
  box-sizing: border-box;
  padding: 20px;
}
.bUserDataColumn h3 {
  text-transform: uppercase;
}

.bUserColumn h6{
  font-weight: bold;
}

.eUserDataColumn_wrap{
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  left: 3px;
}
.eUserFullInfo_block h3{
  margin-bottom: 5px;
}
















